In [1]:
import pandas as pd
import numpy as np

In [7]:
COVID = pd.read_csv('us-states_07-15.csv')
COVID.head()

        date       state  fips  cases  deaths
0  1/21/2020  Washington    53      1       0
1  1/22/2020  Washington    53      1       0
2  1/23/2020  Washington    53      1       0
3  1/24/2020    Illinois    17      1       0
4  1/24/2020  Washington    53      1       0

In [8]:
COVID.dtypes

date      object
state     object
fips       int64
cases      int64
deaths     int64
dtype: object

In [9]:
COVID['date'] = pd.to_datetime(COVID['date'])
COVID = COVID.drop(columns = ['fips'])
COVID = COVID.rename(columns = {'state':'State'})

In [10]:
COVID.dtypes

date      datetime64[ns]
State             object
cases              int64
deaths             int64
dtype: object

In [11]:
COVID = COVID.loc[COVID['date'] == COVID['date'].max()]
COVID.head()

           date       State   cases  deaths
7384 2020-07-15     Alabama   59067    1211
7385 2020-07-15      Alaska    1954      15
7386 2020-07-15     Arizona  131411    2442
7387 2020-07-15    Arkansas   30297     335
7388 2020-07-15  California  355497    7368

In [12]:
COVID.shape

(55, 4)

In [13]:
COVID = COVID.reset_index(drop = True)
COVID.head()

        date       State   cases  deaths
0 2020-07-15     Alabama   59067    1211
1 2020-07-15      Alaska    1954      15
2 2020-07-15     Arizona  131411    2442
3 2020-07-15    Arkansas   30297     335
4 2020-07-15  California  355497    7368

In [14]:
COVID = COVID.drop(columns = ['date'])
COVID.head()

        State   cases  deaths
0     Alabama   59067    1211
1      Alaska    1954      15
2     Arizona  131411    2442
3    Arkansas   30297     335
4  California  355497    7368

In [15]:
COVID.to_csv('COVID.csv')