In [22]:
import pandas as pd
import numpy as np

In [23]:
COVID = pd.read_csv('us-states.csv')
COVID.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [24]:
COVID.dtypes

date      object
state     object
fips       int64
cases      int64
deaths     int64
dtype: object

In [25]:
COVID['date'] = pd.to_datetime(COVID['date'])
COVID = COVID.drop(columns = ['fips'])
COVID = COVID.rename(columns = {'state':'State'})

In [26]:
COVID.dtypes

date      datetime64[ns]
State             object
cases              int64
deaths             int64
dtype: object

In [27]:
COVID = COVID.loc[COVID['date'] == COVID['date'].max()]
COVID.head()

           date       State   cases  deaths
5789 2020-06-16     Alabama   26912     785
5790 2020-06-16      Alaska     751      10
5791 2020-06-16     Arizona   39298    1228
5792 2020-06-16    Arkansas   13191     188
5793 2020-06-16  California  159098    5202

In [28]:
COVID.shape

(55, 4)

In [29]:
COVID = COVID.reset_index(drop = True)
COVID.head()

        date       State   cases  deaths
0 2020-06-16     Alabama   26912     785
1 2020-06-16      Alaska     751      10
2 2020-06-16     Arizona   39298    1228
3 2020-06-16    Arkansas   13191     188
4 2020-06-16  California  159098    5202

In [30]:
COVID = COVID.drop(columns = ['date'])
COVID.head()

        State   cases  deaths
0     Alabama   26912     785
1      Alaska     751      10
2     Arizona   39298    1228
3    Arkansas   13191     188
4  California  159098    5202

In [31]:
COVID.to_csv('COVID.csv')