# Import the libraries

In [1]:
#Numpy for numerical computing
import numpy as np

#Pandas for DataFrames
import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt

from sklearn import datasets, linear_model, metrics
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

from numpy.polynomial.polynomial import polyfit
from sklearn.preprocessing import PolynomialFeatures
import matplotlib.pyplot as plt

# Load the dataset

In [4]:
#Load Real Estate Data from csv

df = pd.read_csv('C:\\NachuMohan\\Saint_Peters_University\\GA_Summer2020\\Demographic_newversion.csv')

In [5]:
df

,State,Total Population,Total population_Male,Total population_Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,...,Native Hawaiian and Other Pacific Islander,Some other race,Total population!!White,Total population_Black or African American,Total population_American Indian and Alaska Native,Total population_Asian,Total population_Native Hawaiian and Other Pacific Islander,Total population_Some other race,Total population_HISPANIC OR LATINO,Total population_Not Hispanic or Latino
0,Illinois,12741080,6266062,6475018,759456,762237,838140,835845,839026,1765517,...,5317,712778,9431680,1952694,100555,831487,16444,776129,12741080,10532212
1,Iowa,3156145,1564888,1591257,197883,197454,215222,220659,220135,394507,...,3463,30713,2909568,151562,27116,98900,6579,37007,3156145,2964672
2,Missouri,6126452,3003165,3123287,370408,373737,401199,391923,406398,819132,...,7385,56557,5196815,794984,79954,159166,13760,66685,6126452,5872978
3,Nevada,3034392,1522374,1512018,184539,188880,201625,182398,180376,442713,...,19612,358786,2050048,337660,71817,318010,41746,390057,3034392,2153247
4,Pennsylvania,12807060,6271620,6535440,700416,708163,775827,815621,812406,1695073,...,5008,307572,10543254,1632035,89728,536235,18764,355417,12807060,11832297
5,Utah,3161105,1592457,1568648,250194,257110,270952,250173,260774,463344,...,29362,171456,2800377,58241,56454,115638,47609,191869,3161105,2710885
6,West Virginia,1805832,894657,911175,93922,97203,107390,112776,113760,209002,...,451,6430,1712618,89894,9599,19875,2577,8067,1805832,1780263
7,Colorado,5695564,2864761,2830803,335642,352145,364535,368833,374122,889656,...,7585,196831,4997140,311745,126983,254210,19880,237478,5695564,4460437
8,Georgia,10519475,5120290,5399185,645488,683042,739018,754377,719378,1442243,...,14049,301148,6365137,3487272,92014,509357,26155,348034,10519475,9497721
9,Idaho,1754208,882158,872050,113693,123959,129947,127012,115850,228080,...,2763,59217,1626499,22173,41448,45610,7162,71096,1754208,1531744
10,Maryland,6042718,2930350,3112368,361435,364571,385477,379728,384168,826526,...,7311,304042,3489566,1932303,60221,459537,15994,335682,6042718,5414283
11,New Jersey,8908520,4350386,4558134,517694,517905,573092,556312,554274,1151093,...,2909,604334,6154690,1335579,56649,956049,11641,664813,8908520,7069161
12,New Mexico,2095428,1039641,1055787,118494,127795,151078,142717,138863,279153,...,2465,144961,1658939,61079,226911,47195,4997,168030,2095428,1066199
13,Ohio,11689442,5732095,5957347,693129,691126,752239,773272,752641,1533104,...,4228,112136,9794421,1674699,104484,345724,13486,141318,11689442,11233524
14,Alaska,737438,382952,354486,52173,52544,49747,48514,49107,117688,...,7958,9780,529846,36659,149430,63855,14092,13875,737438,684369
15,Florida,21299325,10404676,10894649,1135392,1127602,1244592,1234024,1255590,2758515,...,12841,708740,16428821,3731939,171405,774567,43479,818951,21299325,15736873
16,Hawaii,1420491,710702,709789,87437,84434,84576,77860,90595,201025,...,144971,18052,600675,53844,30383,807332,383172,45189,1420491,1269135
17,Massachusetts,6902149,3350887,3551262,357223,369278,392598,457341,492981,990332,...,2775,303331,5538925,666025,52093,540441,8234,348753,6902149,6055369
18,South Carolina,5084127,2468707,2615420,287356,307540,323598,340480,332798,654355,...,4004,92980,3511420,1423790,53066,107491,9865,111572,5084127,4789625
19,District of Columbia,702455,334208,368247,45490,32857,33386,37568,52978,163467,...,397,30897,315977,333496,6722,38036,1160,35616,702455,623206
20,Maine,1338404,655734,682670,63410,67860,72549,77325,73878,159944,...,465,3264,1289950,27637,22607,23286,1880,5459,1338404,1315993
21,North Carolina,10383620,5052244,5331376,597192,620626,679947,701383,682328,1382310,...,10218,326630,7347405,2398801,205652,376535,24349,358550,10383620,9388091
22,South Dakota,882235,445271,436964,60427,58765,61566,59836,58791,116300,...,51,5782,763432,26781,92049,17534,819,6550,882235,848252
23,Alabama,4887871,2369271,2518600,288589,290369,321430,332209,317810,635976,...,1797,84027,3394273,1349621,62780,89230,5925,93147,4887871,4676386
24,Indiana,6691878,3295973,3395905,417774,430155,451395,459222,465439,874246,...,3470,162303,5703463,739547,48290,193559,11281,191174,6691878,6219459
25,Kentucky,4468402,2199021,2269381,273489,279978,285833,288944,300744,579520,...,4943,51887,3974518,422416,29444,87095,9563,62137,4468402,4306896
26,Louisiana,4659978,2276530,2383448,301857,297439,317930,308126,308893,645255,...,1133,65366,2966465,1565302,58123,101220,6181,75404,4659978,4420024
27,Tennessee,6770010,3302191,3467819,404439,413172,434765,439465,437346,914783,...,5494,101153,5373382,1217973,55944,155876,12962,115232,6770010,6397109
28,Vermont,626299,308118,318181,28810,32019,33938,42229,43479,75058,...,139,2815,600494,12187,7315,15706,806,3240,626299,613849
29,Washington,7535591,3766859,3768732,458194,466487,468155,452515,475177,1153369,...,53924,344853,6041370,422547,226088,857031,95373,398348,7535591,6565238
30,Michigan,9995915,4926816,5069099,569183,587011,619055,660528,690292,1291353,...,3907,118467,8092824,1519646,146197,393744,11157,145988,9995915,9478534
31,Nebraska,1929268,961213,968055,131156,129861,136769,132609,132433,256755,...,1289,46473,1720346,114414,35790,63282,3142,55747,1929268,1714785
32,New Hampshire,1356458,669442,687016,62857,68935,76872,91832,85214,167822,...,515,9013,1282576,34419,11622,46745,1884,11005,1356458,1303810
33,Oklahoma,3943079,1950076,1993003,258036,262116,277994,270953,266367,542736,...,3859,110013,3124653,365013,533348,111634,8929,126533,3943079,3514000
34,Oregon,4190713,2079943,2110770,230515,236914,253861,252056,264987,592655,...,18758,137973,3697861,122063,124112,257861,33831,165867,4190713,3634316
35,Rhode Island,1057315,515900,541415,54430,56691,55343,74635,75521,146349,...,883,59743,881270,86469,11871,45191,2378,65845,1057315,888974
36,Wisconsin,5813568,2891282,2922286,330651,342754,374768,378566,394807,735765,...,1961,121475,5091797,440836,90189,201356,5350,139088,5813568,5409735
37,Wyoming,577737,292619,285118,35395,34937,40645,40744,32880,77254,...,1111,8798,541280,8296,21867,8317,1347,10603,577737,519842
38,Puerto Rico,3195153,1520415,1674738,125796,167470,181046,210051,222760,381445,...,767,551773,2225568,544587,11722,6884,1245,564119,3195153,41136
39,Arkansas,3013825,1476680,1537145,188092,192523,203502,208021,199748,392937,...,9398,84917,2387735,487767,63583,60225,13359,92978,3013825,2783525
40,California,39557045,19673553,19883492,2428493,2398894,2646096,2557470,2710448,6034398,...,155739,5453229,25188735,2788457,799889,6717391,333780,5943787,39557045,24016903
41,Delaware,967171,467924,499247,54335,51828,62410,59345,59553,127399,...,896,19652,681901,234961,10015,45175,1338,22505,967171,875196
42,Kansas,2911510,1449745,1461765,186990,190475,208695,204915,209009,376422,...,2929,73293,2544721,218001,64801,107317,8989,83074,2911510,2563067
43,Minnesota,5611179,2793980,2817199,354932,360713,370367,356388,359550,759541,...,2396,102814,4787851,445288,112850,328249,7964,118258,5611179,5303166
44,Mississippi,2986530,1446829,1539701,177761,191591,216172,219044,204679,379027,...,1372,29778,1776445,1161529,20404,38212,4583,33358,2986530,2899404
45,Montana,1062305,534782,527523,61688,61732,67916,67386,67822,133976,...,990,5828,972128,9491,87853,15317,2773,8847,1062305,1020700
46,Virginia,8517685,4190738,4326947,502102,514779,534414,564667,579716,1170188,...,5659,215743,6043577,1807434,90683,688297,19169,253957,8517685,7704875
47,Arizona,7171646,3565129,3606517,434032,441613,488738,477306,489653,979328,...,15661,373688,5838911,432062,424955,322251,32684,429942,7171646,4905304
48,Connecticut,3572665,1740533,1832132,181224,191879,224026,242294,239846,447891,...,1017,195208,2787851,461513,35881,195312,6283,220518,3572665,2982855
49,New York,19542209,9491313,10050896,1139842,1078979,1154737,1202251,1294057,2872898,...,9424,1689845,12879039,3396032,207373,1879261,30852,1854260,19542209,15789686
50,North Dakota,760077,391222,368855,52175,50804,47274,46455,62590,116734,...,339,9569,668212,29988,50434,18212,1168,11370,760077,732633
51,Texas,28701845,14250184,14451661,2010781,1984419,2171522,2069341,1988685,4181960,...,21463,1709445,21759347,3827321,351369,1648133,61344,1878367,28701845,17333001
52,United States,327167439,161118151,166049288,19646315,19805900,21392922,21445493,21717962,45344674,...,626054,16253785,245860228,46261485,5710410,22137269,1468239,18146776,327167439,267403808

# Finding the datatypes in a dataframe

In [6]:
df.dtypes

State                                                          object
Total Population                                                int64
Total population_Male                                           int64
Total population_Female                                         int64
Under 5 years                                                   int64
5 to 9 years                                                    int64
10 to 14 years                                                  int64
15 to 19 years                                                  int64
20 to 24 years                                                  int64
25 to 34 years                                                  int64
35 to 44 years                                                  int64
45 to 54 years                                                  int64
55 to 59 years                                                  int64
60 to 64 years                                                  int64
65 to 74 years                                                  int64
75 to 84 years                                                  int64
85 years and over                                               int64
RACE_Total population                                           int64
White                                                           int64
Black or African American                                       int64
American Indian and Alaska Native                               int64
Asian                                                           int64
Asian Indian                                                   object
Asian Chinese                                                  object
Asian Filipino                                                 object
Asian Japanese                                                 object
Asian Korean                                                   object
Asian Vietnamese                                               object
Other Asian                                                    object
Native Hawaiian and Other Pacific Islander                      int64
Some other race                                                 int64
Total population!!White                                         int64
Total population_Black or African American                      int64
Total population_American Indian and Alaska Native              int64
Total population_Asian                                          int64
Total population_Native Hawaiian and Other Pacific Islander     int64
Total population_Some other race                                int64
Total population_HISPANIC OR LATINO                             int64
Total population_Not Hispanic or Latino                         int64
dtype: object

# Summarize the dataset

In [19]:
df.describe()

,Total Population,Total population_Male,Total population_Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,35 to 44 years,...,Native Hawaiian and Other Pacific Islander,Some other race,Total population!!White,Total population_Black or African American,Total population_American Indian and Alaska Native,Total population_Asian,Total population_Native Hawaiian and Other Pacific Islander,Total population_Some other race,Total population_HISPANIC OR LATINO,Total population_Not Hispanic or Latino
count,5.300000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.300000e+01,...,53.000000,5.300000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.300000e+01
mean,1.240623e+07,6.108617e+06,6.297610e+06,7.437439e+05,7.505523e+05,8.106960e+05,8.132271e+05,8.237488e+05,1.718317e+06,1.573470e+06,...,23639.150943,6.237612e+05,9.319736e+06,1.755992e+06,2.157083e+05,8.354985e+05,5.542874e+04,6.954278e+05,1.240623e+07,1.009149e+07
std,4.465386e+07,2.199259e+07,2.266136e+07,2.684228e+06,2.704223e+06,2.922211e+06,2.927071e+06,2.965118e+06,6.199095e+06,5.669221e+06,...,89224.600392,2.328621e+06,3.349320e+07,6.318398e+06,7.820824e+05,3.133830e+06,2.093063e+05,2.592819e+06,4.465386e+07,3.635868e+07
min,5.777370e+05,2.926190e+05,2.851180e+05,2.881000e+04,3.201900e+04,3.338600e+04,3.756800e+04,3.288000e+04,7.505800e+04,7.011300e+04,...,51.000000,2.815000e+03,3.159770e+05,8.296000e+03,6.722000e+03,6.884000e+03,8.060000e+02,3.240000e+03,5.777370e+05,4.113600e+04
25%,1.805832e+06,8.946570e+05,9.111750e+05,1.136930e+05,1.239590e+05,1.299470e+05,1.270120e+05,1.158500e+05,2.280800e+05,2.197130e+05,...,1133.000000,3.089700e+04,1.658939e+06,8.989400e+04,3.579000e+04,4.674500e+04,4.583000e+03,4.518900e+04,1.805832e+06,1.315993e+06
50%,4.468402e+06,2.199021e+06,2.269381e+06,2.734890e+05,2.799780e+05,2.858330e+05,2.889440e+05,3.007440e+05,5.926550e+05,5.568330e+05,...,3859.000000,1.100130e+05,3.394273e+06,4.408360e+05,6.358300e+04,1.558760e+05,9.865000e+03,1.265330e+05,4.468402e+06,4.306896e+06
75%,7.535591e+06,3.766859e+06,3.768732e+06,4.581940e+05,4.664870e+05,4.887380e+05,4.773060e+05,4.929810e+05,1.151093e+06,1.006328e+06,...,9398.000000,3.040420e+05,6.041370e+06,1.519646e+06,1.241120e+05,4.595370e+05,1.988000e+04,3.487530e+05,7.535591e+06,6.565238e+06
max,3.271674e+08,1.611182e+08,1.660493e+08,1.964632e+07,1.980590e+07,2.139292e+07,2.144549e+07,2.171796e+07,4.534467e+07,4.149845e+07,...,626054.000000,1.625378e+07,2.458602e+08,4.626148e+07,5.710410e+06,2.213727e+07,1.468239e+06,1.814678e+07,3.271674e+08,2.674038e+08

# EDA

# To check whether there is a null value in a dataframe

In [7]:
df.isnull().values.any()

False

# Instead of NA values, we could see there is a value N

Replacing the N values as NA

In [8]:
df1 = df.replace(to_replace = 'N', value = 'NaN')

In [9]:
df1.head(7)

,State,Total Population,Total population_Male,Total population_Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,...,Native Hawaiian and Other Pacific Islander,Some other race,Total population!!White,Total population_Black or African American,Total population_American Indian and Alaska Native,Total population_Asian,Total population_Native Hawaiian and Other Pacific Islander,Total population_Some other race,Total population_HISPANIC OR LATINO,Total population_Not Hispanic or Latino
0,Illinois,12741080,6266062,6475018,759456,762237,838140,835845,839026,1765517,...,5317,712778,9431680,1952694,100555,831487,16444,776129,12741080,10532212
1,Iowa,3156145,1564888,1591257,197883,197454,215222,220659,220135,394507,...,3463,30713,2909568,151562,27116,98900,6579,37007,3156145,2964672
2,Missouri,6126452,3003165,3123287,370408,373737,401199,391923,406398,819132,...,7385,56557,5196815,794984,79954,159166,13760,66685,6126452,5872978
3,Nevada,3034392,1522374,1512018,184539,188880,201625,182398,180376,442713,...,19612,358786,2050048,337660,71817,318010,41746,390057,3034392,2153247
4,Pennsylvania,12807060,6271620,6535440,700416,708163,775827,815621,812406,1695073,...,5008,307572,10543254,1632035,89728,536235,18764,355417,12807060,11832297
5,Utah,3161105,1592457,1568648,250194,257110,270952,250173,260774,463344,...,29362,171456,2800377,58241,56454,115638,47609,191869,3161105,2710885
6,West Virginia,1805832,894657,911175,93922,97203,107390,112776,113760,209002,...,451,6430,1712618,89894,9599,19875,2577,8067,1805832,1780263

First N value found in statePuerto Rico, so instead of taking whole dataframe, checking for the state Puerto Rico whether the N value has replaced with value NaN

In [11]:
df2 = pd.DataFrame(columns=df.columns)

cond = df1['State'] == 'Puerto Rico'
rows = df1.loc[cond, :]
df2 = df2.append(rows, ignore_index=True)

In [12]:
df2

,State,Total Population,Total population_Male,Total population_Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,...,Native Hawaiian and Other Pacific Islander,Some other race,Total population!!White,Total population_Black or African American,Total population_American Indian and Alaska Native,Total population_Asian,Total population_Native Hawaiian and Other Pacific Islander,Total population_Some other race,Total population_HISPANIC OR LATINO,Total population_Not Hispanic or Latino
0,Puerto Rico,3195153,1520415,1674738,125796,167470,181046,210051,222760,381445,...,767,551773,2225568,544587,11722,6884,1245,564119,3195153,41136

In [70]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

# Replacing the NA Values as mean value of the column

In [22]:
# fill missing values with mean column values
df.fillna(df.mean(), inplace=True)

In [23]:
df

,State,Total Population,Total population_Male,Total population_Female,Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,...,Native Hawaiian and Other Pacific Islander,Some other race,Total population!!White,Total population_Black or African American,Total population_American Indian and Alaska Native,Total population_Asian,Total population_Native Hawaiian and Other Pacific Islander,Total population_Some other race,Total population_HISPANIC OR LATINO,Total population_Not Hispanic or Latino
0,Illinois,12741080,6266062,6475018,759456,762237,838140,835845,839026,1765517,...,5317,712778,9431680,1952694,100555,831487,16444,776129,12741080,10532212
1,Iowa,3156145,1564888,1591257,197883,197454,215222,220659,220135,394507,...,3463,30713,2909568,151562,27116,98900,6579,37007,3156145,2964672
2,Missouri,6126452,3003165,3123287,370408,373737,401199,391923,406398,819132,...,7385,56557,5196815,794984,79954,159166,13760,66685,6126452,5872978
3,Nevada,3034392,1522374,1512018,184539,188880,201625,182398,180376,442713,...,19612,358786,2050048,337660,71817,318010,41746,390057,3034392,2153247
4,Pennsylvania,12807060,6271620,6535440,700416,708163,775827,815621,812406,1695073,...,5008,307572,10543254,1632035,89728,536235,18764,355417,12807060,11832297
5,Utah,3161105,1592457,1568648,250194,257110,270952,250173,260774,463344,...,29362,171456,2800377,58241,56454,115638,47609,191869,3161105,2710885
6,West Virginia,1805832,894657,911175,93922,97203,107390,112776,113760,209002,...,451,6430,1712618,89894,9599,19875,2577,8067,1805832,1780263
7,Colorado,5695564,2864761,2830803,335642,352145,364535,368833,374122,889656,...,7585,196831,4997140,311745,126983,254210,19880,237478,5695564,4460437
8,Georgia,10519475,5120290,5399185,645488,683042,739018,754377,719378,1442243,...,14049,301148,6365137,3487272,92014,509357,26155,348034,10519475,9497721
9,Idaho,1754208,882158,872050,113693,123959,129947,127012,115850,228080,...,2763,59217,1626499,22173,41448,45610,7162,71096,1754208,1531744
10,Maryland,6042718,2930350,3112368,361435,364571,385477,379728,384168,826526,...,7311,304042,3489566,1932303,60221,459537,15994,335682,6042718,5414283
11,New Jersey,8908520,4350386,4558134,517694,517905,573092,556312,554274,1151093,...,2909,604334,6154690,1335579,56649,956049,11641,664813,8908520,7069161
12,New Mexico,2095428,1039641,1055787,118494,127795,151078,142717,138863,279153,...,2465,144961,1658939,61079,226911,47195,4997,168030,2095428,1066199
13,Ohio,11689442,5732095,5957347,693129,691126,752239,773272,752641,1533104,...,4228,112136,9794421,1674699,104484,345724,13486,141318,11689442,11233524
14,Alaska,737438,382952,354486,52173,52544,49747,48514,49107,117688,...,7958,9780,529846,36659,149430,63855,14092,13875,737438,684369
15,Florida,21299325,10404676,10894649,1135392,1127602,1244592,1234024,1255590,2758515,...,12841,708740,16428821,3731939,171405,774567,43479,818951,21299325,15736873
16,Hawaii,1420491,710702,709789,87437,84434,84576,77860,90595,201025,...,144971,18052,600675,53844,30383,807332,383172,45189,1420491,1269135
17,Massachusetts,6902149,3350887,3551262,357223,369278,392598,457341,492981,990332,...,2775,303331,5538925,666025,52093,540441,8234,348753,6902149,6055369
18,South Carolina,5084127,2468707,2615420,287356,307540,323598,340480,332798,654355,...,4004,92980,3511420,1423790,53066,107491,9865,111572,5084127,4789625
19,District of Columbia,702455,334208,368247,45490,32857,33386,37568,52978,163467,...,397,30897,315977,333496,6722,38036,1160,35616,702455,623206
20,Maine,1338404,655734,682670,63410,67860,72549,77325,73878,159944,...,465,3264,1289950,27637,22607,23286,1880,5459,1338404,1315993
21,North Carolina,10383620,5052244,5331376,597192,620626,679947,701383,682328,1382310,...,10218,326630,7347405,2398801,205652,376535,24349,358550,10383620,9388091
22,South Dakota,882235,445271,436964,60427,58765,61566,59836,58791,116300,...,51,5782,763432,26781,92049,17534,819,6550,882235,848252
23,Alabama,4887871,2369271,2518600,288589,290369,321430,332209,317810,635976,...,1797,84027,3394273,1349621,62780,89230,5925,93147,4887871,4676386
24,Indiana,6691878,3295973,3395905,417774,430155,451395,459222,465439,874246,...,3470,162303,5703463,739547,48290,193559,11281,191174,6691878,6219459
25,Kentucky,4468402,2199021,2269381,273489,279978,285833,288944,300744,579520,...,4943,51887,3974518,422416,29444,87095,9563,62137,4468402,4306896
26,Louisiana,4659978,2276530,2383448,301857,297439,317930,308126,308893,645255,...,1133,65366,2966465,1565302,58123,101220,6181,75404,4659978,4420024
27,Tennessee,6770010,3302191,3467819,404439,413172,434765,439465,437346,914783,...,5494,101153,5373382,1217973,55944,155876,12962,115232,6770010,6397109
28,Vermont,626299,308118,318181,28810,32019,33938,42229,43479,75058,...,139,2815,600494,12187,7315,15706,806,3240,626299,613849
29,Washington,7535591,3766859,3768732,458194,466487,468155,452515,475177,1153369,...,53924,344853,6041370,422547,226088,857031,95373,398348,7535591,6565238
30,Michigan,9995915,4926816,5069099,569183,587011,619055,660528,690292,1291353,...,3907,118467,8092824,1519646,146197,393744,11157,145988,9995915,9478534
31,Nebraska,1929268,961213,968055,131156,129861,136769,132609,132433,256755,...,1289,46473,1720346,114414,35790,63282,3142,55747,1929268,1714785
32,New Hampshire,1356458,669442,687016,62857,68935,76872,91832,85214,167822,...,515,9013,1282576,34419,11622,46745,1884,11005,1356458,1303810
33,Oklahoma,3943079,1950076,1993003,258036,262116,277994,270953,266367,542736,...,3859,110013,3124653,365013,533348,111634,8929,126533,3943079,3514000
34,Oregon,4190713,2079943,2110770,230515,236914,253861,252056,264987,592655,...,18758,137973,3697861,122063,124112,257861,33831,165867,4190713,3634316
35,Rhode Island,1057315,515900,541415,54430,56691,55343,74635,75521,146349,...,883,59743,881270,86469,11871,45191,2378,65845,1057315,888974
36,Wisconsin,5813568,2891282,2922286,330651,342754,374768,378566,394807,735765,...,1961,121475,5091797,440836,90189,201356,5350,139088,5813568,5409735
37,Wyoming,577737,292619,285118,35395,34937,40645,40744,32880,77254,...,1111,8798,541280,8296,21867,8317,1347,10603,577737,519842
38,Puerto Rico,3195153,1520415,1674738,125796,167470,181046,210051,222760,381445,...,767,551773,2225568,544587,11722,6884,1245,564119,3195153,41136
39,Arkansas,3013825,1476680,1537145,188092,192523,203502,208021,199748,392937,...,9398,84917,2387735,487767,63583,60225,13359,92978,3013825,2783525
40,California,39557045,19673553,19883492,2428493,2398894,2646096,2557470,2710448,6034398,...,155739,5453229,25188735,2788457,799889,6717391,333780,5943787,39557045,24016903
41,Delaware,967171,467924,499247,54335,51828,62410,59345,59553,127399,...,896,19652,681901,234961,10015,45175,1338,22505,967171,875196
42,Kansas,2911510,1449745,1461765,186990,190475,208695,204915,209009,376422,...,2929,73293,2544721,218001,64801,107317,8989,83074,2911510,2563067
43,Minnesota,5611179,2793980,2817199,354932,360713,370367,356388,359550,759541,...,2396,102814,4787851,445288,112850,328249,7964,118258,5611179,5303166
44,Mississippi,2986530,1446829,1539701,177761,191591,216172,219044,204679,379027,...,1372,29778,1776445,1161529,20404,38212,4583,33358,2986530,2899404
45,Montana,1062305,534782,527523,61688,61732,67916,67386,67822,133976,...,990,5828,972128,9491,87853,15317,2773,8847,1062305,1020700
46,Virginia,8517685,4190738,4326947,502102,514779,534414,564667,579716,1170188,...,5659,215743,6043577,1807434,90683,688297,19169,253957,8517685,7704875
47,Arizona,7171646,3565129,3606517,434032,441613,488738,477306,489653,979328,...,15661,373688,5838911,432062,424955,322251,32684,429942,7171646,4905304
48,Connecticut,3572665,1740533,1832132,181224,191879,224026,242294,239846,447891,...,1017,195208,2787851,461513,35881,195312,6283,220518,3572665,2982855
49,New York,19542209,9491313,10050896,1139842,1078979,1154737,1202251,1294057,2872898,...,9424,1689845,12879039,3396032,207373,1879261,30852,1854260,19542209,15789686
50,North Dakota,760077,391222,368855,52175,50804,47274,46455,62590,116734,...,339,9569,668212,29988,50434,18212,1168,11370,760077,732633
51,Texas,28701845,14250184,14451661,2010781,1984419,2171522,2069341,1988685,4181960,...,21463,1709445,21759347,3827321,351369,1648133,61344,1878367,28701845,17333001
52,United States,327167439,161118151,166049288,19646315,19805900,21392922,21445493,21717962,45344674,...,626054,16253785,245860228,46261485,5710410,22137269,1468239,18146776,327167439,267403808