In [1]:
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
Tab22 = pd.read_excel('Residence_all_tables.xlsx', 'Table 22 Medicare')
Tab25 = pd.read_excel('Residence_all_tables.xlsx', 'Table 25 Medicaid')
Tab28 = pd.read_excel('Residence_all_tables.xlsx', 'Table 28 Private Health')

In [5]:
Tab22 = Tab22.rename(columns = {'Table 22: Medicare State Estimates by State of Residence (1991-2014) - Personal Health Care (Millions of Dollars)':'State',
                             'Unnamed: 24':'Medicare Estimates Per State (2014)'})
Tab22 = Tab22[['State', 'Medicare Estimates Per State (2014)']]
Tab22.head()

                       State  Medicare Estimates Per State (2014)
0  Region/state of residence                               2014.0
1              United States                             580583.0
2                New England                              30139.0
3                Connecticut                               7410.0
4                      Maine                               2791.0

In [8]:
Tab25 = Tab25.rename(columns = {'Table 25: Medicaid State Estimates by State of Residence (1991-2014) - Personal Health Care (Millions of Dollars)':'State',
                             'Unnamed: 24':'Medicaid Estimates Per State (2014)'})
Tab25 = Tab25[['State', 'Medicaid Estimates Per State (2014)']]
Tab25.head()

                       State  Medicaid Estimates Per State (2014)
0  Region/state of residence                               2014.0
1              United States                             446703.0
2                New England                              28084.0
3                Connecticut                               6994.0
4                      Maine                               2362.0

In [9]:
Tab28 = Tab28.rename(columns = {'Table 28: Private Health Insurance State Estimates by State of Residence (2001-2014) - Personal Health Care (Millions of Dollars)':'State',
                             'Unnamed: 14':'Private Health Insurance Per State (2014)'})
Tab28 = Tab28[['State', 'Private Health Insurance Per State (2014)']]
Tab28.head()

                       State  Private Health Insurance Per State (2014)
0  Region/state of residence                                     2014.0
1              United States                                   875154.0
2                New England                                    49458.0
3                Connecticut                                    11920.0
4                      Maine                                     4147.0

In [10]:
HealthInsCPS = [Tab22, Tab25, Tab28]
HealthInsCPS = reduce(lambda left, right: pd.merge(left, right, on = 'State', how = 'outer'), HealthInsCPS)
HealthInsCPS.head()

,State,Medicare Estimates Per State (2014),Medicaid Estimates Per State (2014),Private Health Insurance Per State (2014)
0,Region/state of residence,2014.0,2014.0,2014.0
1,United States,580583.0,446703.0,875154.0
2,New England,30139.0,28084.0,49458.0
3,Connecticut,7410.0,6994.0,11920.0
4,Maine,2791.0,2362.0,4147.0

In [11]:
COVIDCases = pd.read_csv('us-states.csv')
COVIDCases = COVIDCases.groupby(['state']).sum()
COVIDCases = COVIDCases.reset_index()
COVIDCases.drop([11, 36, 41, 49], inplace = True)
COVIDCases = COVIDCases.reset_index(drop = True)
COVIDCases.state

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: state, dtype: object

In [12]:
COVIDCases = COVIDCases.rename(columns = {'state':'State'})
COVIDCases.head()

        State  fips    cases  deaths
0     Alabama    96   852775   30005
1      Alaska   194    31268     564
2     Arizona   572  1013744   42135
3    Arkansas   490   369822    6756
4  California   864  5582647  206759

In [13]:
COVIDHealthInsCPS = pd.merge(COVIDCases, HealthInsCPS, how = 'left', on = 'State')
COVIDHealthInsCPS

,State,fips,cases,deaths,Medicare Estimates Per State (2014),Medicaid Estimates Per State (2014),Private Health Insurance Per State (2014)
0,Alabama,96,852775,30005,9723.0,4983.0,11078.0
1,Alaska,194,31268,564,741.0,1359.0,2492.0
2,Arizona,572,1013744,42135,11069.0,8371.0,15073.0
3,Arkansas,490,369822,6756,5536.0,4960.0,6209.0
4,California,864,5582647,206759,64795.0,61761.0,104018.0
5,Colorado,832,1393666,72435,7013.0,6038.0,15662.0
6,Connecticut,909,2311732,196552,7410.0,6994.0,11920.0
7,Delaware,980,458652,16667,2004.0,1506.0,2933.0
8,District of Columbia,1122,439394,21879,1023.0,2178.0,3688.0
9,Florida,1296,3168909,123630,47697.0,18285.0,48566.0
10,Georgia,1391,2396196,103675,15318.0,8761.0,26029.0
11,Hawaii,1545,46701,1072,2036.0,1770.0,3614.0
12,Idaho,1536,174809,4758,2370.0,1540.0,3827.0
13,Illinois,2465,5724665,256142,22520.0,15397.0,40358.0
14,Indiana,1854,1780252,106405,12042.0,8868.0,16948.0
15,Iowa,1919,883276,22648,5224.0,4059.0,9004.0
16,Kansas,2040,471547,11760,4828.0,2372.0,8951.0
17,Kentucky,2163,499515,22706,8768.0,7425.0,11830.0
18,Louisiana,2200,2416587,156896,9123.0,7082.0,11034.0
19,Maine,2231,118190,4605,2791.0,2362.0,4147.0
20,Maryland,2496,2472729,117737,10857.0,8771.0,17297.0
21,Massachusetts,3425,5253449,332187,14152.0,13758.0,23606.0
22,Michigan,2574,3436299,303256,20970.0,12481.0,25935.0
23,Minnesota,2781,991660,45255,8801.0,9665.0,17433.0
24,Mississippi,2744,746060,33268,6053.0,4569.0,6148.0
25,Missouri,2958,729903,36576,11638.0,8566.0,16521.0
26,Montana,2880,36251,1081,1605.0,1061.0,2500.0
27,Nebraska,3751,605548,8003,3042.0,1700.0,5833.0
28,Nevada,3328,478239,21957,4695.0,2348.0,5789.0
29,New Hampshire,3531,229331,10785,2431.0,1319.0,4661.0
30,New Jersey,3570,9382742,608922,18437.0,11934.0,29959.0
31,New Mexico,3430,373567,15703,3126.0,3822.0,4139.0
32,New York,3888,23780458,1771474,39926.0,51821.0,61730.0
33,North Carolina,3922,1349040,42160,17640.0,11911.0,22646.0
34,North Dakota,3724,119604,2817,1105.0,939.0,2414.0
35,Ohio,3900,1771121,101210,23274.0,17935.0,31892.0
36,Oklahoma,4120,350532,18280,6935.0,4799.0,9287.0
37,Oregon,4510,243948,8795,6506.0,6929.0,10272.0
38,Pennsylvania,4326,4131183,261460,27985.0,20221.0,39542.0
39,Rhode Island,4752,753454,31670,2175.0,2261.0,3021.0
40,South Carolina,4635,636954,24107,9369.0,5061.0,11980.0
41,South Dakota,4554,244075,2608,1414.0,763.0,2467.0
42,Tennessee,4888,1177025,19487,12506.0,7655.0,16409.0
43,Texas,6048,3250497,82697,41821.0,30080.0,67494.0
44,Utah,5537,509554,5251,3028.0,1920.0,8270.0
45,Vermont,5100,69154,3582,1180.0,1390.0,2103.0
46,Virginia,5202,1970901,61727,12686.0,6834.0,23068.0
47,Washington,7844,1377020,69015,10313.0,9005.0,19339.0
48,West Virginia,4968,104487,3811,4221.0,3249.0,4342.0
49,Wisconsin,7315,853549,29991,9827.0,7329.0,19747.0
50,Wyoming,5488,50229,661,833.0,534.0,1928.0

In [14]:
COVIDHealthInsCPS = COVIDHealthInsCPS.drop(['fips'], axis = 1)
COVIDHealthInsCPS

,State,cases,deaths,Medicare Estimates Per State (2014),Medicaid Estimates Per State (2014),Private Health Insurance Per State (2014)
0,Alabama,852775,30005,9723.0,4983.0,11078.0
1,Alaska,31268,564,741.0,1359.0,2492.0
2,Arizona,1013744,42135,11069.0,8371.0,15073.0
3,Arkansas,369822,6756,5536.0,4960.0,6209.0
4,California,5582647,206759,64795.0,61761.0,104018.0
5,Colorado,1393666,72435,7013.0,6038.0,15662.0
6,Connecticut,2311732,196552,7410.0,6994.0,11920.0
7,Delaware,458652,16667,2004.0,1506.0,2933.0
8,District of Columbia,439394,21879,1023.0,2178.0,3688.0
9,Florida,3168909,123630,47697.0,18285.0,48566.0
10,Georgia,2396196,103675,15318.0,8761.0,26029.0
11,Hawaii,46701,1072,2036.0,1770.0,3614.0
12,Idaho,174809,4758,2370.0,1540.0,3827.0
13,Illinois,5724665,256142,22520.0,15397.0,40358.0
14,Indiana,1780252,106405,12042.0,8868.0,16948.0
15,Iowa,883276,22648,5224.0,4059.0,9004.0
16,Kansas,471547,11760,4828.0,2372.0,8951.0
17,Kentucky,499515,22706,8768.0,7425.0,11830.0
18,Louisiana,2416587,156896,9123.0,7082.0,11034.0
19,Maine,118190,4605,2791.0,2362.0,4147.0
20,Maryland,2472729,117737,10857.0,8771.0,17297.0
21,Massachusetts,5253449,332187,14152.0,13758.0,23606.0
22,Michigan,3436299,303256,20970.0,12481.0,25935.0
23,Minnesota,991660,45255,8801.0,9665.0,17433.0
24,Mississippi,746060,33268,6053.0,4569.0,6148.0
25,Missouri,729903,36576,11638.0,8566.0,16521.0
26,Montana,36251,1081,1605.0,1061.0,2500.0
27,Nebraska,605548,8003,3042.0,1700.0,5833.0
28,Nevada,478239,21957,4695.0,2348.0,5789.0
29,New Hampshire,229331,10785,2431.0,1319.0,4661.0
30,New Jersey,9382742,608922,18437.0,11934.0,29959.0
31,New Mexico,373567,15703,3126.0,3822.0,4139.0
32,New York,23780458,1771474,39926.0,51821.0,61730.0
33,North Carolina,1349040,42160,17640.0,11911.0,22646.0
34,North Dakota,119604,2817,1105.0,939.0,2414.0
35,Ohio,1771121,101210,23274.0,17935.0,31892.0
36,Oklahoma,350532,18280,6935.0,4799.0,9287.0
37,Oregon,243948,8795,6506.0,6929.0,10272.0
38,Pennsylvania,4131183,261460,27985.0,20221.0,39542.0
39,Rhode Island,753454,31670,2175.0,2261.0,3021.0
40,South Carolina,636954,24107,9369.0,5061.0,11980.0
41,South Dakota,244075,2608,1414.0,763.0,2467.0
42,Tennessee,1177025,19487,12506.0,7655.0,16409.0
43,Texas,3250497,82697,41821.0,30080.0,67494.0
44,Utah,509554,5251,3028.0,1920.0,8270.0
45,Vermont,69154,3582,1180.0,1390.0,2103.0
46,Virginia,1970901,61727,12686.0,6834.0,23068.0
47,Washington,1377020,69015,10313.0,9005.0,19339.0
48,West Virginia,104487,3811,4221.0,3249.0,4342.0
49,Wisconsin,853549,29991,9827.0,7329.0,19747.0
50,Wyoming,50229,661,833.0,534.0,1928.0

In [15]:
COVIDHealthInsCPS.to_csv('COVID_HealthInsCPS.csv')