In [33]:
import pandas as pd
import numpy as np
from functools import reduce

In [34]:
Engin = pd.read_excel('engineers-to-all-occupations.xlsx')
Engin

,Table S-38,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,"Engineers as a Percentage of All Occupations, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Engineers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,2003,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,...,2009.000000,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000
3,United States,1465670,1508960.0,1514180.0,1543900.0,1588350.0,1626330.0,1587880.0,1554780.0,1574830.0,...,1.215392,1.223300,1.227664,1.250671,1.243076,1.242679,1.247267,1.244843,1.244166,1.246527
4,Alabama,21660,23050.0,24580.0,26210.0,27860.0,26430.0,26990.0,27480.0,27500.0,...,1.448257,1.520349,1.519824,1.602719,1.646349,1.634967,1.665684,1.675388,1.712811,1.663786
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,NOTES: Occupational Employment Statistics (OES...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,"SOURCE: Bureau of Labor Statistics, special ta...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Recommended Citation: National Science Board. ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,"Last updated: September 24, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Science and Engineering Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
Engin2 = Engin.drop(['Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
                          'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
                          'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
                          'Unnamed: 34', 'Unnamed: 33', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39',
                          'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
                          'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50'], axis = 1)

Engin2.head()

,Table S-38,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,"Engineers as a Percentage of All Occupations, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Engineers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,2003,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
3,United States,1465670,1508960.0,1514180.0,1543900.0,1588350.0,1626330.0,1587880.0,1554780.0,1574830.0,1629470.0,1648180.0,1679210.0,1719940.0,1747760.0,1773550.0,1804140.0
4,Alabama,21660,23050.0,24580.0,26210.0,27860.0,26430.0,26990.0,27480.0,27500.0,29240.0,30360.0,30370.0,31370.0,32050.0,32930.0,32340.0

In [36]:
Engin2.drop(range(0,4), inplace = True)
Engin2.drop(range(55,64), inplace = True)
Engin2 = Engin2.reset_index(drop = True)
Engin2

,Table S-38,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Alabama,21660,23050.0,24580.0,26210.0,27860.0,26430.0,26990.0,27480.0,27500.0,29240.0,30360.0,30370.0,31370.0,32050.0,32930.0,32340.0
1,Alaska,3570,3410.0,3500.0,3330.0,3820.0,4450.0,5250.0,5600.0,5390.0,5540.0,5010.0,5120.0,5270.0,5010.0,5090.0,5060.0
2,Arizona,34500,36630.0,35420.0,35630.0,35490.0,35850.0,33650.0,NaN,32580.0,32880.0,33330.0,32510.0,31570.0,32790.0,33620.0,35180.0
3,Arkansas,5610,6760.0,7130.0,7210.0,7670.0,7340.0,6750.0,6630.0,NaN,6940.0,7070.0,7350.0,7100.0,7230.0,8070.0,8190.0
4,California,212620,227310.0,227820.0,231480.0,241970.0,240860.0,230000.0,222580.0,225090.0,234600.0,237270.0,241200.0,239870.0,232050.0,236100.0,243550.0
5,Colorado,35180,34390.0,34010.0,37040.0,38580.0,41130.0,40330.0,37590.0,36530.0,37050.0,40350.0,41850.0,45800.0,46290.0,46780.0,45250.0
6,Connecticut,26020,25960.0,25480.0,24070.0,24310.0,23920.0,23620.0,23210.0,23330.0,23480.0,24610.0,24080.0,24440.0,24280.0,27340.0,27610.0
7,Delaware,3440,3950.0,4120.0,4810.0,4830.0,5120.0,4670.0,5270.0,4820.0,4910.0,3850.0,4050.0,3800.0,3800.0,4870.0,5090.0
8,District of Columbia,10070,9760.0,9500.0,8920.0,7840.0,8220.0,8100.0,9140.0,9310.0,9840.0,NaN,NaN,7640.0,NaN,NaN,8570.0
9,Florida,58300,61830.0,64510.0,67810.0,70400.0,69040.0,66140.0,63170.0,63350.0,62860.0,59810.0,58590.0,60900.0,63950.0,64730.0,66690.0
10,Georgia,30060,30620.0,30320.0,30170.0,33080.0,36020.0,36980.0,36040.0,35020.0,36360.0,38550.0,39030.0,44150.0,45990.0,45690.0,45900.0
11,Hawaii,4670,4770.0,4740.0,5380.0,5020.0,5020.0,4950.0,5150.0,5490.0,5800.0,5900.0,5710.0,5830.0,6280.0,6060.0,5910.0
12,Idaho,8530,8830.0,9030.0,9270.0,8360.0,7870.0,7410.0,7490.0,8600.0,8760.0,8440.0,8240.0,8790.0,9500.0,9680.0,10000.0
13,Illinois,58150,58180.0,60470.0,57270.0,56380.0,55840.0,56700.0,58000.0,57850.0,61420.0,57460.0,57710.0,60440.0,63040.0,62570.0,60950.0
14,Indiana,30110,31160.0,29710.0,28380.0,28110.0,30780.0,29380.0,30150.0,30440.0,32230.0,35300.0,36840.0,36560.0,34270.0,36400.0,37300.0
15,Iowa,NaN,9820.0,9990.0,10420.0,10410.0,10270.0,10970.0,11210.0,11930.0,12100.0,11730.0,12870.0,12690.0,12220.0,11680.0,13210.0
16,Kansas,19870,19080.0,18680.0,17480.0,16910.0,16930.0,17550.0,14680.0,16190.0,15320.0,15170.0,14010.0,14220.0,15220.0,15860.0,16700.0
17,Kentucky,13090,13230.0,13460.0,12950.0,13520.0,13880.0,14330.0,13530.0,14940.0,14690.0,15480.0,15010.0,15950.0,15590.0,17860.0,18850.0
18,Louisiana,15940,15130.0,14530.0,15250.0,15170.0,18270.0,19750.0,NaN,18510.0,19940.0,20810.0,21700.0,21360.0,19710.0,18970.0,18880.0
19,Maine,4880,4510.0,4480.0,4230.0,4000.0,4480.0,4740.0,4620.0,4680.0,5070.0,5370.0,5340.0,5370.0,5430.0,5590.0,5660.0
20,Maryland,33610,36910.0,37040.0,36880.0,38730.0,39390.0,39750.0,39750.0,38890.0,41130.0,42130.0,41760.0,42620.0,43560.0,44490.0,44160.0
21,Massachusetts,49430,51450.0,51600.0,51750.0,52820.0,54330.0,51070.0,49510.0,49290.0,52610.0,52300.0,54390.0,55240.0,57510.0,58590.0,57710.0
22,Michigan,92190,91000.0,91520.0,99680.0,101730.0,92190.0,84280.0,81730.0,86470.0,87980.0,91100.0,97930.0,103160.0,108700.0,114320.0,117110.0
23,Minnesota,30650,28990.0,29830.0,28280.0,28790.0,29490.0,28200.0,28280.0,30220.0,33210.0,32450.0,33050.0,33930.0,36070.0,36190.0,37920.0
24,Mississippi,7770,8320.0,8280.0,9830.0,9790.0,10160.0,8790.0,NaN,8320.0,NaN,7850.0,8590.0,9150.0,8820.0,8960.0,8780.0
25,Missouri,20090,22700.0,22020.0,22870.0,25880.0,25950.0,24770.0,22910.0,22940.0,23100.0,22900.0,23190.0,24210.0,24890.0,25940.0,27090.0
26,Montana,2680,2600.0,2620.0,2840.0,3200.0,3570.0,3500.0,3810.0,3680.0,4020.0,3920.0,3830.0,4000.0,4010.0,4250.0,4170.0
27,Nebraska,5890,5690.0,6000.0,5820.0,5840.0,6350.0,6250.0,5940.0,6130.0,6330.0,6860.0,7050.0,7240.0,7520.0,7450.0,7270.0
28,Nevada,6660,7380.0,7820.0,7960.0,8100.0,7870.0,7750.0,7840.0,7680.0,7180.0,6420.0,6320.0,6750.0,7290.0,7460.0,7600.0
29,New Hampshire,7490,8120.0,7810.0,8090.0,8140.0,7870.0,8020.0,8000.0,8500.0,8290.0,8390.0,8130.0,8430.0,8830.0,9800.0,9890.0
30,New Jersey,37190,38540.0,37510.0,38130.0,39960.0,40720.0,38960.0,37870.0,38540.0,39140.0,39420.0,38260.0,38030.0,38300.0,37210.0,38250.0
31,New Mexico,12710,10550.0,10530.0,10870.0,11290.0,11500.0,12360.0,12830.0,12570.0,12350.0,12800.0,12650.0,13810.0,13850.0,13180.0,12310.0
32,New York,65600,65710.0,65290.0,68540.0,69400.0,74570.0,69380.0,65420.0,NaN,61980.0,64420.0,67030.0,70040.0,71600.0,73080.0,74040.0
33,North Carolina,31020,31030.0,30340.0,30040.0,32500.0,33400.0,32850.0,32620.0,35420.0,36710.0,36440.0,38830.0,40610.0,44420.0,46480.0,45440.0
34,North Dakota,2130,2100.0,2320.0,2520.0,2500.0,2530.0,2670.0,2950.0,3310.0,3520.0,3610.0,3590.0,3670.0,3940.0,3860.0,4050.0
35,Ohio,61960,NaN,59820.0,57810.0,57720.0,60120.0,59030.0,56790.0,58100.0,60790.0,62010.0,65270.0,68930.0,71740.0,72170.0,72760.0
36,Oklahoma,12830,13830.0,14100.0,13840.0,13690.0,14040.0,14000.0,15350.0,16120.0,17740.0,17160.0,18270.0,18890.0,17550.0,17150.0,NaN
37,Oregon,17970,19260.0,17520.0,NaN,18870.0,18740.0,18790.0,18320.0,19600.0,21440.0,22680.0,22760.0,25320.0,26420.0,27380.0,27650.0
38,Pennsylvania,NaN,NaN,59890.0,61620.0,61720.0,63340.0,63790.0,63940.0,67160.0,66970.0,64340.0,NaN,NaN,NaN,NaN,NaN
39,Rhode Island,5080,5470.0,5400.0,5430.0,5240.0,5150.0,5120.0,5230.0,5120.0,5110.0,5230.0,5310.0,5340.0,5490.0,5930.0,6720.0
40,South Carolina,19960,21560.0,21010.0,22460.0,22210.0,22750.0,22310.0,22570.0,24920.0,26470.0,26870.0,26260.0,26850.0,27150.0,27270.0,29510.0
41,South Dakota,1990,2040.0,2090.0,2210.0,NaN,2440.0,2470.0,2380.0,2630.0,2770.0,2950.0,3030.0,3240.0,3140.0,3100.0,3230.0
42,Tennessee,20880,22000.0,23110.0,21230.0,21940.0,23130.0,21600.0,25260.0,25340.0,26420.0,27730.0,29050.0,28860.0,28430.0,27840.0,27790.0
43,Texas,116160,119360.0,120120.0,123990.0,130990.0,146520.0,147410.0,140560.0,142270.0,152120.0,153970.0,156060.0,157520.0,161680.0,162050.0,162440.0
44,Utah,12120,12050.0,12210.0,13090.0,13810.0,14350.0,14180.0,14430.0,14850.0,15940.0,17600.0,18310.0,17370.0,17770.0,17770.0,18590.0
45,Vermont,3600,3730.0,3770.0,3780.0,3670.0,3790.0,3670.0,3700.0,2970.0,3120.0,3550.0,3690.0,3470.0,2900.0,2770.0,2920.0
46,Virginia,46400,49810.0,48910.0,50780.0,52570.0,54280.0,NaN,53270.0,54030.0,54050.0,53190.0,51990.0,50220.0,50270.0,50560.0,53170.0
47,Washington,45460,NaN,47570.0,49840.0,NaN,55490.0,NaN,54830.0,53880.0,NaN,NaN,55070.0,NaN,57410.0,54510.0,54320.0
48,West Virginia,4890,4920.0,4680.0,5230.0,5340.0,5320.0,4970.0,4960.0,5010.0,4990.0,4980.0,5220.0,5700.0,5430.0,5170.0,5530.0
49,Wisconsin,29850,29170.0,29490.0,30990.0,31010.0,32010.0,29880.0,28820.0,29550.0,30570.0,32460.0,34710.0,36080.0,36170.0,36610.0,37750.0
50,Wyoming,2110,2300.0,2420.0,2570.0,2840.0,3260.0,3320.0,3140.0,3100.0,3050.0,3120.0,3360.0,3390.0,3030.0,2600.0,2720.0

In [37]:
m = Engin2.mean(axis=1)
for i, col in enumerate(Engin2):
    Engin2.iloc[:, i] = Engin2.iloc[:, i].fillna(m)
Engin2 = Engin2.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
                          'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
                          'Unnamed: 14', 'Unnamed: 15'], axis = 1)

Engin2 = Engin2.rename(columns = {'Table S-38':'State',
                                       'Unnamed: 16':'Engineers 2018'})

Engin2.head(10)

                  State  Engineers 2018
0               Alabama         32340.0
1                Alaska          5060.0
2               Arizona         35180.0
3              Arkansas          8190.0
4            California        243550.0
5              Colorado         45250.0
6           Connecticut         27610.0
7              Delaware          5090.0
8  District of Columbia          8570.0
9               Florida         66690.0

In [38]:
Engin3 = Engin.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
                          'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
                          'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39',
                          'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
                          'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50'], axis = 1)

Engin3.head()

,Table S-38,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,"Engineers as a Percentage of All Occupations, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,All occupations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,2003,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
3,United States,127420170,129146700.0,130307840.0,132604980.0,134354250.0,135185230.0,130647610.0,127097160.0,128278550.0,130287700.0,132588810.0,135128260.0,137896660.0,140400040.0,142549250.0,144733270.0
4,Alabama,1817240,1851040.0,1872600.0,1912220.0,1931970.0,1945300.0,1863620.0,1807480.0,1809420.0,1824400.0,1844080.0,1857530.0,1883310.0,1912990.0,1922570.0,1943760.0

In [39]:
Engin3.drop(range(0,4), inplace = True)
Engin3.drop(range(55,64), inplace = True)
Engin3 = Engin3.reset_index(drop = True)
Engin3

,Table S-38,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,Alabama,1817240,1851040.0,1872600.0,1912220.0,1931970.0,1945300.0,1863620.0,1807480.0,1809420.0,1824400.0,1844080.0,1857530.0,1883310.0,1912990.0,1922570.0,1943760.0
1,Alaska,290740,295810.0,300150.0,303890.0,301920.0,307790.0,308140.0,308050.0,313170.0,318700.0,322660.0,324970.0,327250.0,323500.0,318170.0,315250.0
2,Arizona,2275410,2370810.0,2437100.0,2574150.0,2648000.0,2637830.0,2479120.0,2367120.0,2380200.0,2414340.0,2475660.0,2526990.0,2587070.0,2652990.0,2704050.0,2789520.0
3,Arkansas,1118690,1133800.0,1142370.0,1166840.0,1172760.0,1176050.0,1147660.0,1135560.0,1139670.0,1155020.0,1152600.0,1158790.0,1176130.0,1191320.0,1200130.0,1210120.0
4,California,14460860,14598250.0,14723900.0,15065750.0,15202530.0,15212610.0,14532640.0,14001730.0,14038950.0,14303630.0,14714530.0,15119730.0,15496600.0,15966580.0,16695010.0,17007690.0
5,Colorado,2097650,2130430.0,2151520.0,2207120.0,2258240.0,2302340.0,2234250.0,2157690.0,2179060.0,2226160.0,2295000.0,2367780.0,2451490.0,2507680.0,2555300.0,2620640.0
6,Connecticut,1631610,1640840.0,1648070.0,1658980.0,1682220.0,1697810.0,1648950.0,1598640.0,1608820.0,1620620.0,1635590.0,1646510.0,1659430.0,1666280.0,1654420.0,1660200.0
7,Delaware,403650,413940.0,417550.0,424270.0,425960.0,425210.0,412570.0,397730.0,403430.0,405750.0,412140.0,424330.0,433840.0,440760.0,442690.0,448510.0
8,District of Columbia,595220,609770.0,611190.0,609400.0,620970.0,635500.0,637180.0,639390.0,644730.0,653760.0,665850.0,674650.0,676060.0,702380.0,708220.0,712370.0
9,Florida,7217400,7479050.0,7614840.0,7869210.0,7963010.0,7771740.0,7355940.0,7103950.0,7151700.0,7273850.0,7453230.0,7665280.0,7925300.0,8222030.0,8419030.0,8608660.0
10,Georgia,3770430,3848740.0,3904020.0,4001580.0,4058370.0,4068270.0,3889160.0,3744740.0,3779250.0,3815530.0,3879660.0,3983250.0,4107960.0,4214410.0,4303530.0,4394740.0
11,Hawaii,557400,573890.0,583630.0,599130.0,610310.0,612420.0,587810.0,571630.0,577220.0,588210.0,602200.0,612580.0,619960.0,632120.0,632990.0,641790.0
12,Idaho,563200,584580.0,597490.0,624320.0,641960.0,650240.0,614520.0,594750.0,592730.0,598540.0,613000.0,628140.0,642700.0,663490.0,685630.0,706140.0
13,Illinois,5719150,5739250.0,5767100.0,5826660.0,5894670.0,5910630.0,5704240.0,5528420.0,5574180.0,5640740.0,5704700.0,5765880.0,5852710.0,5903820.0,5927860.0,5991270.0
14,Indiana,2851210,2879070.0,2891360.0,2913200.0,2928780.0,2927620.0,2787780.0,2724850.0,2758100.0,2811920.0,2854250.0,2905170.0,2947380.0,2991260.0,3018490.0,3048100.0
15,Iowa,1413220,1433570.0,1446550.0,1470240.0,1488360.0,1502600.0,1471130.0,1438510.0,1449110.0,1470740.0,1491600.0,1512740.0,1526950.0,1534910.0,1535460.0,1541700.0
16,Kansas,1292170,1311390.0,1315640.0,1321180.0,1347670.0,1374560.0,1348710.0,1304780.0,1308070.0,1320920.0,1336460.0,1359500.0,1371630.0,1374180.0,1369110.0,1375380.0
17,Kentucky,1719620,1736230.0,1754590.0,1779830.0,1801800.0,1817860.0,1748610.0,1716060.0,1732870.0,1764750.0,1782820.0,1808010.0,1838220.0,1869650.0,1876430.0,1889870.0
18,Louisiana,1851870,1865300.0,1877160.0,1776990.0,1847230.0,1887370.0,1871950.0,1832830.0,1839780.0,1868210.0,1885310.0,1915800.0,1939300.0,1922170.0,1902060.0,1913770.0
19,Maine,591750,598350.0,597260.0,596910.0,600020.0,604150.0,589090.0,577410.0,575640.0,581110.0,582430.0,586390.0,591520.0,596390.0,599180.0,605550.0
20,Maryland,2448580,2477280.0,2497220.0,2531180.0,2551910.0,2561530.0,2503410.0,2462470.0,2480670.0,2510680.0,2534480.0,2557510.0,2596630.0,2640900.0,2664330.0,2684010.0
21,Massachusetts,3130720,3129090.0,3144540.0,3170490.0,3207840.0,3234860.0,3169010.0,3119100.0,3157020.0,3202080.0,3257870.0,3322500.0,3396840.0,3459910.0,3528070.0,3571360.0
22,Michigan,4310420,4324840.0,4334870.0,4294260.0,4210550.0,4142750.0,3893900.0,3755890.0,3829000.0,3918120.0,3998790.0,4073730.0,4146600.0,4212090.0,4276040.0,4317830.0
23,Minnesota,2591720,2625060.0,2635370.0,2682940.0,2687740.0,2704860.0,2627640.0,2562450.0,2595450.0,2641110.0,2688580.0,2730020.0,2772240.0,2810400.0,2838270.0,2867700.0
24,Mississippi,1089350,1101680.0,1108540.0,1113000.0,1128980.0,1138210.0,1096890.0,1070820.0,1073100.0,1080420.0,1083560.0,1094070.0,1106550.0,1117280.0,1119470.0,1123830.0
25,Missouri,2623020,2646990.0,2663880.0,2700450.0,2732920.0,2740170.0,2668450.0,2588450.0,2591020.0,2605910.0,2639120.0,2673640.0,2712240.0,2757850.0,2788680.0,2804780.0
26,Montana,394820,408730.0,414650.0,427130.0,435480.0,444090.0,432240.0,424300.0,425110.0,432380.0,439110.0,443330.0,447180.0,454740.0,460740.0,463280.0
27,Nebraska,879550,887200.0,895470.0,901120.0,914670.0,928120.0,916770.0,901690.0,904630.0,914830.0,927150.0,942950.0,953710.0,968000.0,970230.0,978290.0
28,Nevada,1086110,1154440.0,1191640.0,1257860.0,1285470.0,1278230.0,1179860.0,1113530.0,1112780.0,1127160.0,1151970.0,1189610.0,1232800.0,1270930.0,1310220.0,1347130.0
29,New Hampshire,607570,618310.0,621560.0,627570.0,632590.0,634570.0,619390.0,603420.0,606690.0,612710.0,620190.0,627000.0,635360.0,645050.0,649950.0,652920.0
30,New Jersey,3878020,3901020.0,3917310.0,3957500.0,3980080.0,3986310.0,3850770.0,3770550.0,3771250.0,3793720.0,3821070.0,3869260.0,3906800.0,3955350.0,4007470.0,4050170.0
31,New Mexico,747050,754990.0,763430.0,789360.0,798640.0,819480.0,800390.0,777560.0,777640.0,773860.0,783980.0,788000.0,798150.0,805440.0,801080.0,811680.0
32,New York,8236200,8299910.0,8333460.0,8387750.0,8515960.0,8633580.0,8487020.0,8344020.0,8427560.0,8542280.0,8635400.0,8810950.0,8984890.0,9097650.0,9207870.0,9385620.0
33,North Carolina,3702170,3770700.0,3809690.0,3892670.0,4013460.0,4063420.0,3896750.0,3772780.0,3814860.0,3878800.0,3947030.0,4030880.0,4125070.0,4231020.0,4298390.0,4383210.0
34,North Dakota,314620,324430.0,328520.0,335740.0,341970.0,350360.0,353630.0,355710.0,371630.0,403290.0,422930.0,440420.0,447820.0,425200.0,416670.0,416550.0
35,Ohio,5308270,5324700.0,5340280.0,5354170.0,5341360.0,5323130.0,5091490.0,4921690.0,4977910.0,5054250.0,5125850.0,5200880.0,5280850.0,5337890.0,5370640.0,5416810.0
36,Oklahoma,1416640,1436380.0,1455940.0,1503430.0,1528890.0,1557750.0,1525330.0,1483760.0,1498260.0,1529900.0,1558860.0,1577330.0,1597130.0,1586890.0,1573000.0,1594370.0
37,Oregon,1537000,1576890.0,1598780.0,1648680.0,1682150.0,1706740.0,1624490.0,1569700.0,1586620.0,1609900.0,1640300.0,1683470.0,1735220.0,1790940.0,1830790.0,1886090.0
38,Pennsylvania,5494430,5535000.0,5569310.0,5631520.0,5663070.0,5705170.0,5572660.0,5483220.0,5549240.0,5596480.0,5616820.0,5653840.0,5709480.0,5747020.0,5781610.0,5847690.0
39,Rhode Island,477320,480290.0,479810.0,482550.0,485870.0,478420.0,458760.0,448150.0,450980.0,453020.0,456100.0,463930.0,471290.0,475190.0,475910.0,482030.0
40,South Carolina,1764170,1792190.0,1802740.0,1840190.0,1877950.0,1892690.0,1802900.0,1746820.0,1772880.0,1796550.0,1826120.0,1876480.0,1928140.0,1979820.0,2009460.0,2062280.0
41,South Dakota,364970,371010.0,373500.0,381230.0,389400.0,395960.0,392890.0,387590.0,392670.0,398680.0,402990.0,409250.0,413260.0,417520.0,419470.0,422310.0
42,Tennessee,2614830,2665060.0,2686580.0,2718410.0,2739230.0,2755800.0,2625140.0,2569420.0,2602320.0,2657280.0,2700050.0,2749480.0,2814230.0,2893040.0,2915750.0,2956920.0
43,Texas,9248660,9306600.0,9424510.0,9760960.0,10061750.0,10391420.0,10289240.0,10089870.0,10304370.0,10579400.0,10913950.0,11228940.0,11572540.0,11745250.0,11890880.0,12113810.0
44,Utah,1043500,1077210.0,1099230.0,1151020.0,1206180.0,1230320.0,1185770.0,1148520.0,1165980.0,1200850.0,1242690.0,1280660.0,1324460.0,1374900.0,1410670.0,1455910.0
45,Vermont,291400,296260.0,297650.0,299610.0,301140.0,301130.0,294120.0,286990.0,290830.0,294090.0,298290.0,301050.0,303550.0,304670.0,305110.0,305210.0
46,Virginia,3412070,3494250.0,3535500.0,3608430.0,3645330.0,3670980.0,3589520.0,3527350.0,3553360.0,3597100.0,3631440.0,3648490.0,3682450.0,3760550.0,3789910.0,3832840.0
47,Washington,2560190,2614640.0,2653320.0,2736910.0,2811700.0,2868910.0,2789670.0,2693220.0,2720660.0,2764080.0,2827200.0,2898350.0,2983930.0,3067110.0,3186610.0,3259150.0
48,West Virginia,680200,692840.0,697390.0,710560.0,713230.0,717740.0,704310.0,688170.0,700250.0,710540.0,709430.0,707720.0,707000.0,697440.0,688530.0,696620.0
49,Wisconsin,2687400,2717970.0,2727430.0,2744210.0,2768830.0,2776690.0,2689710.0,2608740.0,2645180.0,2673280.0,2704840.0,2727860.0,2771600.0,2805010.0,2825170.0,2848560.0
50,Wyoming,240730,246670.0,251590.0,262260.0,273170.0,283980.0,282450.0,269910.0,272570.0,278040.0,278910.0,282690.0,283830.0,276120.0,267980.0,269320.0

In [40]:
m = Engin3.mean(axis=1)
for i, col in enumerate(Engin3):
    Engin3.iloc[:, i] = Engin3.iloc[:, i].fillna(m)
Engin3 = Engin3.drop(['Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
                          'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
                          'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',], axis = 1)

Engin3 = Engin3.rename(columns = {'Table S-38':'State',
                                       'Unnamed: 33':'All Occupations 2018'})

Engin3.head(10)

                  State  All Occupations 2018
0               Alabama             1943760.0
1                Alaska              315250.0
2               Arizona             2789520.0
3              Arkansas             1210120.0
4            California            17007690.0
5              Colorado             2620640.0
6           Connecticut             1660200.0
7              Delaware              448510.0
8  District of Columbia              712370.0
9               Florida             8608660.0

In [41]:
Engin4 = Engin.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
                          'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
                          'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
                          'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
                          'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
                          'Unnamed: 34',], axis = 1)

Engin4.head()

,Table S-38,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,"Engineers as a Percentage of All Occupations, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Engineers in all occupations (Percent),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,2003,2004.000000,2005.000000,2006.000000,2007.000000,2008.000000,2009.000000,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000
3,United States,1.15027,1.168408,1.162002,1.164285,1.182210,1.203038,1.215392,1.223300,1.227664,1.250671,1.243076,1.242679,1.247267,1.244843,1.244166,1.246527
4,Alabama,1.19192,1.245246,1.312613,1.370658,1.442051,1.358659,1.448257,1.520349,1.519824,1.602719,1.646349,1.634967,1.665684,1.675388,1.712811,1.663786

In [42]:
Engin4.drop(range(0,4), inplace = True)
Engin4.drop(range(55,64), inplace = True)
Engin4 = Engin4.reset_index(drop = True)
Engin4

,Table S-38,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Alabama,1.19192,1.245246,1.312613,1.370658,1.442051,1.358659,1.448257,1.520349,1.519824,1.602719,1.646349,1.634967,1.665684,1.675388,1.712811,1.663786
1,Alaska,1.2279,1.152767,1.166084,1.095791,1.265236,1.445791,1.703771,1.817887,1.721110,1.738312,1.552718,1.575530,1.610390,1.548686,1.599774,1.605075
2,Arizona,1.51621,1.545042,1.453367,1.384146,1.340257,1.359072,1.357336,NaN,1.368793,1.361863,1.346308,1.286511,1.220299,1.235964,1.243320,1.261149
3,Arkansas,0.501479,0.596225,0.624141,0.617908,0.654013,0.624123,0.588153,0.583853,NaN,0.600855,0.613396,0.634282,0.603675,0.606890,0.672427,0.676792
4,California,1.47031,1.557104,1.547280,1.536465,1.591643,1.583292,1.582644,1.589661,1.603325,1.640143,1.612488,1.595267,1.547888,1.453348,1.414195,1.431999
5,Colorado,1.67711,1.614228,1.580743,1.678205,1.708410,1.786443,1.805080,1.742141,1.676411,1.664301,1.758170,1.767478,1.868252,1.845929,1.830705,1.726677
6,Connecticut,1.59474,1.582116,1.546051,1.450892,1.445114,1.408874,1.432427,1.451859,1.450131,1.448828,1.504656,1.462487,1.472795,1.457138,1.652543,1.663053
7,Delaware,0.852223,0.954245,0.986708,1.133712,1.133909,1.204111,1.131929,1.325019,1.194755,1.210105,0.934149,0.954446,0.875899,0.862147,1.100093,1.134869
8,District of Columbia,1.69181,1.600604,1.554345,1.463735,1.262541,1.293470,1.271226,1.429487,1.444015,1.505140,NaN,NaN,1.130077,NaN,NaN,1.203027
9,Florida,0.80777,0.826709,0.847162,0.861713,0.884088,0.888347,0.899137,0.889224,0.885803,0.864192,0.802471,0.764356,0.768425,0.777788,0.768853,0.774685
10,Georgia,0.797257,0.795585,0.776635,0.753952,0.815106,0.885389,0.950848,0.962417,0.926639,0.952948,0.993644,0.979853,1.074743,1.091256,1.061687,1.044430
11,Hawaii,0.837818,0.831170,0.812158,0.897969,0.822533,0.819699,0.842109,0.900932,0.951110,0.986042,0.979741,0.932123,0.940383,0.993482,0.957361,0.920862
12,Idaho,1.51456,1.510486,1.511322,1.484815,1.302262,1.210322,1.205819,1.259353,1.450914,1.463561,1.376835,1.311809,1.367668,1.431823,1.411840,1.416150
13,Illinois,1.01676,1.013721,1.048534,0.982896,0.956457,0.944739,0.993997,1.049124,1.037821,1.088864,1.007240,1.000888,1.032684,1.067783,1.055524,1.017314
14,Indiana,1.05604,1.082294,1.027544,0.974186,0.959785,1.051366,1.053885,1.106483,1.103658,1.146192,1.236752,1.268084,1.240424,1.145671,1.205901,1.223713
15,Iowa,NaN,0.685003,0.690609,0.708728,0.699428,0.683482,0.745685,0.779279,0.823264,0.822715,0.786404,0.850774,0.831068,0.796138,0.760684,0.856846
16,Kansas,1.53772,1.454945,1.419841,1.323060,1.254758,1.231667,1.301243,1.125094,1.237701,1.159798,1.135088,1.030526,1.036723,1.107570,1.158417,1.214210
17,Kentucky,0.761215,0.761996,0.767131,0.727598,0.750361,0.763535,0.819508,0.788434,0.862154,0.832413,0.868287,0.830195,0.867687,0.833846,0.951807,0.997423
18,Louisiana,0.860752,0.811130,0.774042,0.858193,0.821230,0.968014,1.055050,NaN,1.006099,1.067332,1.103797,1.132686,1.101428,1.025404,0.997340,0.986534
19,Maine,0.824673,0.753739,0.750092,0.708650,0.666644,0.741538,0.804631,0.800125,0.813008,0.872468,0.921999,0.910657,0.907831,0.910478,0.932942,0.934687
20,Maryland,1.37263,1.489941,1.483249,1.457028,1.517687,1.537753,1.587834,1.614233,1.567722,1.638202,1.662274,1.632838,1.641358,1.649438,1.669838,1.645299
21,Massachusetts,1.57887,1.644248,1.640940,1.632240,1.646591,1.679516,1.611544,1.587317,1.561282,1.642995,1.605343,1.637020,1.626217,1.662182,1.660681,1.615911
22,Michigan,2.13877,2.104124,2.111251,2.321238,2.416074,2.225333,2.164411,2.176049,2.258292,2.245465,2.278189,2.403939,2.487821,2.580667,2.673502,2.712242
23,Minnesota,1.18261,1.104356,1.131909,1.054068,1.071160,1.090260,1.073206,1.103631,1.164345,1.257426,1.206957,1.210614,1.223920,1.283447,1.275072,1.322314
24,Mississippi,0.713269,0.755210,0.746928,0.883199,0.867154,0.892630,0.801357,NaN,0.775324,NaN,0.724464,0.785142,0.826894,0.789417,0.800379,0.781257
25,Missouri,0.765911,0.857578,0.826614,0.846896,0.946972,0.947022,0.928254,0.885086,0.885366,0.886447,0.867713,0.867357,0.892620,0.902515,0.930189,0.965851
26,Montana,0.67879,0.636117,0.631858,0.664903,0.734821,0.803891,0.809735,0.897950,0.865658,0.929738,0.892715,0.863916,0.894494,0.881823,0.922429,0.900104
27,Nebraska,0.669661,0.641344,0.670039,0.645863,0.638482,0.684179,0.681741,0.658763,0.677625,0.691932,0.739902,0.747654,0.759141,0.776860,0.767859,0.743133
28,Nevada,0.613198,0.639271,0.656238,0.632821,0.630120,0.615695,0.656858,0.704067,0.690163,0.636999,0.557306,0.531267,0.547534,0.573596,0.569370,0.564162
29,New Hampshire,1.23278,1.313257,1.256516,1.289099,1.286773,1.240210,1.294822,1.325776,1.401045,1.353006,1.352811,1.296651,1.326807,1.368886,1.507808,1.514734
30,New Jersey,0.958995,0.987947,0.957545,0.963487,1.004000,1.021496,1.011746,1.004363,1.021942,1.031705,1.031648,0.988820,0.973431,0.968309,0.928516,0.944405
31,New Mexico,1.70136,1.397370,1.379301,1.377065,1.413653,1.403329,1.544247,1.650033,1.616429,1.595896,1.632695,1.605330,1.730251,1.719557,1.645279,1.516608
32,New York,0.796484,0.791695,0.783468,0.817144,0.814940,0.863720,0.817484,0.784035,NaN,0.725567,0.745999,0.760758,0.779531,0.787016,0.793669,0.788866
33,North Carolina,0.837887,0.822924,0.796390,0.771707,0.809775,0.821968,0.843010,0.864614,0.928474,0.946427,0.923226,0.963313,0.984468,1.049865,1.081335,1.036683
34,North Dakota,0.677007,0.647289,0.706197,0.750581,0.731058,0.722114,0.755026,0.829327,0.890671,0.872821,0.853569,0.815131,0.819526,0.926623,0.926393,0.972272
35,Ohio,1.16724,NaN,1.120166,1.079719,1.080624,1.129411,1.159386,1.153872,1.167156,1.202750,1.209751,1.254980,1.305282,1.343977,1.343788,1.343226
36,Oklahoma,0.905664,0.962837,0.968447,0.920562,0.895421,0.901300,0.917834,1.034534,1.075915,1.159553,1.100804,1.158286,1.182747,1.105937,1.090273,NaN
37,Oregon,1.16916,1.221391,1.095836,NaN,1.121779,1.098000,1.156671,1.167102,1.235330,1.331760,1.382674,1.351969,1.459181,1.475203,1.495529,1.465996
38,Pennsylvania,NaN,NaN,1.075358,1.094198,1.089868,1.110221,1.144696,1.166103,1.210256,1.196645,1.145488,NaN,NaN,NaN,NaN,NaN
39,Rhode Island,1.06428,1.138895,1.125445,1.125272,1.078478,1.076460,1.116052,1.167020,1.135305,1.127986,1.146678,1.144569,1.133060,1.155327,1.246034,1.394104
40,South Carolina,1.13141,1.202997,1.165448,1.220526,1.182673,1.201993,1.237451,1.292062,1.405622,1.473380,1.471426,1.399429,1.392534,1.371337,1.357081,1.430941
41,South Dakota,0.54525,0.549850,0.559572,0.579703,NaN,0.616224,0.628675,0.614051,0.669774,0.694793,0.732028,0.740379,0.784010,0.752060,0.739028,0.764841
42,Tennessee,0.798522,0.825497,0.860201,0.780971,0.800955,0.839321,0.822813,0.983101,0.973747,0.994250,1.027018,1.056563,1.025503,0.982703,0.954814,0.939829
43,Texas,1.25597,1.282531,1.274549,1.270264,1.301861,1.410009,1.432662,1.393080,1.380676,1.437889,1.410763,1.389802,1.361153,1.376556,1.362809,1.340949
44,Utah,1.16148,1.118631,1.110778,1.137252,1.144937,1.166363,1.195847,1.256400,1.273607,1.327393,1.416282,1.429732,1.311478,1.292458,1.259685,1.276865
45,Vermont,1.23542,1.259029,1.266588,1.261640,1.218702,1.258593,1.247790,1.289244,1.021215,1.060900,1.190117,1.225710,1.143140,0.951850,0.907869,0.956718
46,Virginia,1.35988,1.425485,1.383397,1.407260,1.442119,1.478624,NaN,1.510199,1.520533,1.502599,1.464708,1.424973,1.363766,1.336773,1.334069,1.387222
47,Washington,1.77565,NaN,1.792848,1.821032,NaN,1.934184,NaN,2.035853,1.980402,NaN,NaN,1.900047,NaN,1.871795,1.710595,1.666692
48,West Virginia,0.718906,0.710121,0.671074,0.736039,0.748707,0.741215,0.705655,0.720752,0.715459,0.702283,0.701972,0.737580,0.806223,0.778562,0.750875,0.793833
49,Wisconsin,1.11074,1.073227,1.081238,1.129287,1.119968,1.152811,1.110900,1.104748,1.117126,1.143539,1.200071,1.272426,1.301775,1.289478,1.295851,1.325231
50,Wyoming,0.876501,0.932420,0.961882,0.979944,1.039646,1.147968,1.175429,1.163351,1.137323,1.096964,1.118640,1.188581,1.194377,1.097349,0.970222,1.009951

In [43]:
m = Engin4.mean(axis=1)
for i, col in enumerate(Engin4):
    Engin4.iloc[:, i] = Engin4.iloc[:, i].fillna(m)
Engin4 = Engin4.drop(['Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39',
                          'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
                          'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49'], axis = 1)

Engin4 = Engin4.rename(columns = {'Table S-38':'State',
                                       'Unnamed: 50':'Engineers 2018 (Percent)'})

Engin4.head(10)

                  State  Engineers 2018 (Percent)
0               Alabama                  1.663786
1                Alaska                  1.605075
2               Arizona                  1.261149
3              Arkansas                  0.676792
4            California                  1.431999
5              Colorado                  1.726677
6           Connecticut                  1.663053
7              Delaware                  1.134869
8  District of Columbia                  1.203027
9               Florida                  0.774685

In [44]:
EnginDFs = [Engin2, Engin3, Engin4]

EnginFinal = reduce(lambda left, right: pd.merge(left, right, on = 'State', how = 'outer'), EnginDFs)

EnginFinal

,State,Engineers 2018,All Occupations 2018,Engineers 2018 (Percent)
0,Alabama,32340.000000,1943760.0,1.663786
1,Alaska,5060.000000,315250.0,1.605075
2,Arizona,35180.000000,2789520.0,1.261149
3,Arkansas,8190.000000,1210120.0,0.676792
4,California,243550.000000,17007690.0,1.431999
5,Colorado,45250.000000,2620640.0,1.726677
6,Connecticut,27610.000000,1660200.0,1.663053
7,Delaware,5090.000000,448510.0,1.134869
8,District of Columbia,8570.000000,712370.0,1.203027
9,Florida,66690.000000,8608660.0,0.774685
10,Georgia,45900.000000,4394740.0,1.044430
11,Hawaii,5910.000000,641790.0,0.920862
12,Idaho,10000.000000,706140.0,1.416150
13,Illinois,60950.000000,5991270.0,1.017314
14,Indiana,37300.000000,3048100.0,1.223713
15,Iowa,13210.000000,1541700.0,0.856846
16,Kansas,16700.000000,1375380.0,1.214210
17,Kentucky,18850.000000,1889870.0,0.997423
18,Louisiana,18880.000000,1913770.0,0.986534
19,Maine,5660.000000,605550.0,0.934687
20,Maryland,44160.000000,2684010.0,1.645299
21,Massachusetts,57710.000000,3571360.0,1.615911
22,Michigan,117110.000000,4317830.0,2.712242
23,Minnesota,37920.000000,2867700.0,1.322314
24,Mississippi,8780.000000,1123830.0,0.781257
25,Missouri,27090.000000,2804780.0,0.965851
26,Montana,4170.000000,463280.0,0.900104
27,Nebraska,7270.000000,978290.0,0.743133
28,Nevada,7600.000000,1347130.0,0.564162
29,New Hampshire,9890.000000,652920.0,1.514734
30,New Jersey,38250.000000,4050170.0,0.944405
31,New Mexico,12310.000000,811680.0,1.516608
32,New York,74040.000000,9385620.0,0.788866
33,North Carolina,45440.000000,4383210.0,1.036683
34,North Dakota,4050.000000,416550.0,0.972272
35,Ohio,72760.000000,5416810.0,1.343226
36,Oklahoma,15837.857143,1594370.0,1.033889
37,Oregon,27650.000000,1886090.0,1.465996
38,Pennsylvania,63641.111111,5847690.0,1.136981
39,Rhode Island,6720.000000,482030.0,1.394104
40,South Carolina,29510.000000,2062280.0,1.430941
41,South Dakota,3230.000000,422310.0,0.764841
42,Tennessee,27790.000000,2956920.0,0.939829
43,Texas,162440.000000,12113810.0,1.340949
44,Utah,18590.000000,1455910.0,1.276865
45,Vermont,2920.000000,305210.0,0.956718
46,Virginia,53170.000000,3832840.0,1.387222
47,Washington,54320.000000,3259150.0,1.666692
48,West Virginia,5530.000000,696620.0,0.793833
49,Wisconsin,37750.000000,2848560.0,1.325231
50,Wyoming,2720.000000,269320.0,1.009951

In [45]:
COVIDCases = pd.read_csv('us-states.csv')
COVIDCases = COVIDCases.groupby(['state']).sum()
COVIDCases = COVIDCases.reset_index()
COVIDCases.drop([11, 36, 41, 49], inplace = True)
COVIDCases = COVIDCases.reset_index(drop = True)
COVIDCases.state

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: state, dtype: object

In [46]:
COVIDCases = COVIDCases.rename(columns = {'state':'State'})
COVIDCases.head()

        State  fips    cases  deaths
0     Alabama    73   387786   14345
1      Alaska   148    18316     367
2     Arizona   480   426614   18857
3    Arkansas   375   161569    3301
4  California   726  2664110  102387

In [47]:
COVIDEngin = pd.merge(COVIDCases, EnginFinal, how = 'left', on = 'State')
COVIDEngin

,State,fips,cases,deaths,Engineers 2018,All Occupations 2018,Engineers 2018 (Percent)
0,Alabama,73,387786,14345,32340.000000,1943760.0,1.663786
1,Alaska,148,18316,367,5060.000000,315250.0,1.605075
2,Arizona,480,426614,18857,35180.000000,2789520.0,1.261149
3,Arkansas,375,161569,3301,8190.000000,1210120.0,0.676792
4,California,726,2664110,102387,243550.000000,17007690.0,1.431999
5,Colorado,648,766512,37828,45250.000000,2620640.0,1.726677
6,Connecticut,702,1314995,104185,27610.000000,1660200.0,1.663053
7,Delaware,750,234327,7813,5090.000000,448510.0,1.134869
8,District of Columbia,869,229466,10822,8570.000000,712370.0,1.203027
9,Florida,1020,1726811,63147,66690.000000,8608660.0,0.774685
10,Georgia,1092,1282091,54209,45900.000000,4394740.0,1.044430
11,Hawaii,1200,31433,681,5910.000000,641790.0,0.920862
12,Idaho,1168,103987,2828,10000.000000,706140.0,1.416150
13,Illinois,2074,2843621,122000,60950.000000,5991270.0,1.017314
14,Indiana,1440,920434,53042,37300.000000,3048100.0,1.223713
15,Iowa,1482,396980,9203,13210.000000,1541700.0,0.856846
16,Kansas,1580,231885,6527,16700.000000,1375380.0,1.214210
17,Kentucky,1680,246480,11851,18850.000000,1889870.0,0.997423
18,Louisiana,1694,1443404,90609,18880.000000,1913770.0,0.986534
19,Maine,1702,61284,2451,5660.000000,605550.0,0.934687
20,Maryland,1944,1173802,56126,44160.000000,2684010.0,1.645299
21,Massachusetts,2850,2929874,167711,57710.000000,3571360.0,1.615911
22,Michigan,1976,2023047,171867,117110.000000,4317830.0,2.712242
23,Minnesota,2160,377850,18934,37920.000000,2867700.0,1.322314
24,Mississippi,2100,358459,15047,8780.000000,1123830.0,0.781257
25,Missouri,2291,395952,17924,27090.000000,2804780.0,0.965851
26,Montana,2190,23875,676,4170.000000,463280.0,0.900104
27,Nebraska,3038,259429,3535,7270.000000,978290.0,0.743133
28,Nevada,2592,259808,11975,7600.000000,1347130.0,0.564162
29,New Hampshire,2772,117245,4507,9890.000000,652920.0,1.514734
30,New Jersey,2788,5645458,332869,38250.000000,4050170.0,0.944405
31,New Mexico,2625,177827,6867,12310.000000,811680.0,1.516608
32,New York,3060,15041806,1081194,74040.000000,9385620.0,0.788866
33,North Carolina,3071,568719,19258,45440.000000,4383210.0,1.036683
34,North Dakota,2850,55932,1219,4050.000000,416550.0,0.972272
35,Ohio,3003,908834,47879,72760.000000,5416810.0,1.343226
36,Oklahoma,3200,187462,10394,15837.857143,1594370.0,1.033889
37,Oregon,3567,134979,5067,27650.000000,1886090.0,1.465996
38,Pennsylvania,3360,2320771,127278,63641.111111,5847690.0,1.136981
39,Rhode Island,3740,401931,14251,6720.000000,482030.0,1.394104
40,South Carolina,3600,313173,11859,29510.000000,2062280.0,1.430941
41,South Dakota,3496,122292,1121,3230.000000,422310.0,0.764841
42,Tennessee,3807,583792,10198,27790.000000,2956920.0,0.939829
43,Texas,4944,1553075,41267,162440.000000,12113810.0,1.340949
44,Utah,4410,245859,2472,18590.000000,1455910.0,1.276865
45,Vermont,3950,45230,2320,2920.000000,305210.0,0.956718
46,Virginia,4029,866807,28754,53170.000000,3832840.0,1.387222
47,Washington,6625,807848,42371,54320.000000,3259150.0,1.666692
48,West Virginia,3726,56158,1950,5530.000000,696620.0,0.793833
49,Wisconsin,6050,393823,15587,37750.000000,2848560.0,1.325231
50,Wyoming,4200,28407,281,2720.000000,269320.0,1.009951

In [48]:
COVIDEngin = COVIDEngin.drop(['fips'], axis = 1)
COVIDEngin

,State,cases,deaths,Engineers 2018,All Occupations 2018,Engineers 2018 (Percent)
0,Alabama,387786,14345,32340.000000,1943760.0,1.663786
1,Alaska,18316,367,5060.000000,315250.0,1.605075
2,Arizona,426614,18857,35180.000000,2789520.0,1.261149
3,Arkansas,161569,3301,8190.000000,1210120.0,0.676792
4,California,2664110,102387,243550.000000,17007690.0,1.431999
5,Colorado,766512,37828,45250.000000,2620640.0,1.726677
6,Connecticut,1314995,104185,27610.000000,1660200.0,1.663053
7,Delaware,234327,7813,5090.000000,448510.0,1.134869
8,District of Columbia,229466,10822,8570.000000,712370.0,1.203027
9,Florida,1726811,63147,66690.000000,8608660.0,0.774685
10,Georgia,1282091,54209,45900.000000,4394740.0,1.044430
11,Hawaii,31433,681,5910.000000,641790.0,0.920862
12,Idaho,103987,2828,10000.000000,706140.0,1.416150
13,Illinois,2843621,122000,60950.000000,5991270.0,1.017314
14,Indiana,920434,53042,37300.000000,3048100.0,1.223713
15,Iowa,396980,9203,13210.000000,1541700.0,0.856846
16,Kansas,231885,6527,16700.000000,1375380.0,1.214210
17,Kentucky,246480,11851,18850.000000,1889870.0,0.997423
18,Louisiana,1443404,90609,18880.000000,1913770.0,0.986534
19,Maine,61284,2451,5660.000000,605550.0,0.934687
20,Maryland,1173802,56126,44160.000000,2684010.0,1.645299
21,Massachusetts,2929874,167711,57710.000000,3571360.0,1.615911
22,Michigan,2023047,171867,117110.000000,4317830.0,2.712242
23,Minnesota,377850,18934,37920.000000,2867700.0,1.322314
24,Mississippi,358459,15047,8780.000000,1123830.0,0.781257
25,Missouri,395952,17924,27090.000000,2804780.0,0.965851
26,Montana,23875,676,4170.000000,463280.0,0.900104
27,Nebraska,259429,3535,7270.000000,978290.0,0.743133
28,Nevada,259808,11975,7600.000000,1347130.0,0.564162
29,New Hampshire,117245,4507,9890.000000,652920.0,1.514734
30,New Jersey,5645458,332869,38250.000000,4050170.0,0.944405
31,New Mexico,177827,6867,12310.000000,811680.0,1.516608
32,New York,15041806,1081194,74040.000000,9385620.0,0.788866
33,North Carolina,568719,19258,45440.000000,4383210.0,1.036683
34,North Dakota,55932,1219,4050.000000,416550.0,0.972272
35,Ohio,908834,47879,72760.000000,5416810.0,1.343226
36,Oklahoma,187462,10394,15837.857143,1594370.0,1.033889
37,Oregon,134979,5067,27650.000000,1886090.0,1.465996
38,Pennsylvania,2320771,127278,63641.111111,5847690.0,1.136981
39,Rhode Island,401931,14251,6720.000000,482030.0,1.394104
40,South Carolina,313173,11859,29510.000000,2062280.0,1.430941
41,South Dakota,122292,1121,3230.000000,422310.0,0.764841
42,Tennessee,583792,10198,27790.000000,2956920.0,0.939829
43,Texas,1553075,41267,162440.000000,12113810.0,1.340949
44,Utah,245859,2472,18590.000000,1455910.0,1.276865
45,Vermont,45230,2320,2920.000000,305210.0,0.956718
46,Virginia,866807,28754,53170.000000,3832840.0,1.387222
47,Washington,807848,42371,54320.000000,3259150.0,1.666692
48,West Virginia,56158,1950,5530.000000,696620.0,0.793833
49,Wisconsin,393823,15587,37750.000000,2848560.0,1.325231
50,Wyoming,28407,281,2720.000000,269320.0,1.009951