In [1]:
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
SciEng = pd.read_excel('se-occupations-to-all-occupations.xlsx')
SciEng

,Table S-32,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Individuals in Science and Engineering Occupat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Individuals in S&E occupations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,2003,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,...,2009.000000,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000
3,United States,4961540,5174260.0,5233520.0,5407710.0,5591990.0,5781460.0,5785710.0,5549980.0,5794980.0,...,4.428485,4.366722,4.517497,4.580816,4.630270,4.675987,4.740405,4.805269,4.832730,4.894307
4,Alabama,56380,59880.0,62790.0,66100.0,69650.0,68580.0,68670.0,68450.0,70290.0,...,3.684764,3.787041,3.884670,3.994738,4.156544,4.009626,3.886243,3.788833,3.818327,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,NOTES: Occupational Employment Statistics (OES...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,"SOURCE: Bureau of Labor Statistics, special ta...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Recommended Citation: National Science Board. ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,"Last updated: September 24, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Science and Engineering Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
SciEng2 = SciEng.drop(['Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
                          'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
                          'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
                          'Unnamed: 34', 'Unnamed: 33', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39',
                          'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
                          'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50'], axis = 1)

SciEng2.head()

,Table S-32,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Individuals in Science and Engineering Occupat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Individuals in S&E occupations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,2003,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
3,United States,4961540,5174260.0,5233520.0,5407710.0,5591990.0,5781460.0,5785710.0,5549980.0,5794980.0,5968240.0,6139220.0,6318580.0,6536860.0,6746600.0,6889020.0,7083690.0
4,Alabama,56380,59880.0,62790.0,66100.0,69650.0,68580.0,68670.0,68450.0,70290.0,72880.0,76650.0,74480.0,73190.0,72480.0,73410.0,NaN

In [4]:
SciEng2.drop(range(0,4), inplace = True)
SciEng2.drop(range(55,64), inplace = True)
SciEng2 = SciEng2.reset_index(drop = True)
SciEng2

,Table S-32,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Alabama,56380,59880.0,62790.0,66100.0,69650.0,68580.0,68670.0,68450.0,70290.0,72880.0,76650.0,74480.0,73190.0,72480.0,73410.0,NaN
1,Alaska,10600,10870.0,11230.0,10720.0,11990.0,13260.0,14780.0,15430.0,15680.0,16260.0,15210.0,14920.0,14970.0,14340.0,14810.0,14480.0
2,Arizona,92120,98400.0,96410.0,98110.0,102380.0,102100.0,102820.0,102870.0,115330.0,116930.0,123410.0,127760.0,133650.0,138560.0,140300.0,NaN
3,Arkansas,21340,24170.0,24660.0,24860.0,28460.0,29310.0,31420.0,29200.0,29350.0,29530.0,30660.0,32050.0,33350.0,33180.0,35690.0,35500.0
4,California,676180,703250.0,716530.0,NaN,753570.0,791750.0,795240.0,758830.0,800430.0,821780.0,849510.0,880850.0,NaN,932020.0,946680.0,989560.0
5,Colorado,124140,125510.0,126110.0,133730.0,138990.0,147000.0,148090.0,143210.0,144750.0,149020.0,154020.0,160700.0,167400.0,175370.0,180660.0,187050.0
6,Connecticut,81380,83840.0,83930.0,79380.0,80280.0,80290.0,79160.0,74990.0,76550.0,78450.0,78850.0,79000.0,79490.0,80330.0,82960.0,84100.0
7,Delaware,17370,18420.0,18010.0,21550.0,22140.0,22330.0,22200.0,20920.0,22430.0,23440.0,22030.0,22830.0,22750.0,24120.0,26470.0,26120.0
8,District of Columbia,54890,61460.0,63410.0,64120.0,63150.0,63360.0,61430.0,59870.0,62660.0,63600.0,65300.0,68820.0,69880.0,75520.0,76500.0,74030.0
9,Florida,221070,235170.0,241000.0,246190.0,244140.0,248200.0,247070.0,239600.0,244970.0,248300.0,250330.0,257450.0,271840.0,284030.0,293850.0,304650.0
10,Georgia,144170,139230.0,137580.0,136470.0,136880.0,147380.0,NaN,145220.0,147820.0,148830.0,160820.0,169940.0,NaN,196370.0,200620.0,210710.0
11,Hawaii,16090,17630.0,17460.0,18940.0,18740.0,18830.0,19020.0,19500.0,20100.0,20930.0,21140.0,20900.0,21060.0,21760.0,21590.0,21400.0
12,Idaho,22150,23050.0,23880.0,NaN,24330.0,23310.0,23520.0,24130.0,25950.0,25260.0,25850.0,26460.0,28320.0,29050.0,29250.0,30230.0
13,Illinois,211230,219040.0,221630.0,222470.0,225180.0,224370.0,221170.0,197120.0,204420.0,220170.0,226850.0,235380.0,245330.0,260160.0,258920.0,263930.0
14,Indiana,78410,80950.0,79910.0,80110.0,83080.0,90840.0,90750.0,90710.0,93640.0,94620.0,100870.0,104000.0,104290.0,106230.0,108850.0,NaN
15,Iowa,37320,40060.0,40300.0,43670.0,45430.0,46180.0,47080.0,44140.0,48930.0,50950.0,52440.0,53440.0,52790.0,53580.0,55050.0,58180.0
16,Kansas,51970,52650.0,51630.0,48620.0,50040.0,54260.0,56200.0,48970.0,51530.0,50930.0,51240.0,50120.0,53660.0,57150.0,58140.0,57720.0
17,Kentucky,45230,43740.0,44530.0,44680.0,49030.0,NaN,51200.0,48790.0,51990.0,51830.0,53920.0,54350.0,56190.0,55340.0,57210.0,59080.0
18,Louisiana,41900,42520.0,41030.0,40180.0,38450.0,41790.0,43630.0,44200.0,42760.0,45920.0,46750.0,49120.0,48440.0,46770.0,45020.0,46240.0
19,Maine,15020,14980.0,15500.0,15950.0,15960.0,17000.0,17910.0,17470.0,17490.0,17910.0,18840.0,19410.0,19960.0,20580.0,20550.0,21630.0
20,Maryland,149250,158350.0,160120.0,159470.0,162540.0,167070.0,169540.0,166700.0,173020.0,179550.0,186780.0,190080.0,193810.0,199860.0,201310.0,206360.0
21,Massachusetts,184690,190960.0,193180.0,198670.0,205610.0,217310.0,217690.0,208160.0,220670.0,229160.0,227780.0,230480.0,231640.0,242960.0,246110.0,249400.0
22,Michigan,182940,188580.0,192150.0,208520.0,212040.0,204290.0,187760.0,176570.0,188380.0,198610.0,207800.0,219630.0,228140.0,238120.0,248460.0,253850.0
23,Minnesota,117120,118590.0,120930.0,125930.0,129840.0,134440.0,134060.0,125100.0,130340.0,131690.0,133580.0,140190.0,143620.0,149360.0,150210.0,154630.0
24,Mississippi,22190,22970.0,23480.0,24910.0,25520.0,27270.0,25940.0,23770.0,23440.0,23640.0,24320.0,24860.0,25440.0,25280.0,26050.0,26270.0
25,Missouri,84150,91820.0,92260.0,96420.0,102170.0,105390.0,104310.0,102300.0,106930.0,109650.0,105730.0,106980.0,110220.0,116670.0,119440.0,125620.0
26,Montana,11450,11640.0,11940.0,13010.0,13240.0,NaN,14210.0,14620.0,14960.0,15360.0,15570.0,15540.0,16320.0,15840.0,17070.0,17830.0
27,Nebraska,30710,31760.0,31530.0,32500.0,31420.0,31820.0,31790.0,30930.0,33800.0,34720.0,36480.0,36220.0,37950.0,39780.0,41890.0,42200.0
28,Nevada,22330,24440.0,24400.0,26930.0,26920.0,27300.0,27560.0,26840.0,28370.0,27000.0,26850.0,26890.0,28200.0,29460.0,31520.0,32690.0
29,New Hampshire,23430,25620.0,26840.0,27680.0,28450.0,29150.0,30550.0,29200.0,29260.0,28950.0,28460.0,28320.0,29290.0,30400.0,32170.0,34780.0
30,New Jersey,161420,171990.0,174270.0,176460.0,186120.0,198060.0,195690.0,185360.0,182210.0,181480.0,184720.0,188240.0,193440.0,204000.0,203270.0,211240.0
31,New Mexico,33600,32000.0,32530.0,30800.0,33440.0,34560.0,36950.0,36130.0,35520.0,35310.0,34900.0,36180.0,37510.0,38420.0,37020.0,36630.0
32,New York,272440,283150.0,289010.0,306810.0,322520.0,326510.0,315480.0,NaN,310510.0,321480.0,333710.0,348740.0,368920.0,378600.0,392570.0,401580.0
33,North Carolina,132440,136430.0,134290.0,138790.0,142970.0,153680.0,158920.0,155030.0,161880.0,167900.0,173960.0,181030.0,187210.0,199300.0,207220.0,213120.0
34,North Dakota,8430,8460.0,9070.0,9360.0,9660.0,9450.0,9930.0,11050.0,12070.0,13120.0,12520.0,12970.0,12960.0,14020.0,14010.0,14750.0
35,Ohio,177100,181180.0,180900.0,185190.0,196390.0,206320.0,207930.0,195840.0,208140.0,NaN,218030.0,219830.0,233570.0,239800.0,249180.0,251630.0
36,Oklahoma,44360,46320.0,46370.0,50770.0,51430.0,48900.0,45730.0,44190.0,47090.0,50420.0,51900.0,52910.0,55170.0,54380.0,55460.0,55920.0
37,Oregon,61230,64820.0,62030.0,64520.0,67890.0,70070.0,69630.0,NaN,NaN,75780.0,79040.0,80470.0,86350.0,89080.0,92790.0,94630.0
38,Pennsylvania,185560,195510.0,204270.0,214910.0,218890.0,227170.0,NaN,NaN,NaN,NaN,243850.0,248750.0,255170.0,262280.0,267350.0,NaN
39,Rhode Island,18740,19330.0,18080.0,18060.0,18400.0,18090.0,18120.0,18210.0,19450.0,20180.0,20740.0,21210.0,21550.0,22000.0,23010.0,23310.0
40,South Carolina,48740,50840.0,50460.0,53230.0,54120.0,57770.0,57370.0,56230.0,61020.0,63170.0,65140.0,67300.0,68380.0,71190.0,72970.0,75750.0
41,South Dakota,9150,9530.0,9460.0,10120.0,11550.0,11870.0,11570.0,11150.0,11790.0,12000.0,12770.0,13220.0,13870.0,14160.0,14260.0,14790.0
42,Tennessee,63680,65730.0,66390.0,67040.0,70820.0,72760.0,68970.0,71850.0,77630.0,79830.0,NaN,86680.0,88820.0,90240.0,93320.0,96060.0
43,Texas,365270,384600.0,389550.0,408710.0,441410.0,463850.0,470010.0,451390.0,469080.0,493980.0,514400.0,541060.0,563410.0,566230.0,567040.0,581440.0
44,Utah,45570,45250.0,45110.0,49690.0,51340.0,52570.0,51270.0,50830.0,51350.0,54720.0,57980.0,62810.0,64670.0,68630.0,73320.0,NaN
45,Vermont,11420,12510.0,12770.0,12780.0,12760.0,12360.0,12780.0,12670.0,13100.0,12870.0,12920.0,13280.0,13710.0,13390.0,13160.0,12890.0
46,Virginia,209280,233590.0,236650.0,251720.0,254710.0,259280.0,264090.0,255800.0,267620.0,274280.0,276230.0,272410.0,270990.0,275350.0,282830.0,289420.0
47,Washington,150230,156780.0,160960.0,171780.0,183900.0,NaN,196850.0,186210.0,196760.0,NaN,209710.0,208630.0,219130.0,227910.0,235070.0,242680.0
48,West Virginia,16220,15990.0,16040.0,17150.0,16560.0,17000.0,16350.0,17070.0,18300.0,19900.0,19490.0,20110.0,20490.0,20510.0,20830.0,21770.0
49,Wisconsin,93320,93760.0,93590.0,96860.0,99380.0,101680.0,100850.0,99240.0,102320.0,103030.0,106210.0,112540.0,117720.0,124000.0,125610.0,129060.0
50,Wyoming,6130,6960.0,7350.0,7640.0,8110.0,8850.0,8920.0,8260.0,8440.0,8710.0,NaN,9050.0,8980.0,8460.0,7960.0,8440.0

In [5]:
m = SciEng2.mean(axis=1)
for i, col in enumerate(SciEng2):
    SciEng2.iloc[:, i] = SciEng2.iloc[:, i].fillna(m)
SciEng2 = SciEng2.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
                          'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
                          'Unnamed: 14', 'Unnamed: 15'], axis = 1)

SciEng2 = SciEng2.rename(columns = {'Table S-32':'State',
                                       'Unnamed: 16':'Science Engineer Workers 2018'})

SciEng2.head(10)

                  State  Science Engineer Workers 2018
0               Alabama                   69821.428571
1                Alaska                   14480.000000
2               Arizona                  114216.428571
3              Arkansas                   35500.000000
4            California                  989560.000000
5              Colorado                  187050.000000
6           Connecticut                   84100.000000
7              Delaware                   26120.000000
8  District of Columbia                   74030.000000
9               Florida                  304650.000000

In [6]:
SciEng3 = SciEng.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
                          'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
                          'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39',
                          'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
                          'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50'], axis = 1)

SciEng3.head()

,Table S-32,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,Individuals in Science and Engineering Occupat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,All occupations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,2003,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
3,United States,127420170,129146700.0,130307840.0,132604980.0,134354250.0,135185230.0,130647610.0,127097160.0,128278550.0,130287700.0,132588810.0,135128260.0,137896660.0,140400040.0,142549250.0,144733270.0
4,Alabama,1817240,1851040.0,1872600.0,1912220.0,1931970.0,1945300.0,1863620.0,1807480.0,1809420.0,1824400.0,1844080.0,1857530.0,1883310.0,1912990.0,1922570.0,1943760.0

In [7]:
SciEng3.drop(range(0,4), inplace = True)
SciEng3.drop(range(55,64), inplace = True)
SciEng3 = SciEng3.reset_index(drop = True)
SciEng3

,Table S-32,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,Alabama,1817240,1851040.0,1872600.0,1912220.0,1931970.0,1945300.0,1863620.0,1807480.0,1809420.0,1824400.0,1844080.0,1857530.0,1883310.0,1912990.0,1922570.0,1943760.0
1,Alaska,290740,295810.0,300150.0,303890.0,301920.0,307790.0,308140.0,308050.0,313170.0,318700.0,322660.0,324970.0,327250.0,323500.0,318170.0,315250.0
2,Arizona,2275410,2370810.0,2437100.0,2574150.0,2648000.0,2637830.0,2479120.0,2367120.0,2380200.0,2414340.0,2475660.0,2526990.0,2587070.0,2652990.0,2704050.0,2789520.0
3,Arkansas,1118690,1133800.0,1142370.0,1166840.0,1172760.0,1176050.0,1147660.0,1135560.0,1139670.0,1155020.0,1152600.0,1158790.0,1176130.0,1191320.0,1200130.0,1210120.0
4,California,14460860,14598250.0,14723900.0,15065750.0,15202530.0,15212610.0,14532640.0,14001730.0,14038950.0,14303630.0,14714530.0,15119730.0,15496600.0,15966580.0,16695010.0,17007690.0
5,Colorado,2097650,2130430.0,2151520.0,2207120.0,2258240.0,2302340.0,2234250.0,2157690.0,2179060.0,2226160.0,2295000.0,2367780.0,2451490.0,2507680.0,2555300.0,2620640.0
6,Connecticut,1631610,1640840.0,1648070.0,1658980.0,1682220.0,1697810.0,1648950.0,1598640.0,1608820.0,1620620.0,1635590.0,1646510.0,1659430.0,1666280.0,1654420.0,1660200.0
7,Delaware,403650,413940.0,417550.0,424270.0,425960.0,425210.0,412570.0,397730.0,403430.0,405750.0,412140.0,424330.0,433840.0,440760.0,442690.0,448510.0
8,District of Columbia,595220,609770.0,611190.0,609400.0,620970.0,635500.0,637180.0,639390.0,644730.0,653760.0,665850.0,674650.0,676060.0,702380.0,708220.0,712370.0
9,Florida,7217400,7479050.0,7614840.0,7869210.0,7963010.0,7771740.0,7355940.0,7103950.0,7151700.0,7273850.0,7453230.0,7665280.0,7925300.0,8222030.0,8419030.0,8608660.0
10,Georgia,3770430,3848740.0,3904020.0,4001580.0,4058370.0,4068270.0,3889160.0,3744740.0,3779250.0,3815530.0,3879660.0,3983250.0,4107960.0,4214410.0,4303530.0,4394740.0
11,Hawaii,557400,573890.0,583630.0,599130.0,610310.0,612420.0,587810.0,571630.0,577220.0,588210.0,602200.0,612580.0,619960.0,632120.0,632990.0,641790.0
12,Idaho,563200,584580.0,597490.0,624320.0,641960.0,650240.0,614520.0,594750.0,592730.0,598540.0,613000.0,628140.0,642700.0,663490.0,685630.0,706140.0
13,Illinois,5719150,5739250.0,5767100.0,5826660.0,5894670.0,5910630.0,5704240.0,5528420.0,5574180.0,5640740.0,5704700.0,5765880.0,5852710.0,5903820.0,5927860.0,5991270.0
14,Indiana,2851210,2879070.0,2891360.0,2913200.0,2928780.0,2927620.0,2787780.0,2724850.0,2758100.0,2811920.0,2854250.0,2905170.0,2947380.0,2991260.0,3018490.0,3048100.0
15,Iowa,1413220,1433570.0,1446550.0,1470240.0,1488360.0,1502600.0,1471130.0,1438510.0,1449110.0,1470740.0,1491600.0,1512740.0,1526950.0,1534910.0,1535460.0,1541700.0
16,Kansas,1292170,1311390.0,1315640.0,1321180.0,1347670.0,1374560.0,1348710.0,1304780.0,1308070.0,1320920.0,1336460.0,1359500.0,1371630.0,1374180.0,1369110.0,1375380.0
17,Kentucky,1719620,1736230.0,1754590.0,1779830.0,1801800.0,1817860.0,1748610.0,1716060.0,1732870.0,1764750.0,1782820.0,1808010.0,1838220.0,1869650.0,1876430.0,1889870.0
18,Louisiana,1851870,1865300.0,1877160.0,1776990.0,1847230.0,1887370.0,1871950.0,1832830.0,1839780.0,1868210.0,1885310.0,1915800.0,1939300.0,1922170.0,1902060.0,1913770.0
19,Maine,591750,598350.0,597260.0,596910.0,600020.0,604150.0,589090.0,577410.0,575640.0,581110.0,582430.0,586390.0,591520.0,596390.0,599180.0,605550.0
20,Maryland,2448580,2477280.0,2497220.0,2531180.0,2551910.0,2561530.0,2503410.0,2462470.0,2480670.0,2510680.0,2534480.0,2557510.0,2596630.0,2640900.0,2664330.0,2684010.0
21,Massachusetts,3130720,3129090.0,3144540.0,3170490.0,3207840.0,3234860.0,3169010.0,3119100.0,3157020.0,3202080.0,3257870.0,3322500.0,3396840.0,3459910.0,3528070.0,3571360.0
22,Michigan,4310420,4324840.0,4334870.0,4294260.0,4210550.0,4142750.0,3893900.0,3755890.0,3829000.0,3918120.0,3998790.0,4073730.0,4146600.0,4212090.0,4276040.0,4317830.0
23,Minnesota,2591720,2625060.0,2635370.0,2682940.0,2687740.0,2704860.0,2627640.0,2562450.0,2595450.0,2641110.0,2688580.0,2730020.0,2772240.0,2810400.0,2838270.0,2867700.0
24,Mississippi,1089350,1101680.0,1108540.0,1113000.0,1128980.0,1138210.0,1096890.0,1070820.0,1073100.0,1080420.0,1083560.0,1094070.0,1106550.0,1117280.0,1119470.0,1123830.0
25,Missouri,2623020,2646990.0,2663880.0,2700450.0,2732920.0,2740170.0,2668450.0,2588450.0,2591020.0,2605910.0,2639120.0,2673640.0,2712240.0,2757850.0,2788680.0,2804780.0
26,Montana,394820,408730.0,414650.0,427130.0,435480.0,444090.0,432240.0,424300.0,425110.0,432380.0,439110.0,443330.0,447180.0,454740.0,460740.0,463280.0
27,Nebraska,879550,887200.0,895470.0,901120.0,914670.0,928120.0,916770.0,901690.0,904630.0,914830.0,927150.0,942950.0,953710.0,968000.0,970230.0,978290.0
28,Nevada,1086110,1154440.0,1191640.0,1257860.0,1285470.0,1278230.0,1179860.0,1113530.0,1112780.0,1127160.0,1151970.0,1189610.0,1232800.0,1270930.0,1310220.0,1347130.0
29,New Hampshire,607570,618310.0,621560.0,627570.0,632590.0,634570.0,619390.0,603420.0,606690.0,612710.0,620190.0,627000.0,635360.0,645050.0,649950.0,652920.0
30,New Jersey,3878020,3901020.0,3917310.0,3957500.0,3980080.0,3986310.0,3850770.0,3770550.0,3771250.0,3793720.0,3821070.0,3869260.0,3906800.0,3955350.0,4007470.0,4050170.0
31,New Mexico,747050,754990.0,763430.0,789360.0,798640.0,819480.0,800390.0,777560.0,777640.0,773860.0,783980.0,788000.0,798150.0,805440.0,801080.0,811680.0
32,New York,8236200,8299910.0,8333460.0,8387750.0,8515960.0,8633580.0,8487020.0,8344020.0,8427560.0,8542280.0,8635400.0,8810950.0,8984890.0,9097650.0,9207870.0,9385620.0
33,North Carolina,3702170,3770700.0,3809690.0,3892670.0,4013460.0,4063420.0,3896750.0,3772780.0,3814860.0,3878800.0,3947030.0,4030880.0,4125070.0,4231020.0,4298390.0,4383210.0
34,North Dakota,314620,324430.0,328520.0,335740.0,341970.0,350360.0,353630.0,355710.0,371630.0,403290.0,422930.0,440420.0,447820.0,425200.0,416670.0,416550.0
35,Ohio,5308270,5324700.0,5340280.0,5354170.0,5341360.0,5323130.0,5091490.0,4921690.0,4977910.0,5054250.0,5125850.0,5200880.0,5280850.0,5337890.0,5370640.0,5416810.0
36,Oklahoma,1416640,1436380.0,1455940.0,1503430.0,1528890.0,1557750.0,1525330.0,1483760.0,1498260.0,1529900.0,1558860.0,1577330.0,1597130.0,1586890.0,1573000.0,1594370.0
37,Oregon,1537000,1576890.0,1598780.0,1648680.0,1682150.0,1706740.0,1624490.0,1569700.0,1586620.0,1609900.0,1640300.0,1683470.0,1735220.0,1790940.0,1830790.0,1886090.0
38,Pennsylvania,5494430,5535000.0,5569310.0,5631520.0,5663070.0,5705170.0,5572660.0,5483220.0,5549240.0,5596480.0,5616820.0,5653840.0,5709480.0,5747020.0,5781610.0,5847690.0
39,Rhode Island,477320,480290.0,479810.0,482550.0,485870.0,478420.0,458760.0,448150.0,450980.0,453020.0,456100.0,463930.0,471290.0,475190.0,475910.0,482030.0
40,South Carolina,1764170,1792190.0,1802740.0,1840190.0,1877950.0,1892690.0,1802900.0,1746820.0,1772880.0,1796550.0,1826120.0,1876480.0,1928140.0,1979820.0,2009460.0,2062280.0
41,South Dakota,364970,371010.0,373500.0,381230.0,389400.0,395960.0,392890.0,387590.0,392670.0,398680.0,402990.0,409250.0,413260.0,417520.0,419470.0,422310.0
42,Tennessee,2614830,2665060.0,2686580.0,2718410.0,2739230.0,2755800.0,2625140.0,2569420.0,2602320.0,2657280.0,2700050.0,2749480.0,2814230.0,2893040.0,2915750.0,2956920.0
43,Texas,9248660,9306600.0,9424510.0,9760960.0,10061750.0,10391420.0,10289240.0,10089870.0,10304370.0,10579400.0,10913950.0,11228940.0,11572540.0,11745250.0,11890880.0,12113810.0
44,Utah,1043500,1077210.0,1099230.0,1151020.0,1206180.0,1230320.0,1185770.0,1148520.0,1165980.0,1200850.0,1242690.0,1280660.0,1324460.0,1374900.0,1410670.0,1455910.0
45,Vermont,291400,296260.0,297650.0,299610.0,301140.0,301130.0,294120.0,286990.0,290830.0,294090.0,298290.0,301050.0,303550.0,304670.0,305110.0,305210.0
46,Virginia,3412070,3494250.0,3535500.0,3608430.0,3645330.0,3670980.0,3589520.0,3527350.0,3553360.0,3597100.0,3631440.0,3648490.0,3682450.0,3760550.0,3789910.0,3832840.0
47,Washington,2560190,2614640.0,2653320.0,2736910.0,2811700.0,2868910.0,2789670.0,2693220.0,2720660.0,2764080.0,2827200.0,2898350.0,2983930.0,3067110.0,3186610.0,3259150.0
48,West Virginia,680200,692840.0,697390.0,710560.0,713230.0,717740.0,704310.0,688170.0,700250.0,710540.0,709430.0,707720.0,707000.0,697440.0,688530.0,696620.0
49,Wisconsin,2687400,2717970.0,2727430.0,2744210.0,2768830.0,2776690.0,2689710.0,2608740.0,2645180.0,2673280.0,2704840.0,2727860.0,2771600.0,2805010.0,2825170.0,2848560.0
50,Wyoming,240730,246670.0,251590.0,262260.0,273170.0,283980.0,282450.0,269910.0,272570.0,278040.0,278910.0,282690.0,283830.0,276120.0,267980.0,269320.0

In [8]:
m = SciEng3.mean(axis=1)
for i, col in enumerate(SciEng3):
    SciEng3.iloc[:, i] = SciEng3.iloc[:, i].fillna(m)
SciEng3 = SciEng3.drop(['Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
                          'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
                          'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',], axis = 1)

SciEng3 = SciEng3.rename(columns = {'Table S-32':'State',
                                       'Unnamed: 33':'All Occupations 2018'})

SciEng3.head(10)

                  State  All Occupations 2018
0               Alabama             1943760.0
1                Alaska              315250.0
2               Arizona             2789520.0
3              Arkansas             1210120.0
4            California            17007690.0
5              Colorado             2620640.0
6           Connecticut             1660200.0
7              Delaware              448510.0
8  District of Columbia              712370.0
9               Florida             8608660.0

In [9]:
SciEng4 = SciEng.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
                          'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
                          'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
                          'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
                          'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
                          'Unnamed: 34',], axis = 1)

SciEng4.head()

,Table S-32,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Individuals in Science and Engineering Occupat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,S&E occupations/all occupations (Percent),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,2003,2004.000000,2005.000000,2006.000000,2007.000000,2008.000000,2009.000000,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000
3,United States,3.89384,4.006498,4.016274,4.078060,4.162124,4.276695,4.428485,4.366722,4.517497,4.580816,4.630270,4.675987,4.740405,4.805269,4.832730,4.894307
4,Alabama,3.10251,3.234938,3.353092,3.456715,3.605128,3.525420,3.684764,3.787041,3.884670,3.994738,4.156544,4.009626,3.886243,3.788833,3.818327,NaN

In [10]:
SciEng4.drop(range(0,4), inplace = True)
SciEng4.drop(range(55,64), inplace = True)
SciEng4 = SciEng4.reset_index(drop = True)
SciEng4

,Table S-32,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Alabama,3.10251,3.234938,3.353092,3.456715,3.605128,3.525420,3.684764,3.787041,3.884670,3.994738,4.156544,4.009626,3.886243,3.788833,3.818327,NaN
1,Alaska,3.64587,3.674656,3.741463,3.527592,3.971251,4.308132,4.796521,5.008927,5.006865,5.101977,4.713940,4.591193,4.574484,4.432767,4.654744,4.593180
2,Arizona,4.0485,4.150480,3.955931,3.811355,3.866314,3.870606,4.147439,4.345787,4.845391,4.843146,4.984933,5.055817,5.166076,5.222786,5.188514,NaN
3,Arkansas,1.90759,2.131769,2.158670,2.130541,2.426754,2.492241,2.737745,2.571419,2.575307,2.556666,2.660073,2.765816,2.835571,2.785146,2.973845,2.933593
4,California,4.67593,4.817358,4.866442,NaN,4.956872,5.204564,5.472096,5.419545,5.701495,5.745255,5.773273,5.825832,NaN,5.837318,5.670437,5.818309
5,Colorado,5.91805,5.891299,5.861437,6.059027,6.154793,6.384808,6.628175,6.637191,6.642773,6.694038,6.711111,6.786948,6.828500,6.993317,7.070011,7.137569
6,Connecticut,4.98771,5.109578,5.092623,4.784868,4.772265,4.729033,4.800631,4.690862,4.758146,4.840740,4.820890,4.798027,4.790199,4.820918,5.014446,5.065655
7,Delaware,4.30323,4.449920,4.313256,5.079313,5.197671,5.251523,5.380905,5.259850,5.559825,5.776956,5.345271,5.380247,5.243869,5.472366,5.979353,5.823727
8,District of Columbia,9.2218,10.079210,10.374843,10.521825,10.169573,9.970102,9.640918,9.363612,9.718797,9.728341,9.807014,10.200845,10.336361,10.752015,10.801728,10.392072
9,Florida,3.06301,3.144383,3.164873,3.128522,3.065926,3.193622,3.358782,3.372771,3.425339,3.413598,3.358678,3.358651,3.430028,3.454500,3.490307,3.538878
10,Georgia,3.8237,3.617548,3.524060,3.410403,3.372783,3.622670,NaN,3.877973,3.911358,3.900638,4.145209,4.266365,NaN,4.659490,4.661754,4.794595
11,Hawaii,2.88662,3.072017,2.991621,3.161250,3.070571,3.074687,3.235739,3.411298,3.482208,3.558253,3.510462,3.411799,3.396993,3.442384,3.410796,3.334424
12,Idaho,3.93288,3.943002,3.996720,NaN,3.789956,3.584830,3.827377,4.057167,4.378047,4.220269,4.216966,4.212437,4.406410,4.378363,4.266149,4.281021
13,Illinois,3.69338,3.816527,3.843006,3.818139,3.820061,3.796042,3.877291,3.565576,3.667266,3.903211,3.976546,4.082291,4.191733,4.406638,4.367849,4.405243
14,Indiana,2.75006,2.811672,2.763751,2.749897,2.836676,3.102862,3.255278,3.328991,3.395091,3.364961,3.534028,3.579825,3.538397,3.551346,3.606108,NaN
15,Iowa,2.64078,2.794422,2.785939,2.970263,3.052353,3.073340,3.200261,3.068453,3.376555,3.464242,3.515688,3.532663,3.457219,3.490758,3.585245,3.773756
16,Kansas,4.02192,4.014824,3.924326,3.680044,3.713075,3.947445,4.166945,3.753123,3.939392,3.855646,3.834009,3.686650,3.912134,4.158844,4.246554,4.196658
17,Kentucky,2.63023,2.519251,2.537915,2.510352,2.721168,NaN,2.928040,2.843141,3.000225,2.936960,3.024422,3.006067,3.056761,2.959912,3.048875,3.126141
18,Louisiana,2.26258,2.279526,2.185749,2.261127,2.081495,2.214192,2.330725,2.411571,2.324191,2.457968,2.479698,2.563942,2.497808,2.433187,2.366907,2.416173
19,Maine,2.53823,2.503551,2.595185,2.672095,2.659911,2.813871,3.040282,3.025580,3.038357,3.082033,3.234723,3.310084,3.374358,3.450762,3.429687,3.571959
20,Maryland,6.09537,6.392091,6.411930,6.300224,6.369347,6.522274,6.772362,6.769626,6.974729,7.151449,7.369559,7.432229,7.463905,7.567875,7.555746,7.688496
21,Massachusetts,5.89928,6.102733,6.143347,6.266224,6.409609,6.717756,6.869338,6.673720,6.989820,7.156598,6.991685,6.936945,6.819279,7.022148,6.975769,6.983334
22,Michigan,4.24413,4.360393,4.432659,4.855784,5.035922,4.931265,4.821901,4.701149,4.919822,5.069013,5.196572,5.391374,5.501857,5.653251,5.810516,5.879111
23,Minnesota,4.51901,4.517611,4.588729,4.693732,4.830824,4.970313,5.101917,4.882046,5.021865,4.986161,4.968422,5.135127,5.180648,5.314546,5.292308,5.392126
24,Mississippi,2.03699,2.084997,2.118101,2.238095,2.260447,2.395867,2.364868,2.219794,2.184326,2.188038,2.244453,2.272249,2.299038,2.262638,2.326994,2.337542
25,Missouri,3.20813,3.468846,3.463369,3.570516,3.738492,3.846112,3.909011,3.952172,4.126946,4.207743,4.006260,4.001287,4.063800,4.230469,4.283030,4.478783
26,Montana,2.90006,2.847846,2.879537,3.045911,3.040323,NaN,3.287525,3.445675,3.519089,3.552431,3.545809,3.505290,3.649537,3.483309,3.704909,3.848644
27,Nebraska,3.49156,3.579802,3.521056,3.606623,3.435119,3.428436,3.467609,3.430225,3.736334,3.795241,3.934638,3.841137,3.979197,4.109504,4.317533,4.313649
28,Nevada,2.05596,2.117044,2.047598,2.140938,2.094176,2.135766,2.335870,2.410353,2.549471,2.395401,2.330790,2.260405,2.287476,2.317988,2.405703,2.426640
29,New Hampshire,3.85635,4.143553,4.318167,4.410663,4.497384,4.593662,4.932272,4.839084,4.822891,4.724911,4.588916,4.516746,4.609985,4.712813,4.949612,5.326839
30,New Jersey,4.16243,4.408847,4.448716,4.458876,4.676288,4.968505,5.081841,4.915994,4.831555,4.783695,4.834248,4.865013,4.951367,5.157571,5.072278,5.215584
31,New Mexico,4.49769,4.238467,4.261032,3.901895,4.187118,4.217309,4.616499,4.646587,4.567666,4.562841,4.451644,4.591371,4.699618,4.770064,4.621261,4.512862
32,New York,3.30784,3.411483,3.468067,3.657834,3.787242,3.781861,3.717206,NaN,3.684459,3.763398,3.864442,3.958029,4.106005,4.161514,4.263418,4.278673
33,North Carolina,3.57736,3.618161,3.524959,3.565419,3.562263,3.782036,4.078270,4.109171,4.243406,4.328658,4.407365,4.491079,4.538347,4.710448,4.820875,4.862190
34,North Dakota,2.67942,2.607650,2.760867,2.787872,2.824809,2.697226,2.808020,3.106463,3.247854,3.253242,2.960301,2.944916,2.894020,3.297272,3.362373,3.540991
35,Ohio,3.3363,3.402633,3.387463,3.458799,3.676779,3.875915,4.083873,3.979121,4.181273,NaN,4.253538,4.226785,4.422962,4.492412,4.639671,4.645354
36,Oklahoma,3.13135,3.224773,3.184884,3.376945,3.363878,3.139143,2.998040,2.978244,3.142979,3.295640,3.329356,3.354403,3.454321,3.426829,3.525747,3.507341
37,Oregon,3.98373,4.110623,3.879833,3.913434,4.035906,4.105488,4.286268,NaN,NaN,4.707125,4.818631,4.780008,4.976314,4.973924,5.068304,5.017258
38,Pennsylvania,3.37724,3.532249,3.667779,3.816199,3.865218,3.981827,NaN,NaN,NaN,NaN,4.341425,4.399665,4.469234,4.563757,4.624144,NaN
39,Rhode Island,3.92609,4.024652,3.768158,3.742617,3.787021,3.781196,3.949778,4.063372,4.312830,4.454549,4.547248,4.571810,4.572556,4.629727,4.834948,4.835799
40,South Carolina,2.76277,2.836753,2.799073,2.892636,2.881866,3.052270,3.182096,3.218992,3.441857,3.516184,3.567126,3.586502,3.546423,3.595781,3.631324,3.673119
41,South Dakota,2.50706,2.568664,2.532798,2.654565,2.966102,2.997778,2.944845,2.876751,3.002521,3.009933,3.168813,3.230299,3.356241,3.391454,3.399528,3.502167
42,Tennessee,2.43534,2.466361,2.471172,2.466147,2.585398,2.640250,2.627288,2.796351,2.983107,3.004200,NaN,3.152596,3.156103,3.119210,3.200549,3.248651
43,Texas,3.94944,4.132551,4.133371,4.187191,4.387010,4.463779,4.567976,4.473695,4.552243,4.669263,4.713234,4.818442,4.868508,4.820928,4.768697,4.799811
44,Utah,4.36703,4.200667,4.103782,4.317041,4.256413,4.272872,4.323773,4.425696,4.404021,4.556772,4.665685,4.904502,4.882745,4.991636,5.197530,NaN
45,Vermont,3.91901,4.222642,4.290274,4.265545,4.237232,4.104540,4.345165,4.414788,4.504350,4.376211,4.331355,4.411227,4.516554,4.394919,4.313199,4.223322
46,Virginia,6.13352,6.684982,6.693537,6.975887,6.987296,7.062964,7.357251,7.251903,7.531463,7.625031,7.606624,7.466377,7.358959,7.322067,7.462710,7.551059
47,Washington,5.86792,5.996237,6.066362,6.276421,6.540527,NaN,7.056390,6.914029,7.232069,NaN,7.417586,7.198233,7.343671,7.430774,7.376805,7.446113
48,West Virginia,2.38459,2.307892,2.300004,2.413589,2.321832,2.368546,2.321421,2.480492,2.613352,2.800687,2.747276,2.841519,2.898161,2.940755,3.025286,3.125090
49,Wisconsin,3.4725,3.449633,3.431435,3.529613,3.589242,3.661914,3.749475,3.804135,3.868168,3.854067,3.926665,4.125578,4.247366,4.420662,4.446104,4.530710
50,Wyoming,2.54642,2.821583,2.921420,2.913140,2.968847,3.116417,3.158081,3.060279,3.096452,3.132643,NaN,3.201387,3.163866,3.063885,2.970371,3.133819

In [11]:
m = SciEng4.mean(axis=1)
for i, col in enumerate(SciEng4):
    SciEng4.iloc[:, i] = SciEng4.iloc[:, i].fillna(m)
SciEng4 = SciEng4.drop(['Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39',
                          'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
                          'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49'], axis = 1)

SciEng4 = SciEng4.rename(columns = {'Table S-32':'State',
                                       'Unnamed: 50':'Science Engineer Workers 2018 (Percent)'})

SciEng4.head(10)

                  State  Science Engineer Workers 2018 (Percent)
0               Alabama                                 3.727577
1                Alaska                                 4.593180
2               Arizona                                 4.532470
3              Arkansas                                 2.933593
4            California                                 5.818309
5              Colorado                                 7.137569
6           Connecticut                                 5.065655
7              Delaware                                 5.823727
8  District of Columbia                                10.392072
9               Florida                                 3.538878

In [12]:
SciEngDF = [SciEng2, SciEng3, SciEng4]

SciEngFinal = reduce(lambda left, right: pd.merge(left, right, on = 'State', how = 'outer'), SciEngDF)

SciEngFinal

,State,Science Engineer Workers 2018,All Occupations 2018,Science Engineer Workers 2018 (Percent)
0,Alabama,69821.428571,1943760.0,3.727577
1,Alaska,14480.000000,315250.0,4.593180
2,Arizona,114216.428571,2789520.0,4.532470
3,Arkansas,35500.000000,1210120.0,2.933593
4,California,989560.000000,17007690.0,5.818309
5,Colorado,187050.000000,2620640.0,7.137569
6,Connecticut,84100.000000,1660200.0,5.065655
7,Delaware,26120.000000,448510.0,5.823727
8,District of Columbia,74030.000000,712370.0,10.392072
9,Florida,304650.000000,8608660.0,3.538878
10,Georgia,210710.000000,4394740.0,4.794595
11,Hawaii,21400.000000,641790.0,3.334424
12,Idaho,30230.000000,706140.0,4.281021
13,Illinois,263930.000000,5991270.0,4.405243
14,Indiana,93489.285714,3048100.0,3.244206
15,Iowa,58180.000000,1541700.0,3.773756
16,Kansas,57720.000000,1375380.0,4.196658
17,Kentucky,59080.000000,1889870.0,3.126141
18,Louisiana,46240.000000,1913770.0,2.416173
19,Maine,21630.000000,605550.0,3.571959
20,Maryland,206360.000000,2684010.0,7.688496
21,Massachusetts,249400.000000,3571360.0,6.983334
22,Michigan,253850.000000,4317830.0,5.879111
23,Minnesota,154630.000000,2867700.0,5.392126
24,Mississippi,26270.000000,1123830.0,2.337542
25,Missouri,125620.000000,2804780.0,4.478783
26,Montana,17830.000000,463280.0,3.848644
27,Nebraska,42200.000000,978290.0,4.313649
28,Nevada,32690.000000,1347130.0,2.426640
29,New Hampshire,34780.000000,652920.0,5.326839
30,New Jersey,211240.000000,4050170.0,5.215584
31,New Mexico,36630.000000,811680.0,4.512862
32,New York,401580.000000,9385620.0,4.278673
33,North Carolina,213120.000000,4383210.0,4.862190
34,North Dakota,14750.000000,416550.0,3.540991
35,Ohio,251630.000000,5416810.0,4.645354
36,Oklahoma,55920.000000,1594370.0,3.507341
37,Oregon,94630.000000,1886090.0,5.017258
38,Pennsylvania,233815.000000,5847690.0,4.126150
39,Rhode Island,23310.000000,482030.0,4.835799
40,South Carolina,75750.000000,2062280.0,3.673119
41,South Dakota,14790.000000,422310.0,3.502167
42,Tennessee,96060.000000,2956920.0,3.248651
43,Texas,581440.000000,12113810.0,4.799811
44,Utah,55681.428571,1455910.0,4.535938
45,Vermont,12890.000000,305210.0,4.223322
46,Virginia,289420.000000,3832840.0,7.551059
47,Washington,242680.000000,3259150.0,7.446113
48,West Virginia,21770.000000,696620.0,3.125090
49,Wisconsin,129060.000000,2848560.0,4.530710
50,Wyoming,8440.000000,269320.0,3.133819

In [13]:
COVIDCases = pd.read_csv('us-states.csv')
COVIDCases = COVIDCases.groupby(['state']).sum()
COVIDCases = COVIDCases.reset_index()
COVIDCases.drop([11, 36, 41, 49], inplace = True)
COVIDCases = COVIDCases.reset_index(drop = True)
COVIDCases.state

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: state, dtype: object

In [14]:
COVIDCases = COVIDCases.rename(columns = {'state':'State'})
COVIDCases.head()

        State  fips    cases  deaths
0     Alabama    73   387786   14345
1      Alaska   148    18316     367
2     Arizona   480   426614   18857
3    Arkansas   375   161569    3301
4  California   726  2664110  102387

In [15]:
COVIDSciEng = pd.merge(COVIDCases, SciEngFinal, how = 'left', on = 'State')
COVIDSciEng

,State,fips,cases,deaths,Science Engineer Workers 2018,All Occupations 2018,Science Engineer Workers 2018 (Percent)
0,Alabama,73,387786,14345,69821.428571,1943760.0,3.727577
1,Alaska,148,18316,367,14480.000000,315250.0,4.593180
2,Arizona,480,426614,18857,114216.428571,2789520.0,4.532470
3,Arkansas,375,161569,3301,35500.000000,1210120.0,2.933593
4,California,726,2664110,102387,989560.000000,17007690.0,5.818309
5,Colorado,648,766512,37828,187050.000000,2620640.0,7.137569
6,Connecticut,702,1314995,104185,84100.000000,1660200.0,5.065655
7,Delaware,750,234327,7813,26120.000000,448510.0,5.823727
8,District of Columbia,869,229466,10822,74030.000000,712370.0,10.392072
9,Florida,1020,1726811,63147,304650.000000,8608660.0,3.538878
10,Georgia,1092,1282091,54209,210710.000000,4394740.0,4.794595
11,Hawaii,1200,31433,681,21400.000000,641790.0,3.334424
12,Idaho,1168,103987,2828,30230.000000,706140.0,4.281021
13,Illinois,2074,2843621,122000,263930.000000,5991270.0,4.405243
14,Indiana,1440,920434,53042,93489.285714,3048100.0,3.244206
15,Iowa,1482,396980,9203,58180.000000,1541700.0,3.773756
16,Kansas,1580,231885,6527,57720.000000,1375380.0,4.196658
17,Kentucky,1680,246480,11851,59080.000000,1889870.0,3.126141
18,Louisiana,1694,1443404,90609,46240.000000,1913770.0,2.416173
19,Maine,1702,61284,2451,21630.000000,605550.0,3.571959
20,Maryland,1944,1173802,56126,206360.000000,2684010.0,7.688496
21,Massachusetts,2850,2929874,167711,249400.000000,3571360.0,6.983334
22,Michigan,1976,2023047,171867,253850.000000,4317830.0,5.879111
23,Minnesota,2160,377850,18934,154630.000000,2867700.0,5.392126
24,Mississippi,2100,358459,15047,26270.000000,1123830.0,2.337542
25,Missouri,2291,395952,17924,125620.000000,2804780.0,4.478783
26,Montana,2190,23875,676,17830.000000,463280.0,3.848644
27,Nebraska,3038,259429,3535,42200.000000,978290.0,4.313649
28,Nevada,2592,259808,11975,32690.000000,1347130.0,2.426640
29,New Hampshire,2772,117245,4507,34780.000000,652920.0,5.326839
30,New Jersey,2788,5645458,332869,211240.000000,4050170.0,5.215584
31,New Mexico,2625,177827,6867,36630.000000,811680.0,4.512862
32,New York,3060,15041806,1081194,401580.000000,9385620.0,4.278673
33,North Carolina,3071,568719,19258,213120.000000,4383210.0,4.862190
34,North Dakota,2850,55932,1219,14750.000000,416550.0,3.540991
35,Ohio,3003,908834,47879,251630.000000,5416810.0,4.645354
36,Oklahoma,3200,187462,10394,55920.000000,1594370.0,3.507341
37,Oregon,3567,134979,5067,94630.000000,1886090.0,5.017258
38,Pennsylvania,3360,2320771,127278,233815.000000,5847690.0,4.126150
39,Rhode Island,3740,401931,14251,23310.000000,482030.0,4.835799
40,South Carolina,3600,313173,11859,75750.000000,2062280.0,3.673119
41,South Dakota,3496,122292,1121,14790.000000,422310.0,3.502167
42,Tennessee,3807,583792,10198,96060.000000,2956920.0,3.248651
43,Texas,4944,1553075,41267,581440.000000,12113810.0,4.799811
44,Utah,4410,245859,2472,55681.428571,1455910.0,4.535938
45,Vermont,3950,45230,2320,12890.000000,305210.0,4.223322
46,Virginia,4029,866807,28754,289420.000000,3832840.0,7.551059
47,Washington,6625,807848,42371,242680.000000,3259150.0,7.446113
48,West Virginia,3726,56158,1950,21770.000000,696620.0,3.125090
49,Wisconsin,6050,393823,15587,129060.000000,2848560.0,4.530710
50,Wyoming,4200,28407,281,8440.000000,269320.0,3.133819

In [16]:
COVIDSciEng = COVIDSciEng.drop(['fips'], axis = 1)
COVIDSciEng

,State,cases,deaths,Science Engineer Workers 2018,All Occupations 2018,Science Engineer Workers 2018 (Percent)
0,Alabama,387786,14345,69821.428571,1943760.0,3.727577
1,Alaska,18316,367,14480.000000,315250.0,4.593180
2,Arizona,426614,18857,114216.428571,2789520.0,4.532470
3,Arkansas,161569,3301,35500.000000,1210120.0,2.933593
4,California,2664110,102387,989560.000000,17007690.0,5.818309
5,Colorado,766512,37828,187050.000000,2620640.0,7.137569
6,Connecticut,1314995,104185,84100.000000,1660200.0,5.065655
7,Delaware,234327,7813,26120.000000,448510.0,5.823727
8,District of Columbia,229466,10822,74030.000000,712370.0,10.392072
9,Florida,1726811,63147,304650.000000,8608660.0,3.538878
10,Georgia,1282091,54209,210710.000000,4394740.0,4.794595
11,Hawaii,31433,681,21400.000000,641790.0,3.334424
12,Idaho,103987,2828,30230.000000,706140.0,4.281021
13,Illinois,2843621,122000,263930.000000,5991270.0,4.405243
14,Indiana,920434,53042,93489.285714,3048100.0,3.244206
15,Iowa,396980,9203,58180.000000,1541700.0,3.773756
16,Kansas,231885,6527,57720.000000,1375380.0,4.196658
17,Kentucky,246480,11851,59080.000000,1889870.0,3.126141
18,Louisiana,1443404,90609,46240.000000,1913770.0,2.416173
19,Maine,61284,2451,21630.000000,605550.0,3.571959
20,Maryland,1173802,56126,206360.000000,2684010.0,7.688496
21,Massachusetts,2929874,167711,249400.000000,3571360.0,6.983334
22,Michigan,2023047,171867,253850.000000,4317830.0,5.879111
23,Minnesota,377850,18934,154630.000000,2867700.0,5.392126
24,Mississippi,358459,15047,26270.000000,1123830.0,2.337542
25,Missouri,395952,17924,125620.000000,2804780.0,4.478783
26,Montana,23875,676,17830.000000,463280.0,3.848644
27,Nebraska,259429,3535,42200.000000,978290.0,4.313649
28,Nevada,259808,11975,32690.000000,1347130.0,2.426640
29,New Hampshire,117245,4507,34780.000000,652920.0,5.326839
30,New Jersey,5645458,332869,211240.000000,4050170.0,5.215584
31,New Mexico,177827,6867,36630.000000,811680.0,4.512862
32,New York,15041806,1081194,401580.000000,9385620.0,4.278673
33,North Carolina,568719,19258,213120.000000,4383210.0,4.862190
34,North Dakota,55932,1219,14750.000000,416550.0,3.540991
35,Ohio,908834,47879,251630.000000,5416810.0,4.645354
36,Oklahoma,187462,10394,55920.000000,1594370.0,3.507341
37,Oregon,134979,5067,94630.000000,1886090.0,5.017258
38,Pennsylvania,2320771,127278,233815.000000,5847690.0,4.126150
39,Rhode Island,401931,14251,23310.000000,482030.0,4.835799
40,South Carolina,313173,11859,75750.000000,2062280.0,3.673119
41,South Dakota,122292,1121,14790.000000,422310.0,3.502167
42,Tennessee,583792,10198,96060.000000,2956920.0,3.248651
43,Texas,1553075,41267,581440.000000,12113810.0,4.799811
44,Utah,245859,2472,55681.428571,1455910.0,4.535938
45,Vermont,45230,2320,12890.000000,305210.0,4.223322
46,Virginia,866807,28754,289420.000000,3832840.0,7.551059
47,Washington,807848,42371,242680.000000,3259150.0,7.446113
48,West Virginia,56158,1950,21770.000000,696620.0,3.125090
49,Wisconsin,393823,15587,129060.000000,2848560.0,4.530710
50,Wyoming,28407,281,8440.000000,269320.0,3.133819

In [17]:
COVIDSciEng.to_csv('SciEng_Jobs.csv')