In [1]:
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
LifeSci = pd.read_excel('life-scientists-to-all-occupations.xlsx')
LifeSci

,Table S-34,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Life Scientists as a Percentage of All Occupat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Life scientists,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,2003,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,...,2009.000000,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.00000,2018.000000
3,United States,272510,286130.0,290950.0,291980.0,304720.0,319520.0,329000.0,323920.0,324380.0,...,0.251822,0.254860,0.252872,0.251781,0.259984,0.257962,0.253784,0.252721,0.25326,0.259401
4,Alabama,2250,2380.0,2350.0,2810.0,4190.0,4460.0,4690.0,3510.0,2980.0,...,0.251661,0.194193,0.164694,0.173208,0.210403,0.197036,0.146020,0.106117,NaN,0.163600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,NOTES: Occupational Employment Statistics (OES...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,"SOURCE: Bureau of Labor Statistics, special ta...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Recommended Citation: National Science Board. ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,"Last updated: September 24, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Science and Engineering Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
LifeSci2 = LifeSci.drop(['Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
                          'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
                          'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
                          'Unnamed: 34', 'Unnamed: 33', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39',
                          'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
                          'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50'], axis = 1)

LifeSci2.head()

,Table S-34,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Life Scientists as a Percentage of All Occupat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Life scientists,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,2003,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
3,United States,272510,286130.0,290950.0,291980.0,304720.0,319520.0,329000.0,323920.0,324380.0,328040.0,344710.0,348580.0,349960.0,354820.0,361020.0,375440.0
4,Alabama,2250,2380.0,2350.0,2810.0,4190.0,4460.0,4690.0,3510.0,2980.0,3160.0,3880.0,3660.0,2750.0,2030.0,NaN,3180.0

In [4]:
LifeSci2.drop(range(0,4), inplace = True)
LifeSci2.drop(range(55,64), inplace = True)
LifeSci2 = LifeSci2.reset_index(drop = True)
LifeSci2

,Table S-34,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Alabama,2250,2380.0,2350.0,2810.0,4190.0,4460.0,4690.0,3510.0,2980.0,3160.0,3880.0,3660.0,2750.0,2030.0,NaN,3180.0
1,Alaska,1650,1750.0,1770.0,1860.0,2150.0,2120.0,2120.0,2160.0,2200.0,2220.0,1940.0,1900.0,1880.0,1820.0,1820.0,1830.0
2,Arizona,2900,2870.0,2700.0,2790.0,3340.0,3590.0,NaN,4610.0,NaN,4780.0,5090.0,NaN,4870.0,4690.0,4560.0,4480.0
3,Arkansas,1530,1540.0,1530.0,1490.0,1890.0,2040.0,2500.0,2340.0,2410.0,2510.0,2570.0,2530.0,2430.0,2110.0,2060.0,2210.0
4,California,33370,37380.0,37640.0,40030.0,NaN,NaN,55590.0,55200.0,57020.0,56160.0,60870.0,58330.0,56470.0,58020.0,60100.0,63800.0
5,Colorado,NaN,NaN,5120.0,4610.0,4810.0,5120.0,NaN,NaN,NaN,NaN,6370.0,6740.0,6650.0,6850.0,7590.0,7870.0
6,Connecticut,4710,4910.0,5050.0,4830.0,4620.0,NaN,5020.0,4550.0,4460.0,4430.0,NaN,4490.0,5030.0,4630.0,3910.0,4210.0
7,Delaware,1270,1200.0,1140.0,1390.0,1420.0,1650.0,1320.0,1040.0,1130.0,1250.0,1200.0,970.0,NaN,NaN,NaN,1260.0
8,District of Columbia,2320,2560.0,2740.0,2460.0,2320.0,1890.0,1870.0,1530.0,1880.0,1740.0,NaN,NaN,1940.0,1860.0,2100.0,2190.0
9,Florida,8530,9700.0,10070.0,9510.0,9720.0,10270.0,10820.0,NaN,NaN,10880.0,10890.0,10360.0,10190.0,10090.0,10770.0,11370.0
10,Georgia,7270,5290.0,5420.0,5350.0,4930.0,4740.0,NaN,4960.0,5630.0,5610.0,5510.0,NaN,7670.0,7830.0,7390.0,NaN
11,Hawaii,1140,1610.0,1620.0,1780.0,2050.0,1890.0,2010.0,1950.0,1860.0,1910.0,1970.0,2030.0,2010.0,1990.0,1560.0,1610.0
12,Idaho,2060,2300.0,2330.0,2260.0,2340.0,1760.0,1910.0,2190.0,2310.0,2230.0,2430.0,2400.0,2560.0,2500.0,2730.0,2790.0
13,Illinois,9020,9100.0,10170.0,9470.0,8390.0,8180.0,8270.0,8720.0,8860.0,8260.0,NaN,7540.0,8870.0,10120.0,11230.0,11260.0
14,Indiana,5020,5430.0,5440.0,NaN,5900.0,5730.0,5370.0,5300.0,5420.0,5250.0,6460.0,6970.0,6680.0,6860.0,6860.0,7000.0
15,Iowa,2680,3090.0,3190.0,3560.0,4230.0,4330.0,4510.0,4110.0,4670.0,5350.0,5910.0,5980.0,5430.0,5340.0,4970.0,5060.0
16,Kansas,2390,2220.0,2370.0,NaN,2600.0,3340.0,3460.0,3200.0,3060.0,3130.0,3120.0,1830.0,1930.0,2420.0,2850.0,2640.0
17,Kentucky,3200,2540.0,NaN,2720.0,2920.0,2840.0,2910.0,2870.0,3160.0,3280.0,3510.0,3280.0,3150.0,3140.0,2320.0,2430.0
18,Louisiana,1990,2060.0,2070.0,2050.0,NaN,NaN,1770.0,NaN,NaN,NaN,2270.0,2660.0,2430.0,2250.0,2410.0,2620.0
19,Maine,1090,1100.0,1160.0,1160.0,1220.0,1220.0,1470.0,1470.0,1710.0,NaN,1630.0,1610.0,1600.0,1460.0,1420.0,1550.0
20,Maryland,NaN,11630.0,11880.0,10300.0,10800.0,11000.0,12060.0,11550.0,12850.0,13670.0,14190.0,14950.0,15040.0,15630.0,14600.0,15500.0
21,Massachusetts,11420,11150.0,11960.0,14030.0,14320.0,NaN,17990.0,18030.0,19170.0,20290.0,21900.0,23990.0,22990.0,23860.0,25290.0,NaN
22,Michigan,NaN,6500.0,6090.0,NaN,NaN,NaN,NaN,NaN,NaN,6030.0,6120.0,7170.0,8310.0,8770.0,8510.0,8170.0
23,Minnesota,6860,7140.0,7440.0,7660.0,7960.0,8510.0,9080.0,9200.0,NaN,10180.0,11000.0,10160.0,10130.0,9040.0,9950.0,9250.0
24,Mississippi,2500,2130.0,2260.0,2390.0,2430.0,2730.0,2690.0,2420.0,2500.0,2610.0,2230.0,2400.0,2330.0,2320.0,2360.0,2490.0
25,Missouri,4880,5480.0,5760.0,5680.0,NaN,NaN,NaN,4900.0,NaN,5700.0,6150.0,6080.0,5630.0,6840.0,5850.0,6320.0
26,Montana,1810,1830.0,1820.0,1990.0,2280.0,2270.0,2280.0,2530.0,2650.0,2700.0,2470.0,2290.0,2310.0,2240.0,2290.0,2410.0
27,Nebraska,2330,2500.0,2570.0,2690.0,2200.0,2110.0,2060.0,2160.0,2190.0,2450.0,2390.0,2820.0,2990.0,3190.0,3090.0,3150.0
28,Nevada,1120,1060.0,1100.0,1090.0,1260.0,1150.0,1180.0,1280.0,1370.0,1370.0,1300.0,1330.0,1460.0,1380.0,1540.0,1410.0
29,New Hampshire,610,NaN,940.0,910.0,1320.0,1320.0,1300.0,1410.0,1420.0,1430.0,1240.0,1290.0,1300.0,1410.0,1370.0,1450.0
30,New Jersey,9240,10930.0,9300.0,8840.0,9330.0,11550.0,12010.0,12430.0,10310.0,9430.0,9360.0,10330.0,11870.0,12840.0,12480.0,14180.0
31,New Mexico,NaN,NaN,NaN,2000.0,NaN,1740.0,1860.0,1750.0,1670.0,NaN,2030.0,NaN,1920.0,1810.0,1800.0,1690.0
32,New York,NaN,15190.0,14680.0,14310.0,13720.0,13990.0,14860.0,16060.0,15450.0,NaN,NaN,20430.0,21240.0,21230.0,19910.0,19950.0
33,North Carolina,NaN,NaN,9560.0,NaN,NaN,11560.0,12600.0,13720.0,13510.0,11590.0,12750.0,13030.0,11910.0,10670.0,11420.0,12080.0
34,North Dakota,1070,1050.0,1090.0,1100.0,1150.0,1090.0,1120.0,1080.0,1200.0,1210.0,1370.0,1450.0,1550.0,1390.0,1460.0,1510.0
35,Ohio,NaN,NaN,NaN,6500.0,7340.0,8240.0,8410.0,7660.0,7410.0,7280.0,7730.0,8160.0,NaN,10140.0,10070.0,10070.0
36,Oklahoma,3820,3220.0,3140.0,3190.0,2960.0,2790.0,2480.0,2490.0,1750.0,1960.0,2100.0,2420.0,2370.0,2060.0,2080.0,NaN
37,Oregon,5560,5370.0,5220.0,5330.0,5650.0,6030.0,6380.0,6210.0,5600.0,5720.0,5630.0,6150.0,6340.0,6850.0,6420.0,6720.0
38,Pennsylvania,13670,14350.0,NaN,NaN,16040.0,17150.0,18930.0,NaN,NaN,13910.0,16990.0,15770.0,16460.0,16170.0,17230.0,NaN
39,Rhode Island,1100,1120.0,900.0,1090.0,1250.0,1050.0,1010.0,NaN,1270.0,1250.0,1040.0,900.0,930.0,720.0,820.0,1090.0
40,South Carolina,2170,2510.0,2410.0,2360.0,2000.0,2090.0,2090.0,2160.0,NaN,NaN,NaN,2440.0,2240.0,2300.0,2250.0,2200.0
41,South Dakota,1240,1240.0,1200.0,1290.0,1480.0,1600.0,1620.0,1650.0,1540.0,1590.0,1680.0,1810.0,1810.0,1770.0,1800.0,1950.0
42,Tennessee,2820,2480.0,NaN,2620.0,2900.0,2900.0,2790.0,2880.0,NaN,NaN,NaN,4370.0,4330.0,NaN,4530.0,4820.0
43,Texas,26950,29430.0,30580.0,26450.0,NaN,22030.0,19260.0,NaN,NaN,18720.0,NaN,18190.0,17460.0,18250.0,19070.0,20600.0
44,Utah,3040,2940.0,3090.0,3300.0,3710.0,3580.0,3280.0,2360.0,NaN,NaN,2610.0,2820.0,2930.0,2840.0,2860.0,3070.0
45,Vermont,700,790.0,870.0,920.0,1090.0,830.0,740.0,790.0,930.0,940.0,940.0,880.0,1090.0,1110.0,1010.0,810.0
46,Virginia,NaN,NaN,6010.0,6110.0,5300.0,5920.0,NaN,NaN,5980.0,6240.0,NaN,NaN,NaN,7700.0,8420.0,NaN
47,Washington,10380,10470.0,10490.0,NaN,12290.0,11600.0,12090.0,12220.0,11630.0,11920.0,11740.0,11580.0,11760.0,12140.0,13470.0,13870.0
48,West Virginia,1150,1300.0,1310.0,1370.0,1260.0,1210.0,1100.0,1370.0,1280.0,1390.0,1220.0,1110.0,1070.0,1270.0,1530.0,1510.0
49,Wisconsin,6470,6480.0,6450.0,6870.0,8020.0,8630.0,8480.0,7690.0,7120.0,7830.0,7800.0,6910.0,6710.0,NaN,6750.0,7090.0
50,Wyoming,910,1060.0,1080.0,1070.0,1110.0,1170.0,1230.0,1130.0,1150.0,1180.0,1120.0,1080.0,1020.0,1010.0,1010.0,960.0

In [5]:
m = LifeSci2.mean(axis=1)
for i, col in enumerate(LifeSci2):
    LifeSci2.iloc[:, i] = LifeSci2.iloc[:, i].fillna(m)
LifeSci2 = LifeSci2.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
                          'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
                          'Unnamed: 14', 'Unnamed: 15'], axis = 1)

LifeSci2 = LifeSci2.rename(columns = {'Table S-34':'State',
                                       'Unnamed: 16':'Life Scientists 2018'})

LifeSci2.head(10)

                  State  Life Scientists 2018
0               Alabama                3180.0
1                Alaska                1830.0
2               Arizona                4480.0
3              Arkansas                2210.0
4            California               63800.0
5              Colorado                7870.0
6           Connecticut                4210.0
7              Delaware                1260.0
8  District of Columbia                2190.0
9               Florida               11370.0

In [6]:
LifeSci3 = LifeSci.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
                          'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
                          'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39',
                          'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
                          'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50'], axis = 1)

LifeSci3.head()

,Table S-34,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,Life Scientists as a Percentage of All Occupat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,All occupations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,2003,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
3,United States,127420170,129146700.0,130307840.0,132604980.0,134354250.0,135185230.0,130647610.0,127097160.0,128278550.0,130287700.0,132588810.0,135128260.0,137896660.0,140400040.0,142549250.0,144733270.0
4,Alabama,1817240,1851040.0,1872600.0,1912220.0,1931970.0,1945300.0,1863620.0,1807480.0,1809420.0,1824400.0,1844080.0,1857530.0,1883310.0,1912990.0,1922570.0,1943760.0

In [7]:
LifeSci3.drop(range(0,4), inplace = True)
LifeSci3.drop(range(55,64), inplace = True)
LifeSci3 = LifeSci3.reset_index(drop = True)
LifeSci3

,Table S-34,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,Alabama,1817240,1851040.0,1872600.0,1912220.0,1931970.0,1945300.0,1863620.0,1807480.0,1809420.0,1824400.0,1844080.0,1857530.0,1883310.0,1912990.0,1922570.0,1943760.0
1,Alaska,290740,295810.0,300150.0,303890.0,301920.0,307790.0,308140.0,308050.0,313170.0,318700.0,322660.0,324970.0,327250.0,323500.0,318170.0,315250.0
2,Arizona,2275410,2370810.0,2437100.0,2574150.0,2648000.0,2637830.0,2479120.0,2367120.0,2380200.0,2414340.0,2475660.0,2526990.0,2587070.0,2652990.0,2704050.0,2789520.0
3,Arkansas,1118690,1133800.0,1142370.0,1166840.0,1172760.0,1176050.0,1147660.0,1135560.0,1139670.0,1155020.0,1152600.0,1158790.0,1176130.0,1191320.0,1200130.0,1210120.0
4,California,14460860,14598250.0,14723900.0,15065750.0,15202530.0,15212610.0,14532640.0,14001730.0,14038950.0,14303630.0,14714530.0,15119730.0,15496600.0,15966580.0,16695010.0,17007690.0
5,Colorado,2097650,2130430.0,2151520.0,2207120.0,2258240.0,2302340.0,2234250.0,2157690.0,2179060.0,2226160.0,2295000.0,2367780.0,2451490.0,2507680.0,2555300.0,2620640.0
6,Connecticut,1631610,1640840.0,1648070.0,1658980.0,1682220.0,1697810.0,1648950.0,1598640.0,1608820.0,1620620.0,1635590.0,1646510.0,1659430.0,1666280.0,1654420.0,1660200.0
7,Delaware,403650,413940.0,417550.0,424270.0,425960.0,425210.0,412570.0,397730.0,403430.0,405750.0,412140.0,424330.0,433840.0,440760.0,442690.0,448510.0
8,District of Columbia,595220,609770.0,611190.0,609400.0,620970.0,635500.0,637180.0,639390.0,644730.0,653760.0,665850.0,674650.0,676060.0,702380.0,708220.0,712370.0
9,Florida,7217400,7479050.0,7614840.0,7869210.0,7963010.0,7771740.0,7355940.0,7103950.0,7151700.0,7273850.0,7453230.0,7665280.0,7925300.0,8222030.0,8419030.0,8608660.0
10,Georgia,3770430,3848740.0,3904020.0,4001580.0,4058370.0,4068270.0,3889160.0,3744740.0,3779250.0,3815530.0,3879660.0,3983250.0,4107960.0,4214410.0,4303530.0,4394740.0
11,Hawaii,557400,573890.0,583630.0,599130.0,610310.0,612420.0,587810.0,571630.0,577220.0,588210.0,602200.0,612580.0,619960.0,632120.0,632990.0,641790.0
12,Idaho,563200,584580.0,597490.0,624320.0,641960.0,650240.0,614520.0,594750.0,592730.0,598540.0,613000.0,628140.0,642700.0,663490.0,685630.0,706140.0
13,Illinois,5719150,5739250.0,5767100.0,5826660.0,5894670.0,5910630.0,5704240.0,5528420.0,5574180.0,5640740.0,5704700.0,5765880.0,5852710.0,5903820.0,5927860.0,5991270.0
14,Indiana,2851210,2879070.0,2891360.0,2913200.0,2928780.0,2927620.0,2787780.0,2724850.0,2758100.0,2811920.0,2854250.0,2905170.0,2947380.0,2991260.0,3018490.0,3048100.0
15,Iowa,1413220,1433570.0,1446550.0,1470240.0,1488360.0,1502600.0,1471130.0,1438510.0,1449110.0,1470740.0,1491600.0,1512740.0,1526950.0,1534910.0,1535460.0,1541700.0
16,Kansas,1292170,1311390.0,1315640.0,1321180.0,1347670.0,1374560.0,1348710.0,1304780.0,1308070.0,1320920.0,1336460.0,1359500.0,1371630.0,1374180.0,1369110.0,1375380.0
17,Kentucky,1719620,1736230.0,1754590.0,1779830.0,1801800.0,1817860.0,1748610.0,1716060.0,1732870.0,1764750.0,1782820.0,1808010.0,1838220.0,1869650.0,1876430.0,1889870.0
18,Louisiana,1851870,1865300.0,1877160.0,1776990.0,1847230.0,1887370.0,1871950.0,1832830.0,1839780.0,1868210.0,1885310.0,1915800.0,1939300.0,1922170.0,1902060.0,1913770.0
19,Maine,591750,598350.0,597260.0,596910.0,600020.0,604150.0,589090.0,577410.0,575640.0,581110.0,582430.0,586390.0,591520.0,596390.0,599180.0,605550.0
20,Maryland,2448580,2477280.0,2497220.0,2531180.0,2551910.0,2561530.0,2503410.0,2462470.0,2480670.0,2510680.0,2534480.0,2557510.0,2596630.0,2640900.0,2664330.0,2684010.0
21,Massachusetts,3130720,3129090.0,3144540.0,3170490.0,3207840.0,3234860.0,3169010.0,3119100.0,3157020.0,3202080.0,3257870.0,3322500.0,3396840.0,3459910.0,3528070.0,3571360.0
22,Michigan,4310420,4324840.0,4334870.0,4294260.0,4210550.0,4142750.0,3893900.0,3755890.0,3829000.0,3918120.0,3998790.0,4073730.0,4146600.0,4212090.0,4276040.0,4317830.0
23,Minnesota,2591720,2625060.0,2635370.0,2682940.0,2687740.0,2704860.0,2627640.0,2562450.0,2595450.0,2641110.0,2688580.0,2730020.0,2772240.0,2810400.0,2838270.0,2867700.0
24,Mississippi,1089350,1101680.0,1108540.0,1113000.0,1128980.0,1138210.0,1096890.0,1070820.0,1073100.0,1080420.0,1083560.0,1094070.0,1106550.0,1117280.0,1119470.0,1123830.0
25,Missouri,2623020,2646990.0,2663880.0,2700450.0,2732920.0,2740170.0,2668450.0,2588450.0,2591020.0,2605910.0,2639120.0,2673640.0,2712240.0,2757850.0,2788680.0,2804780.0
26,Montana,394820,408730.0,414650.0,427130.0,435480.0,444090.0,432240.0,424300.0,425110.0,432380.0,439110.0,443330.0,447180.0,454740.0,460740.0,463280.0
27,Nebraska,879550,887200.0,895470.0,901120.0,914670.0,928120.0,916770.0,901690.0,904630.0,914830.0,927150.0,942950.0,953710.0,968000.0,970230.0,978290.0
28,Nevada,1086110,1154440.0,1191640.0,1257860.0,1285470.0,1278230.0,1179860.0,1113530.0,1112780.0,1127160.0,1151970.0,1189610.0,1232800.0,1270930.0,1310220.0,1347130.0
29,New Hampshire,607570,618310.0,621560.0,627570.0,632590.0,634570.0,619390.0,603420.0,606690.0,612710.0,620190.0,627000.0,635360.0,645050.0,649950.0,652920.0
30,New Jersey,3878020,3901020.0,3917310.0,3957500.0,3980080.0,3986310.0,3850770.0,3770550.0,3771250.0,3793720.0,3821070.0,3869260.0,3906800.0,3955350.0,4007470.0,4050170.0
31,New Mexico,747050,754990.0,763430.0,789360.0,798640.0,819480.0,800390.0,777560.0,777640.0,773860.0,783980.0,788000.0,798150.0,805440.0,801080.0,811680.0
32,New York,8236200,8299910.0,8333460.0,8387750.0,8515960.0,8633580.0,8487020.0,8344020.0,8427560.0,8542280.0,8635400.0,8810950.0,8984890.0,9097650.0,9207870.0,9385620.0
33,North Carolina,3702170,3770700.0,3809690.0,3892670.0,4013460.0,4063420.0,3896750.0,3772780.0,3814860.0,3878800.0,3947030.0,4030880.0,4125070.0,4231020.0,4298390.0,4383210.0
34,North Dakota,314620,324430.0,328520.0,335740.0,341970.0,350360.0,353630.0,355710.0,371630.0,403290.0,422930.0,440420.0,447820.0,425200.0,416670.0,416550.0
35,Ohio,5308270,5324700.0,5340280.0,5354170.0,5341360.0,5323130.0,5091490.0,4921690.0,4977910.0,5054250.0,5125850.0,5200880.0,5280850.0,5337890.0,5370640.0,5416810.0
36,Oklahoma,1416640,1436380.0,1455940.0,1503430.0,1528890.0,1557750.0,1525330.0,1483760.0,1498260.0,1529900.0,1558860.0,1577330.0,1597130.0,1586890.0,1573000.0,1594370.0
37,Oregon,1537000,1576890.0,1598780.0,1648680.0,1682150.0,1706740.0,1624490.0,1569700.0,1586620.0,1609900.0,1640300.0,1683470.0,1735220.0,1790940.0,1830790.0,1886090.0
38,Pennsylvania,5494430,5535000.0,5569310.0,5631520.0,5663070.0,5705170.0,5572660.0,5483220.0,5549240.0,5596480.0,5616820.0,5653840.0,5709480.0,5747020.0,5781610.0,5847690.0
39,Rhode Island,477320,480290.0,479810.0,482550.0,485870.0,478420.0,458760.0,448150.0,450980.0,453020.0,456100.0,463930.0,471290.0,475190.0,475910.0,482030.0
40,South Carolina,1764170,1792190.0,1802740.0,1840190.0,1877950.0,1892690.0,1802900.0,1746820.0,1772880.0,1796550.0,1826120.0,1876480.0,1928140.0,1979820.0,2009460.0,2062280.0
41,South Dakota,364970,371010.0,373500.0,381230.0,389400.0,395960.0,392890.0,387590.0,392670.0,398680.0,402990.0,409250.0,413260.0,417520.0,419470.0,422310.0
42,Tennessee,2614830,2665060.0,2686580.0,2718410.0,2739230.0,2755800.0,2625140.0,2569420.0,2602320.0,2657280.0,2700050.0,2749480.0,2814230.0,2893040.0,2915750.0,2956920.0
43,Texas,9248660,9306600.0,9424510.0,9760960.0,10061750.0,10391420.0,10289240.0,10089870.0,10304370.0,10579400.0,10913950.0,11228940.0,11572540.0,11745250.0,11890880.0,12113810.0
44,Utah,1043500,1077210.0,1099230.0,1151020.0,1206180.0,1230320.0,1185770.0,1148520.0,1165980.0,1200850.0,1242690.0,1280660.0,1324460.0,1374900.0,1410670.0,1455910.0
45,Vermont,291400,296260.0,297650.0,299610.0,301140.0,301130.0,294120.0,286990.0,290830.0,294090.0,298290.0,301050.0,303550.0,304670.0,305110.0,305210.0
46,Virginia,3412070,3494250.0,3535500.0,3608430.0,3645330.0,3670980.0,3589520.0,3527350.0,3553360.0,3597100.0,3631440.0,3648490.0,3682450.0,3760550.0,3789910.0,3832840.0
47,Washington,2560190,2614640.0,2653320.0,2736910.0,2811700.0,2868910.0,2789670.0,2693220.0,2720660.0,2764080.0,2827200.0,2898350.0,2983930.0,3067110.0,3186610.0,3259150.0
48,West Virginia,680200,692840.0,697390.0,710560.0,713230.0,717740.0,704310.0,688170.0,700250.0,710540.0,709430.0,707720.0,707000.0,697440.0,688530.0,696620.0
49,Wisconsin,2687400,2717970.0,2727430.0,2744210.0,2768830.0,2776690.0,2689710.0,2608740.0,2645180.0,2673280.0,2704840.0,2727860.0,2771600.0,2805010.0,2825170.0,2848560.0
50,Wyoming,240730,246670.0,251590.0,262260.0,273170.0,283980.0,282450.0,269910.0,272570.0,278040.0,278910.0,282690.0,283830.0,276120.0,267980.0,269320.0

In [8]:
m = LifeSci3.mean(axis=1)
for i, col in enumerate(LifeSci3):
    LifeSci3.iloc[:, i] = LifeSci3.iloc[:, i].fillna(m)
LifeSci3 = LifeSci3.drop(['Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
                          'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
                          'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',], axis = 1)

LifeSci3 = LifeSci3.rename(columns = {'Table S-34':'State',
                                       'Unnamed: 33':'All Occupations 2018'})

LifeSci3.head(10)

                  State  All Occupations 2018
0               Alabama             1943760.0
1                Alaska              315250.0
2               Arizona             2789520.0
3              Arkansas             1210120.0
4            California            17007690.0
5              Colorado             2620640.0
6           Connecticut             1660200.0
7              Delaware              448510.0
8  District of Columbia              712370.0
9               Florida             8608660.0

In [9]:
LifeSci4 = LifeSci.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
                          'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
                          'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
                          'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
                          'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
                          'Unnamed: 34',], axis = 1)

LifeSci4.head()

,Table S-34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Life Scientists as a Percentage of All Occupat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Life scientists in all occupations (Percent),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,2003,2004.000000,2005.000000,2006.000000,2007.000000,2008.000000,2009.000000,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.00000,2018.000000
3,United States,0.213867,0.221554,0.223279,0.220188,0.226803,0.236357,0.251822,0.254860,0.252872,0.251781,0.259984,0.257962,0.253784,0.252721,0.25326,0.259401
4,Alabama,0.123814,0.128576,0.125494,0.146950,0.216877,0.229271,0.251661,0.194193,0.164694,0.173208,0.210403,0.197036,0.146020,0.106117,NaN,0.163600

In [10]:
LifeSci4.drop(range(0,4), inplace = True)
LifeSci4.drop(range(55,64), inplace = True)
LifeSci4 = LifeSci4.reset_index(drop = True)
LifeSci4

,Table S-34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Alabama,0.123814,0.128576,0.125494,0.146950,0.216877,0.229271,0.251661,0.194193,0.164694,0.173208,0.210403,0.197036,0.146020,0.106117,NaN,0.163600
1,Alaska,0.567517,0.591596,0.589705,0.612064,0.712109,0.688781,0.687999,0.701185,0.702494,0.696580,0.601252,0.584669,0.574484,0.562597,0.572021,0.580492
2,Arizona,0.12745,0.121056,0.110787,0.108385,0.126133,0.136097,NaN,0.194751,NaN,0.197984,0.205602,NaN,0.188244,0.176782,0.168636,0.160601
3,Arkansas,0.136767,0.135826,0.133932,0.127695,0.161158,0.173462,0.217835,0.206066,0.211465,0.217312,0.222974,0.218331,0.206610,0.177114,0.171648,0.182627
4,California,0.230761,0.256058,0.255639,0.265702,NaN,NaN,0.382518,0.394237,0.406156,0.392628,0.413673,0.385787,0.364403,0.363384,0.359988,0.375124
5,Colorado,NaN,NaN,0.237971,0.208869,0.212998,0.222382,NaN,NaN,NaN,NaN,0.277560,0.284655,0.271264,0.273161,0.297030,0.300308
6,Connecticut,0.288672,0.299237,0.306419,0.291143,0.274637,NaN,0.304436,0.284617,0.277222,0.273352,NaN,0.272698,0.303116,0.277864,0.236337,0.253584
7,Delaware,0.314629,0.289897,0.273021,0.327622,0.333365,0.388044,0.319946,0.261484,0.280098,0.308071,0.291163,0.228596,NaN,NaN,NaN,0.280930
8,District of Columbia,0.389772,0.419830,0.448306,0.403676,0.373609,0.297404,0.293481,0.239291,0.291595,0.266153,NaN,NaN,0.286957,0.264814,0.296518,0.307425
9,Florida,0.118187,0.129696,0.132242,0.120851,0.122064,0.132145,0.147092,NaN,NaN,0.149577,0.146111,0.135155,0.128576,0.122719,0.127924,0.132076
10,Georgia,0.192816,0.137448,0.138831,0.133697,0.121477,0.116511,NaN,0.132452,0.148971,0.147031,0.142023,NaN,0.186711,0.185791,0.171719,NaN
11,Hawaii,0.204521,0.280542,0.277573,0.297097,0.335895,0.308612,0.341947,0.341130,0.322234,0.324714,0.327134,0.331385,0.324214,0.314814,0.246449,0.250861
12,Idaho,0.365767,0.393445,0.389965,0.361994,0.364509,0.270669,0.310812,0.368222,0.389722,0.372573,0.396411,0.382080,0.398320,0.376795,0.398174,0.395106
13,Illinois,0.157716,0.158557,0.176345,0.162529,0.142332,0.138395,0.144980,0.157730,0.158947,0.146435,NaN,0.130769,0.151554,0.171414,0.189444,0.187940
14,Indiana,0.176066,0.188603,0.188147,NaN,0.201449,0.195722,0.192626,0.194506,0.196512,0.186705,0.226329,0.239917,0.226642,0.229335,0.227266,0.229651
15,Iowa,0.189638,0.215546,0.220525,0.242137,0.284205,0.288167,0.306567,0.285712,0.322267,0.363762,0.396219,0.395309,0.355611,0.347903,0.323682,0.328209
16,Kansas,0.18496,0.169286,0.180140,NaN,0.192926,0.242987,0.256541,0.245252,0.233932,0.236956,0.233453,0.134608,0.140709,0.176105,0.208164,0.191947
17,Kentucky,0.186088,0.146294,NaN,0.152824,0.162060,0.156228,0.166418,0.167244,0.182356,0.185862,0.196879,0.181415,0.171361,0.167946,0.123639,0.128580
18,Louisiana,0.107459,0.110438,0.110273,0.115364,NaN,NaN,0.094554,NaN,NaN,NaN,0.120405,0.138845,0.125303,0.117055,0.126705,0.136903
19,Maine,0.184199,0.183839,0.194220,0.194334,0.203327,0.201937,0.249537,0.254585,0.297061,NaN,0.279862,0.274561,0.270490,0.244806,0.236991,0.255966
20,Maryland,NaN,0.469467,0.475729,0.406925,0.423212,0.429431,0.481743,0.469041,0.518005,0.544474,0.559878,0.584553,0.579212,0.591844,0.547980,0.577494
21,Massachusetts,0.364772,0.356334,0.380342,0.442518,0.446406,NaN,0.567685,0.578051,0.607218,0.633651,0.672218,0.722047,0.676806,0.689613,0.716823,NaN
22,Michigan,NaN,0.150295,0.140489,NaN,NaN,NaN,NaN,NaN,NaN,0.153900,0.153046,0.176006,0.200405,0.208210,0.199016,0.189215
23,Minnesota,0.264689,0.271994,0.282313,0.285508,0.296160,0.314619,0.345557,0.359031,NaN,0.385444,0.409138,0.372158,0.365408,0.321662,0.350566,0.322558
24,Mississippi,0.229495,0.193341,0.203872,0.214735,0.215239,0.239850,0.245239,0.225995,0.232970,0.241573,0.205803,0.219364,0.210564,0.207647,0.210814,0.221564
25,Missouri,0.186045,0.207028,0.216226,0.210335,NaN,NaN,NaN,0.189302,NaN,0.218734,0.233032,0.227405,0.207578,0.248019,0.209777,0.225330
26,Montana,0.458437,0.447728,0.438924,0.465900,0.523560,0.511158,0.527485,0.596276,0.623368,0.624451,0.562501,0.516545,0.516571,0.492589,0.497027,0.520204
27,Nebraska,0.264908,0.281785,0.287000,0.298517,0.240524,0.227341,0.224702,0.239550,0.242088,0.267809,0.257779,0.299061,0.313512,0.329545,0.318481,0.321990
28,Nevada,0.10312,0.091819,0.092310,0.086655,0.098019,0.089968,0.100012,0.114950,0.123115,0.121544,0.112850,0.111801,0.118430,0.108582,0.117538,0.104667
29,New Hampshire,0.1004,NaN,0.151232,0.145004,0.208666,0.208015,0.209884,0.233668,0.234057,0.233389,0.199939,0.205742,0.204608,0.218588,0.210785,0.222079
30,New Jersey,0.238266,0.280183,0.237408,0.223373,0.234417,0.289742,0.311886,0.329660,0.273384,0.248569,0.244958,0.266976,0.303829,0.324624,0.311418,0.350109
31,New Mexico,NaN,NaN,NaN,0.253370,NaN,0.212330,0.232387,0.225063,0.214752,NaN,0.258935,NaN,0.240556,0.224722,0.224697,0.208210
32,New York,NaN,0.183014,0.176157,0.170606,0.161109,0.162042,0.175091,0.192473,0.183327,NaN,NaN,0.231871,0.236397,0.233357,0.216228,0.212559
33,North Carolina,NaN,NaN,0.250939,NaN,NaN,0.284489,0.323346,0.363658,0.354141,0.298804,0.323028,0.323254,0.288722,0.252185,0.265681,0.275597
34,North Dakota,0.340093,0.323645,0.331791,0.327634,0.336287,0.311109,0.316715,0.303618,0.322902,0.300032,0.323931,0.329231,0.346121,0.326905,0.350397,0.362502
35,Ohio,NaN,NaN,NaN,0.121401,0.137418,0.154796,0.165178,0.155638,0.148858,0.144037,0.150804,0.156897,NaN,0.189963,0.187501,0.185903
36,Oklahoma,0.269652,0.224175,0.215668,0.212181,0.193605,0.179104,0.162588,0.167817,0.116802,0.128113,0.134714,0.153424,0.148391,0.129814,0.132231,NaN
37,Oregon,0.361744,0.340544,0.326499,0.323289,0.335880,0.353305,0.392739,0.395617,0.352952,0.355302,0.343230,0.365317,0.365372,0.382481,0.350668,0.356293
38,Pennsylvania,0.248797,0.259259,NaN,NaN,0.283239,0.300605,0.339694,NaN,NaN,0.248549,0.302484,0.278925,0.288292,0.281363,0.298014,NaN
39,Rhode Island,0.230453,0.233192,0.187574,0.225883,0.257270,0.219472,0.220159,NaN,0.281609,0.275926,0.228020,0.193995,0.197331,0.151518,0.172301,0.226127
40,South Carolina,0.123004,0.140052,0.133685,0.128248,0.106499,0.110425,0.115924,0.123653,NaN,NaN,NaN,0.130031,0.116174,0.116172,0.111970,0.106678
41,South Dakota,0.339754,0.334223,0.321285,0.338378,0.380072,0.404081,0.412329,0.425708,0.392187,0.398816,0.416884,0.442272,0.437981,0.423932,0.429113,0.461746
42,Tennessee,0.107846,0.093056,NaN,0.096380,0.105869,0.105233,0.106280,0.112088,NaN,NaN,NaN,0.158939,0.153861,NaN,0.155363,0.163007
43,Texas,0.291394,0.316227,0.324473,0.270977,NaN,0.212002,0.187186,NaN,NaN,0.176948,NaN,0.161992,0.150874,0.155382,0.160375,0.170054
44,Utah,0.291327,0.272927,0.281106,0.286702,0.307583,0.290981,0.276614,0.205482,NaN,NaN,0.210028,0.220199,0.221222,0.206560,0.202741,0.210865
45,Vermont,0.24022,0.266658,0.292290,0.307066,0.361958,0.275628,0.251598,0.275271,0.319774,0.319630,0.315130,0.292310,0.359084,0.364329,0.331028,0.265391
46,Virginia,NaN,NaN,0.169990,0.169326,0.145392,0.161265,NaN,NaN,0.168291,0.173473,NaN,NaN,NaN,0.204757,0.222169,NaN
47,Washington,0.405439,0.400438,0.395354,NaN,0.437102,0.404335,0.433385,0.453732,0.427470,0.431247,0.415252,0.399538,0.394111,0.395812,0.422706,0.425571
48,West Virginia,0.169068,0.187634,0.187843,0.192806,0.176661,0.168585,0.156181,0.199079,0.182792,0.195626,0.171969,0.156842,0.151344,0.182095,0.222213,0.216761
49,Wisconsin,0.240753,0.238413,0.236486,0.250345,0.289653,0.310802,0.315276,0.294778,0.269169,0.292899,0.288372,0.253312,0.242098,NaN,0.238924,0.248898
50,Wyoming,0.378017,0.429724,0.429270,0.407992,0.406340,0.412001,0.435475,0.418658,0.421910,0.424399,0.401563,0.382044,0.359370,0.365783,0.376894,0.356453

In [11]:
m = LifeSci4.mean(axis=1)
for i, col in enumerate(LifeSci4):
    LifeSci4.iloc[:, i] = LifeSci4.iloc[:, i].fillna(m)
LifeSci4 = LifeSci4.drop(['Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39',
                          'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
                          'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49'], axis = 1)

LifeSci4 = LifeSci4.rename(columns = {'Table S-34':'State',
                                       'Unnamed: 50':'Life Scientists 2018 (Percent)'})

LifeSci4.head(10)

                  State  Life Scientists 2018 (Percent)
0               Alabama                        0.163600
1                Alaska                        0.580492
2               Arizona                        0.160601
3              Arkansas                        0.182627
4            California                        0.375124
5              Colorado                        0.300308
6           Connecticut                        0.253584
7              Delaware                        0.280930
8  District of Columbia                        0.307425
9               Florida                        0.132076

In [12]:
LifeSciDFs = [LifeSci2, LifeSci3, LifeSci4]

LifeSciFinal = reduce(lambda left, right: pd.merge(left, right, on = 'State', how = 'outer'), LifeSciDFs)

LifeSciFinal

,State,Life Scientists 2018,All Occupations 2018,Life Scientists 2018 (Percent)
0,Alabama,3180.000000,1943760.0,0.163600
1,Alaska,1830.000000,315250.0,0.580492
2,Arizona,4480.000000,2789520.0,0.160601
3,Arkansas,2210.000000,1210120.0,0.182627
4,California,63800.000000,17007690.0,0.375124
5,Colorado,7870.000000,2620640.0,0.300308
6,Connecticut,4210.000000,1660200.0,0.253584
7,Delaware,1260.000000,448510.0,0.280930
8,District of Columbia,2190.000000,712370.0,0.307425
9,Florida,11370.000000,8608660.0,0.132076
10,Georgia,5860.833333,4394740.0,0.146889
11,Hawaii,1610.000000,641790.0,0.250861
12,Idaho,2790.000000,706140.0,0.395106
13,Illinois,11260.000000,5991270.0,0.187940
14,Indiana,7000.000000,3048100.0,0.229651
15,Iowa,5060.000000,1541700.0,0.328209
16,Kansas,2640.000000,1375380.0,0.191947
17,Kentucky,2430.000000,1889870.0,0.128580
18,Louisiana,2620.000000,1913770.0,0.136903
19,Maine,1550.000000,605550.0,0.255966
20,Maryland,15500.000000,2684010.0,0.577494
21,Massachusetts,18843.846154,3571360.0,0.576132
22,Michigan,8170.000000,4317830.0,0.189215
23,Minnesota,9250.000000,2867700.0,0.322558
24,Mississippi,2490.000000,1123830.0,0.221564
25,Missouri,6320.000000,2804780.0,0.225330
26,Montana,2410.000000,463280.0,0.520204
27,Nebraska,3150.000000,978290.0,0.321990
28,Nevada,1410.000000,1347130.0,0.104667
29,New Hampshire,1450.000000,652920.0,0.222079
30,New Jersey,14180.000000,4050170.0,0.350109
31,New Mexico,1690.000000,811680.0,0.208210
32,New York,19950.000000,9385620.0,0.212559
33,North Carolina,12080.000000,4383210.0,0.275597
34,North Dakota,1510.000000,416550.0,0.362502
35,Ohio,10070.000000,5416810.0,0.185903
36,Oklahoma,2500.714286,1594370.0,0.164188
37,Oregon,6720.000000,1886090.0,0.356293
38,Pennsylvania,16300.000000,5847690.0,0.288042
39,Rhode Island,1090.000000,482030.0,0.226127
40,South Carolina,2200.000000,2062280.0,0.106678
41,South Dakota,1950.000000,422310.0,0.461746
42,Tennessee,4820.000000,2956920.0,0.163007
43,Texas,20600.000000,12113810.0,0.170054
44,Utah,3070.000000,1455910.0,0.210865
45,Vermont,810.000000,305210.0,0.265391
46,Virginia,6460.000000,3832840.0,0.176833
47,Washington,13870.000000,3259150.0,0.425571
48,West Virginia,1510.000000,696620.0,0.216761
49,Wisconsin,7090.000000,2848560.0,0.248898
50,Wyoming,960.000000,269320.0,0.356453

In [13]:
COVIDCases = pd.read_csv('us-states.csv')
COVIDCases = COVIDCases.groupby(['state']).sum()
COVIDCases = COVIDCases.reset_index()
COVIDCases.drop([11, 36, 41, 49], inplace = True)
COVIDCases = COVIDCases.reset_index(drop = True)
COVIDCases.state

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: state, dtype: object

In [14]:
COVIDCases = COVIDCases.rename(columns = {'state':'State'})
COVIDCases.head()

        State  fips    cases  deaths
0     Alabama    73   387786   14345
1      Alaska   148    18316     367
2     Arizona   480   426614   18857
3    Arkansas   375   161569    3301
4  California   726  2664110  102387

In [15]:
COVIDLifeSci = pd.merge(COVIDCases, LifeSciFinal, how = 'left', on = 'State')
COVIDLifeSci

,State,fips,cases,deaths,Life Scientists 2018,All Occupations 2018,Life Scientists 2018 (Percent)
0,Alabama,73,387786,14345,3180.000000,1943760.0,0.163600
1,Alaska,148,18316,367,1830.000000,315250.0,0.580492
2,Arizona,480,426614,18857,4480.000000,2789520.0,0.160601
3,Arkansas,375,161569,3301,2210.000000,1210120.0,0.182627
4,California,726,2664110,102387,63800.000000,17007690.0,0.375124
5,Colorado,648,766512,37828,7870.000000,2620640.0,0.300308
6,Connecticut,702,1314995,104185,4210.000000,1660200.0,0.253584
7,Delaware,750,234327,7813,1260.000000,448510.0,0.280930
8,District of Columbia,869,229466,10822,2190.000000,712370.0,0.307425
9,Florida,1020,1726811,63147,11370.000000,8608660.0,0.132076
10,Georgia,1092,1282091,54209,5860.833333,4394740.0,0.146889
11,Hawaii,1200,31433,681,1610.000000,641790.0,0.250861
12,Idaho,1168,103987,2828,2790.000000,706140.0,0.395106
13,Illinois,2074,2843621,122000,11260.000000,5991270.0,0.187940
14,Indiana,1440,920434,53042,7000.000000,3048100.0,0.229651
15,Iowa,1482,396980,9203,5060.000000,1541700.0,0.328209
16,Kansas,1580,231885,6527,2640.000000,1375380.0,0.191947
17,Kentucky,1680,246480,11851,2430.000000,1889870.0,0.128580
18,Louisiana,1694,1443404,90609,2620.000000,1913770.0,0.136903
19,Maine,1702,61284,2451,1550.000000,605550.0,0.255966
20,Maryland,1944,1173802,56126,15500.000000,2684010.0,0.577494
21,Massachusetts,2850,2929874,167711,18843.846154,3571360.0,0.576132
22,Michigan,1976,2023047,171867,8170.000000,4317830.0,0.189215
23,Minnesota,2160,377850,18934,9250.000000,2867700.0,0.322558
24,Mississippi,2100,358459,15047,2490.000000,1123830.0,0.221564
25,Missouri,2291,395952,17924,6320.000000,2804780.0,0.225330
26,Montana,2190,23875,676,2410.000000,463280.0,0.520204
27,Nebraska,3038,259429,3535,3150.000000,978290.0,0.321990
28,Nevada,2592,259808,11975,1410.000000,1347130.0,0.104667
29,New Hampshire,2772,117245,4507,1450.000000,652920.0,0.222079
30,New Jersey,2788,5645458,332869,14180.000000,4050170.0,0.350109
31,New Mexico,2625,177827,6867,1690.000000,811680.0,0.208210
32,New York,3060,15041806,1081194,19950.000000,9385620.0,0.212559
33,North Carolina,3071,568719,19258,12080.000000,4383210.0,0.275597
34,North Dakota,2850,55932,1219,1510.000000,416550.0,0.362502
35,Ohio,3003,908834,47879,10070.000000,5416810.0,0.185903
36,Oklahoma,3200,187462,10394,2500.714286,1594370.0,0.164188
37,Oregon,3567,134979,5067,6720.000000,1886090.0,0.356293
38,Pennsylvania,3360,2320771,127278,16300.000000,5847690.0,0.288042
39,Rhode Island,3740,401931,14251,1090.000000,482030.0,0.226127
40,South Carolina,3600,313173,11859,2200.000000,2062280.0,0.106678
41,South Dakota,3496,122292,1121,1950.000000,422310.0,0.461746
42,Tennessee,3807,583792,10198,4820.000000,2956920.0,0.163007
43,Texas,4944,1553075,41267,20600.000000,12113810.0,0.170054
44,Utah,4410,245859,2472,3070.000000,1455910.0,0.210865
45,Vermont,3950,45230,2320,810.000000,305210.0,0.265391
46,Virginia,4029,866807,28754,6460.000000,3832840.0,0.176833
47,Washington,6625,807848,42371,13870.000000,3259150.0,0.425571
48,West Virginia,3726,56158,1950,1510.000000,696620.0,0.216761
49,Wisconsin,6050,393823,15587,7090.000000,2848560.0,0.248898
50,Wyoming,4200,28407,281,960.000000,269320.0,0.356453

In [16]:
COVIDLifeSci = COVIDLifeSci.drop(['fips'], axis = 1)
COVIDLifeSci

,State,cases,deaths,Life Scientists 2018,All Occupations 2018,Life Scientists 2018 (Percent)
0,Alabama,387786,14345,3180.000000,1943760.0,0.163600
1,Alaska,18316,367,1830.000000,315250.0,0.580492
2,Arizona,426614,18857,4480.000000,2789520.0,0.160601
3,Arkansas,161569,3301,2210.000000,1210120.0,0.182627
4,California,2664110,102387,63800.000000,17007690.0,0.375124
5,Colorado,766512,37828,7870.000000,2620640.0,0.300308
6,Connecticut,1314995,104185,4210.000000,1660200.0,0.253584
7,Delaware,234327,7813,1260.000000,448510.0,0.280930
8,District of Columbia,229466,10822,2190.000000,712370.0,0.307425
9,Florida,1726811,63147,11370.000000,8608660.0,0.132076
10,Georgia,1282091,54209,5860.833333,4394740.0,0.146889
11,Hawaii,31433,681,1610.000000,641790.0,0.250861
12,Idaho,103987,2828,2790.000000,706140.0,0.395106
13,Illinois,2843621,122000,11260.000000,5991270.0,0.187940
14,Indiana,920434,53042,7000.000000,3048100.0,0.229651
15,Iowa,396980,9203,5060.000000,1541700.0,0.328209
16,Kansas,231885,6527,2640.000000,1375380.0,0.191947
17,Kentucky,246480,11851,2430.000000,1889870.0,0.128580
18,Louisiana,1443404,90609,2620.000000,1913770.0,0.136903
19,Maine,61284,2451,1550.000000,605550.0,0.255966
20,Maryland,1173802,56126,15500.000000,2684010.0,0.577494
21,Massachusetts,2929874,167711,18843.846154,3571360.0,0.576132
22,Michigan,2023047,171867,8170.000000,4317830.0,0.189215
23,Minnesota,377850,18934,9250.000000,2867700.0,0.322558
24,Mississippi,358459,15047,2490.000000,1123830.0,0.221564
25,Missouri,395952,17924,6320.000000,2804780.0,0.225330
26,Montana,23875,676,2410.000000,463280.0,0.520204
27,Nebraska,259429,3535,3150.000000,978290.0,0.321990
28,Nevada,259808,11975,1410.000000,1347130.0,0.104667
29,New Hampshire,117245,4507,1450.000000,652920.0,0.222079
30,New Jersey,5645458,332869,14180.000000,4050170.0,0.350109
31,New Mexico,177827,6867,1690.000000,811680.0,0.208210
32,New York,15041806,1081194,19950.000000,9385620.0,0.212559
33,North Carolina,568719,19258,12080.000000,4383210.0,0.275597
34,North Dakota,55932,1219,1510.000000,416550.0,0.362502
35,Ohio,908834,47879,10070.000000,5416810.0,0.185903
36,Oklahoma,187462,10394,2500.714286,1594370.0,0.164188
37,Oregon,134979,5067,6720.000000,1886090.0,0.356293
38,Pennsylvania,2320771,127278,16300.000000,5847690.0,0.288042
39,Rhode Island,401931,14251,1090.000000,482030.0,0.226127
40,South Carolina,313173,11859,2200.000000,2062280.0,0.106678
41,South Dakota,122292,1121,1950.000000,422310.0,0.461746
42,Tennessee,583792,10198,4820.000000,2956920.0,0.163007
43,Texas,1553075,41267,20600.000000,12113810.0,0.170054
44,Utah,245859,2472,3070.000000,1455910.0,0.210865
45,Vermont,45230,2320,810.000000,305210.0,0.265391
46,Virginia,866807,28754,6460.000000,3832840.0,0.176833
47,Washington,807848,42371,13870.000000,3259150.0,0.425571
48,West Virginia,56158,1950,1510.000000,696620.0,0.216761
49,Wisconsin,393823,15587,7090.000000,2848560.0,0.248898
50,Wyoming,28407,281,960.000000,269320.0,0.356453

In [17]:
COVIDLifeSci.to_csv('LifeSci_Jobs.csv')