In [1]:
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
TechWork = pd.read_excel('technical-workers-to-all-occupations.xlsx')
TechWork

,Table S-39,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Technical Workers as a Percentage of All Occup...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Technical workers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,2003,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,...,2009.000000,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.00000
3,United States,2046150,2030040.0,2022670.0,2034070.0,2054960.0,2071260.0,1989840.0,1877370.0,1882050.0,...,1.523059,1.477114,1.467159,1.449139,1.437429,1.417402,1.403573,1.366517,1.329519,1.32814
4,Alabama,27880,28190.0,28700.0,27300.0,26170.0,25000.0,25310.0,25250.0,23920.0,...,1.358109,1.396973,1.321971,1.302894,1.357316,1.337260,1.357716,1.355992,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,NOTES: Occupational Employment Statistics (OES...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,"SOURCE: Bureau of Labor Statistics, special ta...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Recommended Citation: National Science Board. ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,"Last updated: September 24, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Science and Engineering Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
TechWork2 = TechWork.drop(['Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
                          'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
                          'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
                          'Unnamed: 34', 'Unnamed: 33', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39',
                          'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
                          'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50'], axis = 1)

TechWork2.head()

,Table S-39,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Technical Workers as a Percentage of All Occup...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Technical workers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,2003,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
3,United States,2046150,2030040.0,2022670.0,2034070.0,2054960.0,2071260.0,1989840.0,1877370.0,1882050.0,1888050.0,1905870.0,1915310.0,1935480.0,1918590.0,1895220.0,1922260.0
4,Alabama,27880,28190.0,28700.0,27300.0,26170.0,25000.0,25310.0,25250.0,23920.0,23770.0,25030.0,24840.0,25570.0,25940.0,NaN,NaN

In [4]:
TechWork2.drop(range(0,4), inplace = True)
TechWork2.drop(range(55,64), inplace = True)
TechWork2 = TechWork2.reset_index(drop = True)
TechWork2

,Table S-39,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Alabama,27880,28190.0,28700.0,27300.0,26170.0,25000.0,25310.0,25250.0,23920.0,23770.0,25030.0,24840.0,25570.0,25940.0,NaN,NaN
1,Alaska,6420,6530.0,6850.0,6900.0,6830.0,6950.0,7110.0,6900.0,6680.0,6730.0,6830.0,6450.0,6460.0,6100.0,6150.0,6370.0
2,Arizona,41120,38870.0,39640.0,42320.0,45980.0,46960.0,41160.0,37680.0,36590.0,37860.0,41140.0,39500.0,39890.0,36140.0,NaN,NaN
3,Arkansas,11950,12160.0,12710.0,12810.0,13340.0,13470.0,13270.0,11910.0,11820.0,12160.0,12280.0,12730.0,12430.0,12940.0,11490.0,11790.0
4,California,NaN,244920.0,240060.0,NaN,251380.0,248640.0,239100.0,231630.0,243090.0,246680.0,246730.0,NaN,NaN,261830.0,258700.0,266500.0
5,Colorado,40620,39310.0,39570.0,38760.0,39050.0,37480.0,35960.0,33070.0,33240.0,33200.0,34930.0,35910.0,37280.0,37420.0,38850.0,39090.0
6,Connecticut,30530,29770.0,29890.0,29700.0,30060.0,31020.0,30910.0,29140.0,28050.0,26880.0,27020.0,27470.0,27710.0,30420.0,27770.0,27020.0
7,Delaware,8060,8070.0,7420.0,7910.0,8550.0,9170.0,7600.0,6750.0,6560.0,7190.0,6390.0,6490.0,5830.0,5790.0,5750.0,5870.0
8,District of Columbia,12590,12960.0,12490.0,11870.0,11360.0,11310.0,11820.0,11790.0,12170.0,11880.0,11230.0,10820.0,9780.0,10110.0,10520.0,10760.0
9,Florida,98180,99880.0,97880.0,100520.0,97980.0,94870.0,87520.0,80170.0,79280.0,78110.0,77850.0,75970.0,74710.0,NaN,78600.0,83360.0
10,Georgia,55790,55470.0,55530.0,53720.0,51420.0,49960.0,NaN,44830.0,46510.0,48930.0,50500.0,NaN,NaN,50220.0,50310.0,49720.0
11,Hawaii,6260,6910.0,7140.0,7200.0,7260.0,7090.0,6700.0,6450.0,6550.0,6570.0,6560.0,6500.0,6730.0,6630.0,6580.0,6750.0
12,Idaho,10350,10650.0,12480.0,NaN,12880.0,15520.0,15260.0,14880.0,13490.0,12350.0,11130.0,10800.0,10780.0,11240.0,11610.0,12110.0
13,Illinois,82440,82190.0,84150.0,81220.0,78540.0,78950.0,77150.0,74590.0,73020.0,71670.0,73960.0,74690.0,76370.0,76550.0,74420.0,76790.0
14,Indiana,40000,40070.0,37470.0,35480.0,36080.0,36430.0,34590.0,33810.0,35350.0,35600.0,38210.0,36930.0,35660.0,34640.0,35930.0,NaN
15,Iowa,17140,16040.0,16250.0,16800.0,18850.0,19560.0,19020.0,17650.0,17350.0,17410.0,18030.0,17840.0,17390.0,18120.0,18970.0,20830.0
16,Kansas,18870,17830.0,18430.0,18640.0,18420.0,20380.0,20940.0,18090.0,18320.0,17460.0,17970.0,16410.0,16290.0,16680.0,16420.0,15790.0
17,Kentucky,NaN,21120.0,19990.0,19200.0,18510.0,NaN,18640.0,17990.0,17750.0,17330.0,16470.0,16600.0,17320.0,17180.0,16140.0,17190.0
18,Louisiana,25330,23830.0,23160.0,23040.0,24710.0,25160.0,25010.0,23730.0,23960.0,23430.0,23200.0,22510.0,22790.0,21950.0,21700.0,23580.0
19,Maine,8630,8790.0,8600.0,8640.0,8200.0,8450.0,8400.0,7910.0,7580.0,7540.0,7580.0,7760.0,7950.0,8350.0,8230.0,8320.0
20,Maryland,50380,48900.0,49860.0,46580.0,47100.0,47210.0,48190.0,45900.0,47000.0,48880.0,46900.0,43580.0,43770.0,44950.0,47060.0,45530.0
21,Massachusetts,61960,60710.0,59460.0,61560.0,63400.0,64150.0,62720.0,61110.0,62520.0,63310.0,62180.0,62140.0,64700.0,64440.0,62960.0,63560.0
22,Michigan,91840,83090.0,79790.0,77810.0,73500.0,72440.0,66860.0,65340.0,65960.0,67450.0,66930.0,65200.0,64260.0,62080.0,NaN,59390.0
23,Minnesota,48000,47440.0,48330.0,48150.0,47250.0,47300.0,45750.0,44080.0,44920.0,45380.0,42930.0,45610.0,47370.0,46740.0,43250.0,42520.0
24,Mississippi,11220,11750.0,12130.0,14580.0,13620.0,14790.0,11820.0,10920.0,10530.0,10630.0,11100.0,11010.0,11310.0,10930.0,10900.0,10120.0
25,Missouri,38990,35900.0,34500.0,36650.0,34560.0,37420.0,34280.0,30930.0,30050.0,30340.0,32390.0,31890.0,33140.0,33670.0,NaN,30660.0
26,Montana,6280,6940.0,8100.0,8490.0,8100.0,NaN,8350.0,8120.0,7800.0,8050.0,7600.0,7700.0,7430.0,7030.0,7340.0,7730.0
27,Nebraska,12500,12130.0,12150.0,11590.0,11260.0,10780.0,10490.0,10500.0,10550.0,10290.0,10420.0,10790.0,11250.0,11670.0,11920.0,12010.0
28,Nevada,11430,12490.0,13120.0,13950.0,12980.0,13310.0,12250.0,11300.0,10870.0,11270.0,10920.0,11680.0,12670.0,13130.0,12990.0,13670.0
29,New Hampshire,9450,9960.0,9750.0,9650.0,9760.0,10410.0,10660.0,10010.0,10230.0,9280.0,9200.0,9890.0,10290.0,10400.0,10370.0,10790.0
30,New Jersey,74830,72920.0,69760.0,68390.0,67710.0,68530.0,67630.0,63350.0,60680.0,57440.0,59640.0,61560.0,61520.0,57520.0,53460.0,52360.0
31,New Mexico,17250,16150.0,16810.0,16770.0,16540.0,16560.0,16240.0,15750.0,15010.0,16120.0,15680.0,15570.0,14720.0,13570.0,13480.0,13620.0
32,New York,110090,112270.0,112900.0,113310.0,121560.0,126730.0,129570.0,NaN,112000.0,106730.0,104440.0,103820.0,103870.0,101650.0,99100.0,99470.0
33,North Carolina,57700,57000.0,58070.0,57880.0,62140.0,62530.0,58610.0,52580.0,50300.0,50890.0,50530.0,51940.0,52310.0,NaN,53620.0,53450.0
34,North Dakota,4270,4400.0,4310.0,4460.0,4130.0,4710.0,4910.0,5050.0,4550.0,4870.0,5010.0,5020.0,5430.0,5380.0,5180.0,5680.0
35,Ohio,76140,73280.0,72820.0,70130.0,68930.0,68590.0,66000.0,63510.0,62370.0,NaN,63950.0,65850.0,63320.0,NaN,NaN,61990.0
36,Oklahoma,19180,19670.0,19230.0,19550.0,20250.0,20040.0,19510.0,19350.0,21070.0,21810.0,22090.0,23780.0,24270.0,21980.0,21470.0,22550.0
37,Oregon,27040,28340.0,29490.0,31730.0,31980.0,31440.0,28460.0,NaN,NaN,29410.0,30490.0,31460.0,32640.0,34260.0,34680.0,33860.0
38,Pennsylvania,85860,83170.0,79970.0,80910.0,81430.0,82850.0,NaN,NaN,NaN,NaN,73720.0,76200.0,79160.0,79600.0,77140.0,NaN
39,Rhode Island,6610,6690.0,6680.0,6560.0,6920.0,6600.0,6230.0,5990.0,5860.0,5430.0,5280.0,5160.0,5530.0,5150.0,5270.0,5260.0
40,South Carolina,26510,26570.0,26120.0,26970.0,26970.0,27370.0,25350.0,23860.0,23220.0,22870.0,21870.0,21990.0,22280.0,NaN,22650.0,22900.0
41,South Dakota,4000,3930.0,4310.0,4240.0,3790.0,3990.0,3870.0,3860.0,3860.0,4040.0,3870.0,3890.0,3840.0,3930.0,3700.0,3700.0
42,Tennessee,35840,36530.0,35670.0,34360.0,32890.0,31230.0,29070.0,28440.0,30730.0,30050.0,NaN,32260.0,35150.0,35770.0,36380.0,36220.0
43,Texas,162020,163780.0,164620.0,172080.0,181730.0,186370.0,175280.0,162150.0,161240.0,163880.0,167580.0,174670.0,174200.0,164480.0,156220.0,163150.0
44,Utah,19090,20610.0,21810.0,22940.0,23090.0,23910.0,22220.0,19470.0,20630.0,21620.0,21720.0,21010.0,21180.0,24790.0,25140.0,NaN
45,Vermont,4900,4590.0,4390.0,4610.0,4350.0,4450.0,4110.0,4030.0,4450.0,4390.0,4710.0,4590.0,4500.0,4360.0,4860.0,4730.0
46,Virginia,66840,65460.0,66400.0,64070.0,64330.0,62770.0,60980.0,59520.0,60950.0,61190.0,58240.0,57440.0,56510.0,57320.0,54770.0,55400.0
47,Washington,50050,50650.0,51590.0,51770.0,55080.0,NaN,57630.0,54330.0,56610.0,NaN,60800.0,56020.0,56150.0,54510.0,NaN,56280.0
48,West Virginia,9770,9350.0,8910.0,8930.0,8500.0,8530.0,8730.0,8550.0,8720.0,7910.0,7200.0,6540.0,6850.0,7230.0,8050.0,8100.0
49,Wisconsin,38190,38410.0,39190.0,39420.0,41690.0,41160.0,39030.0,35950.0,36720.0,37050.0,38520.0,38310.0,38590.0,37690.0,36560.0,35790.0
50,Wyoming,3450,3400.0,4080.0,4130.0,3870.0,4210.0,4100.0,4050.0,4130.0,4170.0,NaN,4790.0,4750.0,4350.0,3930.0,3980.0

In [5]:
m = TechWork2.mean(axis=1)
for i, col in enumerate(TechWork2):
    TechWork2.iloc[:, i] = TechWork2.iloc[:, i].fillna(m)
TechWork2 = TechWork2.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
                          'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
                          'Unnamed: 14', 'Unnamed: 15'], axis = 1)

TechWork2 = TechWork2.rename(columns = {'Table S-39':'State',
                                       'Unnamed: 16':'Technical Workers 2018'})

TechWork2.head(10)

                  State  Technical Workers 2018
0               Alabama            25768.461538
1                Alaska             6370.000000
2               Arizona            40286.923077
3              Arkansas            11790.000000
4            California           266500.000000
5              Colorado            39090.000000
6           Connecticut            27020.000000
7              Delaware             5870.000000
8  District of Columbia            10760.000000
9               Florida            83360.000000

In [6]:
TechWork3 = TechWork.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
                          'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
                          'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39',
                          'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
                          'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50'], axis = 1)

TechWork3.head()

,Table S-39,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,Technical Workers as a Percentage of All Occup...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,All occupations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,2003,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
3,United States,127420170,129146700.0,130307840.0,132604980.0,134354250.0,135185230.0,130647610.0,127097160.0,128278550.0,130287700.0,132588810.0,135128260.0,137896660.0,140400040.0,142549250.0,144733270.0
4,Alabama,1817240,1851040.0,1872600.0,1912220.0,1931970.0,1945300.0,1863620.0,1807480.0,1809420.0,1824400.0,1844080.0,1857530.0,1883310.0,1912990.0,1922570.0,1943760.0

In [7]:
TechWork3.drop(range(0,4), inplace = True)
TechWork3.drop(range(55,64), inplace = True)
TechWork3 = TechWork3.reset_index(drop = True)
TechWork3

,Table S-39,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,Alabama,1817240,1851040.0,1872600.0,1912220.0,1931970.0,1945300.0,1863620.0,1807480.0,1809420.0,1824400.0,1844080.0,1857530.0,1883310.0,1912990.0,1922570.0,1943760.0
1,Alaska,290740,295810.0,300150.0,303890.0,301920.0,307790.0,308140.0,308050.0,313170.0,318700.0,322660.0,324970.0,327250.0,323500.0,318170.0,315250.0
2,Arizona,2275410,2370810.0,2437100.0,2574150.0,2648000.0,2637830.0,2479120.0,2367120.0,2380200.0,2414340.0,2475660.0,2526990.0,2587070.0,2652990.0,2704050.0,2789520.0
3,Arkansas,1118690,1133800.0,1142370.0,1166840.0,1172760.0,1176050.0,1147660.0,1135560.0,1139670.0,1155020.0,1152600.0,1158790.0,1176130.0,1191320.0,1200130.0,1210120.0
4,California,14460860,14598250.0,14723900.0,15065750.0,15202530.0,15212610.0,14532640.0,14001730.0,14038950.0,14303630.0,14714530.0,15119730.0,15496600.0,15966580.0,16695010.0,17007690.0
5,Colorado,2097650,2130430.0,2151520.0,2207120.0,2258240.0,2302340.0,2234250.0,2157690.0,2179060.0,2226160.0,2295000.0,2367780.0,2451490.0,2507680.0,2555300.0,2620640.0
6,Connecticut,1631610,1640840.0,1648070.0,1658980.0,1682220.0,1697810.0,1648950.0,1598640.0,1608820.0,1620620.0,1635590.0,1646510.0,1659430.0,1666280.0,1654420.0,1660200.0
7,Delaware,403650,413940.0,417550.0,424270.0,425960.0,425210.0,412570.0,397730.0,403430.0,405750.0,412140.0,424330.0,433840.0,440760.0,442690.0,448510.0
8,District of Columbia,595220,609770.0,611190.0,609400.0,620970.0,635500.0,637180.0,639390.0,644730.0,653760.0,665850.0,674650.0,676060.0,702380.0,708220.0,712370.0
9,Florida,7217400,7479050.0,7614840.0,7869210.0,7963010.0,7771740.0,7355940.0,7103950.0,7151700.0,7273850.0,7453230.0,7665280.0,7925300.0,8222030.0,8419030.0,8608660.0
10,Georgia,3770430,3848740.0,3904020.0,4001580.0,4058370.0,4068270.0,3889160.0,3744740.0,3779250.0,3815530.0,3879660.0,3983250.0,4107960.0,4214410.0,4303530.0,4394740.0
11,Hawaii,557400,573890.0,583630.0,599130.0,610310.0,612420.0,587810.0,571630.0,577220.0,588210.0,602200.0,612580.0,619960.0,632120.0,632990.0,641790.0
12,Idaho,563200,584580.0,597490.0,624320.0,641960.0,650240.0,614520.0,594750.0,592730.0,598540.0,613000.0,628140.0,642700.0,663490.0,685630.0,706140.0
13,Illinois,5719150,5739250.0,5767100.0,5826660.0,5894670.0,5910630.0,5704240.0,5528420.0,5574180.0,5640740.0,5704700.0,5765880.0,5852710.0,5903820.0,5927860.0,5991270.0
14,Indiana,2851210,2879070.0,2891360.0,2913200.0,2928780.0,2927620.0,2787780.0,2724850.0,2758100.0,2811920.0,2854250.0,2905170.0,2947380.0,2991260.0,3018490.0,3048100.0
15,Iowa,1413220,1433570.0,1446550.0,1470240.0,1488360.0,1502600.0,1471130.0,1438510.0,1449110.0,1470740.0,1491600.0,1512740.0,1526950.0,1534910.0,1535460.0,1541700.0
16,Kansas,1292170,1311390.0,1315640.0,1321180.0,1347670.0,1374560.0,1348710.0,1304780.0,1308070.0,1320920.0,1336460.0,1359500.0,1371630.0,1374180.0,1369110.0,1375380.0
17,Kentucky,1719620,1736230.0,1754590.0,1779830.0,1801800.0,1817860.0,1748610.0,1716060.0,1732870.0,1764750.0,1782820.0,1808010.0,1838220.0,1869650.0,1876430.0,1889870.0
18,Louisiana,1851870,1865300.0,1877160.0,1776990.0,1847230.0,1887370.0,1871950.0,1832830.0,1839780.0,1868210.0,1885310.0,1915800.0,1939300.0,1922170.0,1902060.0,1913770.0
19,Maine,591750,598350.0,597260.0,596910.0,600020.0,604150.0,589090.0,577410.0,575640.0,581110.0,582430.0,586390.0,591520.0,596390.0,599180.0,605550.0
20,Maryland,2448580,2477280.0,2497220.0,2531180.0,2551910.0,2561530.0,2503410.0,2462470.0,2480670.0,2510680.0,2534480.0,2557510.0,2596630.0,2640900.0,2664330.0,2684010.0
21,Massachusetts,3130720,3129090.0,3144540.0,3170490.0,3207840.0,3234860.0,3169010.0,3119100.0,3157020.0,3202080.0,3257870.0,3322500.0,3396840.0,3459910.0,3528070.0,3571360.0
22,Michigan,4310420,4324840.0,4334870.0,4294260.0,4210550.0,4142750.0,3893900.0,3755890.0,3829000.0,3918120.0,3998790.0,4073730.0,4146600.0,4212090.0,4276040.0,4317830.0
23,Minnesota,2591720,2625060.0,2635370.0,2682940.0,2687740.0,2704860.0,2627640.0,2562450.0,2595450.0,2641110.0,2688580.0,2730020.0,2772240.0,2810400.0,2838270.0,2867700.0
24,Mississippi,1089350,1101680.0,1108540.0,1113000.0,1128980.0,1138210.0,1096890.0,1070820.0,1073100.0,1080420.0,1083560.0,1094070.0,1106550.0,1117280.0,1119470.0,1123830.0
25,Missouri,2623020,2646990.0,2663880.0,2700450.0,2732920.0,2740170.0,2668450.0,2588450.0,2591020.0,2605910.0,2639120.0,2673640.0,2712240.0,2757850.0,2788680.0,2804780.0
26,Montana,394820,408730.0,414650.0,427130.0,435480.0,444090.0,432240.0,424300.0,425110.0,432380.0,439110.0,443330.0,447180.0,454740.0,460740.0,463280.0
27,Nebraska,879550,887200.0,895470.0,901120.0,914670.0,928120.0,916770.0,901690.0,904630.0,914830.0,927150.0,942950.0,953710.0,968000.0,970230.0,978290.0
28,Nevada,1086110,1154440.0,1191640.0,1257860.0,1285470.0,1278230.0,1179860.0,1113530.0,1112780.0,1127160.0,1151970.0,1189610.0,1232800.0,1270930.0,1310220.0,1347130.0
29,New Hampshire,607570,618310.0,621560.0,627570.0,632590.0,634570.0,619390.0,603420.0,606690.0,612710.0,620190.0,627000.0,635360.0,645050.0,649950.0,652920.0
30,New Jersey,3878020,3901020.0,3917310.0,3957500.0,3980080.0,3986310.0,3850770.0,3770550.0,3771250.0,3793720.0,3821070.0,3869260.0,3906800.0,3955350.0,4007470.0,4050170.0
31,New Mexico,747050,754990.0,763430.0,789360.0,798640.0,819480.0,800390.0,777560.0,777640.0,773860.0,783980.0,788000.0,798150.0,805440.0,801080.0,811680.0
32,New York,8236200,8299910.0,8333460.0,8387750.0,8515960.0,8633580.0,8487020.0,8344020.0,8427560.0,8542280.0,8635400.0,8810950.0,8984890.0,9097650.0,9207870.0,9385620.0
33,North Carolina,3702170,3770700.0,3809690.0,3892670.0,4013460.0,4063420.0,3896750.0,3772780.0,3814860.0,3878800.0,3947030.0,4030880.0,4125070.0,4231020.0,4298390.0,4383210.0
34,North Dakota,314620,324430.0,328520.0,335740.0,341970.0,350360.0,353630.0,355710.0,371630.0,403290.0,422930.0,440420.0,447820.0,425200.0,416670.0,416550.0
35,Ohio,5308270,5324700.0,5340280.0,5354170.0,5341360.0,5323130.0,5091490.0,4921690.0,4977910.0,5054250.0,5125850.0,5200880.0,5280850.0,5337890.0,5370640.0,5416810.0
36,Oklahoma,1416640,1436380.0,1455940.0,1503430.0,1528890.0,1557750.0,1525330.0,1483760.0,1498260.0,1529900.0,1558860.0,1577330.0,1597130.0,1586890.0,1573000.0,1594370.0
37,Oregon,1537000,1576890.0,1598780.0,1648680.0,1682150.0,1706740.0,1624490.0,1569700.0,1586620.0,1609900.0,1640300.0,1683470.0,1735220.0,1790940.0,1830790.0,1886090.0
38,Pennsylvania,5494430,5535000.0,5569310.0,5631520.0,5663070.0,5705170.0,5572660.0,5483220.0,5549240.0,5596480.0,5616820.0,5653840.0,5709480.0,5747020.0,5781610.0,5847690.0
39,Rhode Island,477320,480290.0,479810.0,482550.0,485870.0,478420.0,458760.0,448150.0,450980.0,453020.0,456100.0,463930.0,471290.0,475190.0,475910.0,482030.0
40,South Carolina,1764170,1792190.0,1802740.0,1840190.0,1877950.0,1892690.0,1802900.0,1746820.0,1772880.0,1796550.0,1826120.0,1876480.0,1928140.0,1979820.0,2009460.0,2062280.0
41,South Dakota,364970,371010.0,373500.0,381230.0,389400.0,395960.0,392890.0,387590.0,392670.0,398680.0,402990.0,409250.0,413260.0,417520.0,419470.0,422310.0
42,Tennessee,2614830,2665060.0,2686580.0,2718410.0,2739230.0,2755800.0,2625140.0,2569420.0,2602320.0,2657280.0,2700050.0,2749480.0,2814230.0,2893040.0,2915750.0,2956920.0
43,Texas,9248660,9306600.0,9424510.0,9760960.0,10061750.0,10391420.0,10289240.0,10089870.0,10304370.0,10579400.0,10913950.0,11228940.0,11572540.0,11745250.0,11890880.0,12113810.0
44,Utah,1043500,1077210.0,1099230.0,1151020.0,1206180.0,1230320.0,1185770.0,1148520.0,1165980.0,1200850.0,1242690.0,1280660.0,1324460.0,1374900.0,1410670.0,1455910.0
45,Vermont,291400,296260.0,297650.0,299610.0,301140.0,301130.0,294120.0,286990.0,290830.0,294090.0,298290.0,301050.0,303550.0,304670.0,305110.0,305210.0
46,Virginia,3412070,3494250.0,3535500.0,3608430.0,3645330.0,3670980.0,3589520.0,3527350.0,3553360.0,3597100.0,3631440.0,3648490.0,3682450.0,3760550.0,3789910.0,3832840.0
47,Washington,2560190,2614640.0,2653320.0,2736910.0,2811700.0,2868910.0,2789670.0,2693220.0,2720660.0,2764080.0,2827200.0,2898350.0,2983930.0,3067110.0,3186610.0,3259150.0
48,West Virginia,680200,692840.0,697390.0,710560.0,713230.0,717740.0,704310.0,688170.0,700250.0,710540.0,709430.0,707720.0,707000.0,697440.0,688530.0,696620.0
49,Wisconsin,2687400,2717970.0,2727430.0,2744210.0,2768830.0,2776690.0,2689710.0,2608740.0,2645180.0,2673280.0,2704840.0,2727860.0,2771600.0,2805010.0,2825170.0,2848560.0
50,Wyoming,240730,246670.0,251590.0,262260.0,273170.0,283980.0,282450.0,269910.0,272570.0,278040.0,278910.0,282690.0,283830.0,276120.0,267980.0,269320.0

In [8]:
m = TechWork3.mean(axis=1)
for i, col in enumerate(TechWork3):
    TechWork3.iloc[:, i] = TechWork3.iloc[:, i].fillna(m)
TechWork3 = TechWork3.drop(['Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
                          'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
                          'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',], axis = 1)

TechWork3 = TechWork3.rename(columns = {'Table S-39':'State',
                                       'Unnamed: 33':'All Occupations 2018'})

TechWork3.head(10)

                  State  All Occupations 2018
0               Alabama             1943760.0
1                Alaska              315250.0
2               Arizona             2789520.0
3              Arkansas             1210120.0
4            California            17007690.0
5              Colorado             2620640.0
6           Connecticut             1660200.0
7              Delaware              448510.0
8  District of Columbia              712370.0
9               Florida             8608660.0

In [9]:
TechWork4 = TechWork.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
                          'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
                          'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
                          'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
                          'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
                          'Unnamed: 34',], axis = 1)

TechWork4.head()

,Table S-39,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Technical Workers as a Percentage of All Occup...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Technical workers in all occupations (Percent),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,State,2003,2004.000000,2005.000000,2006.000000,2007.000000,2008.000000,2009.000000,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.00000
3,United States,1.60583,1.571887,1.552224,1.533932,1.529509,1.532164,1.523059,1.477114,1.467159,1.449139,1.437429,1.417402,1.403573,1.366517,1.329519,1.32814
4,Alabama,1.53419,1.522928,1.532628,1.427660,1.354576,1.285149,1.358109,1.396973,1.321971,1.302894,1.357316,1.337260,1.357716,1.355992,NaN,NaN

In [10]:
TechWork4.drop(range(0,4), inplace = True)
TechWork4.drop(range(55,64), inplace = True)
TechWork4 = TechWork4.reset_index(drop = True)
TechWork4

,Table S-39,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Alabama,1.53419,1.522928,1.532628,1.427660,1.354576,1.285149,1.358109,1.396973,1.321971,1.302894,1.357316,1.337260,1.357716,1.355992,NaN,NaN
1,Alaska,2.20816,2.207498,2.282192,2.270558,2.262189,2.258033,2.307393,2.239896,2.133027,2.111704,2.116779,1.984799,1.974026,1.885626,1.932929,2.020619
2,Arizona,1.80715,1.639524,1.626523,1.644038,1.736405,1.780251,1.660267,1.591808,1.537266,1.568130,1.661779,1.563125,1.541899,1.362237,NaN,NaN
3,Arkansas,1.06821,1.072500,1.112599,1.097837,1.137488,1.145359,1.156266,1.048822,1.037142,1.052796,1.065417,1.098560,1.056856,1.086190,0.957396,0.974284
4,California,NaN,1.677735,1.630410,NaN,1.653541,1.634434,1.645262,1.654296,1.731540,1.724597,1.676778,NaN,NaN,1.639863,1.549565,1.566938
5,Colorado,1.93645,1.845167,1.839165,1.756135,1.729223,1.627909,1.609489,1.532658,1.525428,1.491357,1.522004,1.516610,1.520708,1.492216,1.520369,1.491620
6,Connecticut,1.87116,1.814315,1.813637,1.790257,1.786924,1.827060,1.874526,1.822799,1.743514,1.658624,1.652003,1.668377,1.669850,1.825624,1.678534,1.627515
7,Delaware,1.99678,1.949558,1.777033,1.864379,2.007231,2.156581,1.842112,1.697131,1.626057,1.772027,1.550444,1.529470,1.343813,1.313640,1.298877,1.308778
8,District of Columbia,2.11518,2.125392,2.043554,1.947818,1.829396,1.779701,1.855049,1.843945,1.887612,1.817181,1.686566,1.603795,1.446617,1.439392,1.485414,1.510451
9,Florida,1.36032,1.335464,1.285385,1.277384,1.230439,1.220705,1.189787,1.128527,1.108548,1.073847,1.044514,0.991092,0.942677,NaN,0.933599,0.968327
10,Georgia,1.47967,1.441251,1.422380,1.342470,1.267011,1.228040,NaN,1.197146,1.230667,1.282391,1.301660,NaN,NaN,1.191626,1.169040,1.131352
11,Hawaii,1.12307,1.204063,1.223378,1.201743,1.189559,1.157702,1.139824,1.128352,1.134749,1.116948,1.089339,1.061086,1.085554,1.048851,1.039511,1.051746
12,Idaho,1.83771,1.821821,2.088738,NaN,2.006356,2.386811,2.483239,2.501892,2.275910,2.063354,1.815661,1.719362,1.677299,1.694072,1.693333,1.714957
13,Illinois,1.44147,1.432069,1.459139,1.393938,1.332390,1.335729,1.352503,1.349210,1.309968,1.270578,1.296475,1.295379,1.304866,1.296618,1.255428,1.281698
14,Indiana,1.40291,1.391769,1.295930,1.217905,1.231912,1.244355,1.240772,1.240802,1.281679,1.266039,1.338705,1.271182,1.209888,1.158040,1.190330,NaN
15,Iowa,1.21283,1.118885,1.123362,1.142671,1.266495,1.301744,1.292884,1.226964,1.197287,1.183758,1.208769,1.179317,1.138872,1.180525,1.235460,1.351106
16,Kansas,1.46033,1.359626,1.400839,1.410860,1.366803,1.482656,1.552595,1.386441,1.400537,1.321806,1.344597,1.207061,1.187638,1.213815,1.199319,1.148046
17,Kentucky,NaN,1.216429,1.139297,1.078755,1.027306,NaN,1.065990,1.048332,1.024312,0.982009,0.923817,0.918137,0.942216,0.918889,0.860144,0.909586
18,Louisiana,1.36781,1.277542,1.233779,1.296575,1.337679,1.333072,1.336040,1.294719,1.302330,1.254142,1.230567,1.174966,1.175166,1.141939,1.140868,1.232123
19,Maine,1.45839,1.469040,1.439909,1.447454,1.366621,1.398659,1.425928,1.369910,1.316795,1.297517,1.301444,1.323351,1.343995,1.400091,1.373544,1.373958
20,Maryland,2.05752,1.973939,1.996620,1.840248,1.845676,1.843039,1.924974,1.863982,1.894649,1.946883,1.850478,1.704001,1.685646,1.702071,1.766298,1.696342
21,Massachusetts,1.9791,1.940181,1.890897,1.941656,1.976408,1.983084,1.979167,1.959219,1.980349,1.977152,1.908609,1.870278,1.904711,1.862476,1.784545,1.779714
22,Michigan,2.13065,1.921227,1.840655,1.811954,1.745615,1.748597,1.717045,1.739668,1.722643,1.721489,1.673756,1.600499,1.549703,1.473853,NaN,1.375459
23,Minnesota,1.85205,1.807197,1.833898,1.794673,1.757983,1.748704,1.741106,1.720229,1.730721,1.718217,1.596754,1.670684,1.708727,1.663108,1.523816,1.482721
24,Mississippi,1.02997,1.066553,1.094232,1.309973,1.206399,1.299409,1.077592,1.019779,0.981269,0.983877,1.024401,1.006334,1.022096,0.978269,0.973675,0.900492
25,Missouri,1.48645,1.356257,1.295103,1.357181,1.264581,1.365609,1.284641,1.194924,1.159775,1.164277,1.227303,1.192756,1.221868,1.220879,NaN,1.093134
26,Montana,1.5906,1.697942,1.953455,1.987685,1.860017,NaN,1.931797,1.913740,1.834819,1.861788,1.730774,1.736855,1.661523,1.545938,1.593089,1.668537
27,Nebraska,1.42118,1.367223,1.356829,1.286177,1.231045,1.161488,1.144235,1.164480,1.166223,1.124799,1.123874,1.144281,1.179604,1.205579,1.228575,1.227652
28,Nevada,1.05238,1.081910,1.101004,1.109026,1.009747,1.041284,1.038259,1.014791,0.976833,0.999858,0.947941,0.981834,1.027742,1.033102,0.991437,1.014750
29,New Hampshire,1.55538,1.610842,1.568634,1.537677,1.542863,1.640481,1.721048,1.658878,1.686199,1.514583,1.483416,1.577352,1.619554,1.612278,1.595507,1.652576
30,New Jersey,1.92959,1.869255,1.780814,1.728111,1.701222,1.719134,1.756272,1.680126,1.609016,1.514081,1.560819,1.591002,1.574690,1.454233,1.334009,1.292785
31,New Mexico,2.30908,2.139101,2.201905,2.124506,2.071021,2.020794,2.029011,2.025567,1.930199,2.083064,2.000051,1.975888,1.844265,1.684793,1.682728,1.678001
32,New York,1.33666,1.352665,1.354779,1.350899,1.427437,1.467873,1.526684,NaN,1.328973,1.249432,1.209440,1.178307,1.156052,1.117322,1.076253,1.059813
33,North Carolina,1.55855,1.511656,1.524271,1.486897,1.548290,1.538852,1.504074,1.393667,1.318528,1.312004,1.280203,1.288552,1.268100,NaN,1.247444,1.219426
34,North Dakota,1.35719,1.356225,1.311944,1.328409,1.207708,1.344332,1.388457,1.419696,1.224336,1.207568,1.184593,1.139821,1.212541,1.265287,1.243190,1.363582
35,Ohio,1.43437,1.376228,1.363599,1.309820,1.290495,1.288528,1.296281,1.290410,1.252935,NaN,1.247598,1.266132,1.199049,NaN,NaN,1.144400
36,Oklahoma,1.35391,1.369415,1.320796,1.300360,1.324490,1.286471,1.279067,1.304119,1.406298,1.425583,1.417061,1.507611,1.519601,1.385099,1.364908,1.414352
37,Oregon,1.75927,1.797208,1.844531,1.924570,1.901138,1.842108,1.751934,NaN,NaN,1.826822,1.858806,1.868759,1.881029,1.912962,1.894264,1.795248
38,Pennsylvania,1.56267,1.502620,1.435905,1.436735,1.437913,1.452192,NaN,NaN,NaN,NaN,1.312486,1.347757,1.386466,1.385066,1.334230,NaN
39,Rhode Island,1.38482,1.392908,1.392218,1.359445,1.424249,1.379541,1.358009,1.336606,1.299392,1.198623,1.157641,1.112237,1.173375,1.083777,1.107352,1.091218
40,South Carolina,1.50269,1.482544,1.448906,1.465610,1.436140,1.446090,1.406068,1.365911,1.309733,1.272995,1.197621,1.171875,1.155518,NaN,1.127168,1.110421
41,South Dakota,1.09598,1.059271,1.153949,1.112189,0.973292,1.007678,0.985009,0.995898,0.983014,1.013344,0.960322,0.950519,0.929197,0.941272,0.882065,0.876134
42,Tennessee,1.37064,1.370701,1.327710,1.263974,1.200702,1.133246,1.107370,1.106865,1.180869,1.130856,NaN,1.173313,1.249009,1.236416,1.247706,1.224923
43,Texas,1.75182,1.759826,1.746722,1.762941,1.806147,1.793499,1.703527,1.607057,1.564773,1.549048,1.535466,1.555534,1.505288,1.400396,1.313780,1.346810
44,Utah,1.82942,1.913276,1.984116,1.993015,1.914308,1.943397,1.873888,1.695225,1.769327,1.800391,1.747821,1.640560,1.599142,1.803040,1.782132,NaN
45,Vermont,1.68154,1.549315,1.474887,1.538667,1.444511,1.477767,1.397389,1.404230,1.530103,1.492740,1.579000,1.524664,1.482458,1.431057,1.592868,1.549753
46,Virginia,1.95893,1.873363,1.878094,1.775564,1.764724,1.709898,1.698834,1.687386,1.715278,1.701093,1.603772,1.574350,1.534576,1.524245,1.445153,1.445403
47,Washington,1.95493,1.937169,1.944357,1.891549,1.958957,NaN,2.065836,2.017288,2.080745,NaN,2.150538,1.932824,1.881747,1.777243,NaN,1.726831
48,West Virginia,1.43634,1.349518,1.277621,1.256755,1.191761,1.188453,1.239511,1.242426,1.245270,1.113238,1.014899,0.924094,0.968883,1.036648,1.169157,1.162757
49,Wisconsin,1.42108,1.413187,1.436884,1.436479,1.505690,1.482340,1.451086,1.378060,1.388185,1.385938,1.424114,1.404398,1.392337,1.343667,1.294081,1.256424
50,Wyoming,1.43314,1.378360,1.621686,1.574773,1.416700,1.482499,1.451584,1.500500,1.515207,1.499784,NaN,1.694436,1.673537,1.575402,1.466527,1.477796

In [11]:
m = TechWork4.mean(axis=1)
for i, col in enumerate(TechWork4):
    TechWork4.iloc[:, i] = TechWork4.iloc[:, i].fillna(m)
TechWork4 = TechWork4.drop(['Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39',
                          'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
                          'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49'], axis = 1)

TechWork4 = TechWork4.rename(columns = {'Table S-39':'State',
                                       'Unnamed: 50':'Technical Workers 2018 (Percent)'})

TechWork4.head(10)

                  State  Technical Workers 2018 (Percent)
0               Alabama                          1.377782
1                Alaska                          2.020619
2               Arizona                          1.608712
3              Arkansas                          0.974284
4            California                          1.566938
5              Colorado                          1.491620
6           Connecticut                          1.627515
7              Delaware                          1.308778
8  District of Columbia                          1.510451
9               Florida                          0.968327

In [12]:
TechWorkDFs = [TechWork2, TechWork3, TechWork4]

TechWorkFinal = reduce(lambda left, right: pd.merge(left, right, on = 'State', how = 'outer'), TechWorkDFs)

TechWorkFinal

,State,Technical Workers 2018,All Occupations 2018,Technical Workers 2018 (Percent)
0,Alabama,25768.461538,1943760.0,1.377782
1,Alaska,6370.000000,315250.0,2.020619
2,Arizona,40286.923077,2789520.0,1.608712
3,Arkansas,11790.000000,1210120.0,0.974284
4,California,266500.000000,17007690.0,1.566938
5,Colorado,39090.000000,2620640.0,1.491620
6,Connecticut,27020.000000,1660200.0,1.627515
7,Delaware,5870.000000,448510.0,1.308778
8,District of Columbia,10760.000000,712370.0,1.510451
9,Florida,83360.000000,8608660.0,0.968327
10,Georgia,49720.000000,4394740.0,1.131352
11,Hawaii,6750.000000,641790.0,1.051746
12,Idaho,12110.000000,706140.0,1.714957
13,Illinois,76790.000000,5991270.0,1.281698
14,Indiana,36160.714286,3048100.0,1.255665
15,Iowa,20830.000000,1541700.0,1.351106
16,Kansas,15790.000000,1375380.0,1.148046
17,Kentucky,17190.000000,1889870.0,0.909586
18,Louisiana,23580.000000,1913770.0,1.232123
19,Maine,8320.000000,605550.0,1.373958
20,Maryland,45530.000000,2684010.0,1.696342
21,Massachusetts,63560.000000,3571360.0,1.779714
22,Michigan,59390.000000,4317830.0,1.375459
23,Minnesota,42520.000000,2867700.0,1.482721
24,Mississippi,10120.000000,1123830.0,0.900492
25,Missouri,30660.000000,2804780.0,1.093134
26,Montana,7730.000000,463280.0,1.668537
27,Nebraska,12010.000000,978290.0,1.227652
28,Nevada,13670.000000,1347130.0,1.014750
29,New Hampshire,10790.000000,652920.0,1.652576
30,New Jersey,52360.000000,4050170.0,1.292785
31,New Mexico,13620.000000,811680.0,1.678001
32,New York,99470.000000,9385620.0,1.059813
33,North Carolina,53450.000000,4383210.0,1.219426
34,North Dakota,5680.000000,416550.0,1.363582
35,Ohio,61990.000000,5416810.0,1.144400
36,Oklahoma,22550.000000,1594370.0,1.414352
37,Oregon,33860.000000,1886090.0,1.795248
38,Pennsylvania,79415.000000,5847690.0,1.403137
39,Rhode Island,5260.000000,482030.0,1.091218
40,South Carolina,22900.000000,2062280.0,1.110421
41,South Dakota,3700.000000,422310.0,0.876134
42,Tennessee,36220.000000,2956920.0,1.224923
43,Texas,163150.000000,12113810.0,1.346810
44,Utah,22152.857143,1455910.0,1.818546
45,Vermont,4730.000000,305210.0,1.549753
46,Virginia,55400.000000,3832840.0,1.445403
47,Washington,56280.000000,3259150.0,1.726831
48,West Virginia,8100.000000,696620.0,1.162757
49,Wisconsin,35790.000000,2848560.0,1.256424
50,Wyoming,3980.000000,269320.0,1.477796

In [13]:
COVIDCases = pd.read_csv('us-states.csv')
COVIDCases = COVIDCases.groupby(['state']).sum()
COVIDCases = COVIDCases.reset_index()
COVIDCases.drop([11, 36, 41, 49], inplace = True)
COVIDCases = COVIDCases.reset_index(drop = True)
COVIDCases.state

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: state, dtype: object

In [14]:
COVIDCases = COVIDCases.rename(columns = {'state':'State'})
COVIDCases.head()

        State  fips    cases  deaths
0     Alabama    73   387786   14345
1      Alaska   148    18316     367
2     Arizona   480   426614   18857
3    Arkansas   375   161569    3301
4  California   726  2664110  102387

In [15]:
COVIDTechWork = pd.merge(COVIDCases, TechWorkFinal, how = 'left', on = 'State')
COVIDTechWork

,State,fips,cases,deaths,Technical Workers 2018,All Occupations 2018,Technical Workers 2018 (Percent)
0,Alabama,73,387786,14345,25768.461538,1943760.0,1.377782
1,Alaska,148,18316,367,6370.000000,315250.0,2.020619
2,Arizona,480,426614,18857,40286.923077,2789520.0,1.608712
3,Arkansas,375,161569,3301,11790.000000,1210120.0,0.974284
4,California,726,2664110,102387,266500.000000,17007690.0,1.566938
5,Colorado,648,766512,37828,39090.000000,2620640.0,1.491620
6,Connecticut,702,1314995,104185,27020.000000,1660200.0,1.627515
7,Delaware,750,234327,7813,5870.000000,448510.0,1.308778
8,District of Columbia,869,229466,10822,10760.000000,712370.0,1.510451
9,Florida,1020,1726811,63147,83360.000000,8608660.0,0.968327
10,Georgia,1092,1282091,54209,49720.000000,4394740.0,1.131352
11,Hawaii,1200,31433,681,6750.000000,641790.0,1.051746
12,Idaho,1168,103987,2828,12110.000000,706140.0,1.714957
13,Illinois,2074,2843621,122000,76790.000000,5991270.0,1.281698
14,Indiana,1440,920434,53042,36160.714286,3048100.0,1.255665
15,Iowa,1482,396980,9203,20830.000000,1541700.0,1.351106
16,Kansas,1580,231885,6527,15790.000000,1375380.0,1.148046
17,Kentucky,1680,246480,11851,17190.000000,1889870.0,0.909586
18,Louisiana,1694,1443404,90609,23580.000000,1913770.0,1.232123
19,Maine,1702,61284,2451,8320.000000,605550.0,1.373958
20,Maryland,1944,1173802,56126,45530.000000,2684010.0,1.696342
21,Massachusetts,2850,2929874,167711,63560.000000,3571360.0,1.779714
22,Michigan,1976,2023047,171867,59390.000000,4317830.0,1.375459
23,Minnesota,2160,377850,18934,42520.000000,2867700.0,1.482721
24,Mississippi,2100,358459,15047,10120.000000,1123830.0,0.900492
25,Missouri,2291,395952,17924,30660.000000,2804780.0,1.093134
26,Montana,2190,23875,676,7730.000000,463280.0,1.668537
27,Nebraska,3038,259429,3535,12010.000000,978290.0,1.227652
28,Nevada,2592,259808,11975,13670.000000,1347130.0,1.014750
29,New Hampshire,2772,117245,4507,10790.000000,652920.0,1.652576
30,New Jersey,2788,5645458,332869,52360.000000,4050170.0,1.292785
31,New Mexico,2625,177827,6867,13620.000000,811680.0,1.678001
32,New York,3060,15041806,1081194,99470.000000,9385620.0,1.059813
33,North Carolina,3071,568719,19258,53450.000000,4383210.0,1.219426
34,North Dakota,2850,55932,1219,5680.000000,416550.0,1.363582
35,Ohio,3003,908834,47879,61990.000000,5416810.0,1.144400
36,Oklahoma,3200,187462,10394,22550.000000,1594370.0,1.414352
37,Oregon,3567,134979,5067,33860.000000,1886090.0,1.795248
38,Pennsylvania,3360,2320771,127278,79415.000000,5847690.0,1.403137
39,Rhode Island,3740,401931,14251,5260.000000,482030.0,1.091218
40,South Carolina,3600,313173,11859,22900.000000,2062280.0,1.110421
41,South Dakota,3496,122292,1121,3700.000000,422310.0,0.876134
42,Tennessee,3807,583792,10198,36220.000000,2956920.0,1.224923
43,Texas,4944,1553075,41267,163150.000000,12113810.0,1.346810
44,Utah,4410,245859,2472,22152.857143,1455910.0,1.818546
45,Vermont,3950,45230,2320,4730.000000,305210.0,1.549753
46,Virginia,4029,866807,28754,55400.000000,3832840.0,1.445403
47,Washington,6625,807848,42371,56280.000000,3259150.0,1.726831
48,West Virginia,3726,56158,1950,8100.000000,696620.0,1.162757
49,Wisconsin,6050,393823,15587,35790.000000,2848560.0,1.256424
50,Wyoming,4200,28407,281,3980.000000,269320.0,1.477796

In [16]:
COVIDTechWork = COVIDTechWork.drop(['fips'], axis = 1)
COVIDTechWork

,State,cases,deaths,Technical Workers 2018,All Occupations 2018,Technical Workers 2018 (Percent)
0,Alabama,387786,14345,25768.461538,1943760.0,1.377782
1,Alaska,18316,367,6370.000000,315250.0,2.020619
2,Arizona,426614,18857,40286.923077,2789520.0,1.608712
3,Arkansas,161569,3301,11790.000000,1210120.0,0.974284
4,California,2664110,102387,266500.000000,17007690.0,1.566938
5,Colorado,766512,37828,39090.000000,2620640.0,1.491620
6,Connecticut,1314995,104185,27020.000000,1660200.0,1.627515
7,Delaware,234327,7813,5870.000000,448510.0,1.308778
8,District of Columbia,229466,10822,10760.000000,712370.0,1.510451
9,Florida,1726811,63147,83360.000000,8608660.0,0.968327
10,Georgia,1282091,54209,49720.000000,4394740.0,1.131352
11,Hawaii,31433,681,6750.000000,641790.0,1.051746
12,Idaho,103987,2828,12110.000000,706140.0,1.714957
13,Illinois,2843621,122000,76790.000000,5991270.0,1.281698
14,Indiana,920434,53042,36160.714286,3048100.0,1.255665
15,Iowa,396980,9203,20830.000000,1541700.0,1.351106
16,Kansas,231885,6527,15790.000000,1375380.0,1.148046
17,Kentucky,246480,11851,17190.000000,1889870.0,0.909586
18,Louisiana,1443404,90609,23580.000000,1913770.0,1.232123
19,Maine,61284,2451,8320.000000,605550.0,1.373958
20,Maryland,1173802,56126,45530.000000,2684010.0,1.696342
21,Massachusetts,2929874,167711,63560.000000,3571360.0,1.779714
22,Michigan,2023047,171867,59390.000000,4317830.0,1.375459
23,Minnesota,377850,18934,42520.000000,2867700.0,1.482721
24,Mississippi,358459,15047,10120.000000,1123830.0,0.900492
25,Missouri,395952,17924,30660.000000,2804780.0,1.093134
26,Montana,23875,676,7730.000000,463280.0,1.668537
27,Nebraska,259429,3535,12010.000000,978290.0,1.227652
28,Nevada,259808,11975,13670.000000,1347130.0,1.014750
29,New Hampshire,117245,4507,10790.000000,652920.0,1.652576
30,New Jersey,5645458,332869,52360.000000,4050170.0,1.292785
31,New Mexico,177827,6867,13620.000000,811680.0,1.678001
32,New York,15041806,1081194,99470.000000,9385620.0,1.059813
33,North Carolina,568719,19258,53450.000000,4383210.0,1.219426
34,North Dakota,55932,1219,5680.000000,416550.0,1.363582
35,Ohio,908834,47879,61990.000000,5416810.0,1.144400
36,Oklahoma,187462,10394,22550.000000,1594370.0,1.414352
37,Oregon,134979,5067,33860.000000,1886090.0,1.795248
38,Pennsylvania,2320771,127278,79415.000000,5847690.0,1.403137
39,Rhode Island,401931,14251,5260.000000,482030.0,1.091218
40,South Carolina,313173,11859,22900.000000,2062280.0,1.110421
41,South Dakota,122292,1121,3700.000000,422310.0,0.876134
42,Tennessee,583792,10198,36220.000000,2956920.0,1.224923
43,Texas,1553075,41267,163150.000000,12113810.0,1.346810
44,Utah,245859,2472,22152.857143,1455910.0,1.818546
45,Vermont,45230,2320,4730.000000,305210.0,1.549753
46,Virginia,866807,28754,55400.000000,3832840.0,1.445403
47,Washington,807848,42371,56280.000000,3259150.0,1.726831
48,West Virginia,56158,1950,8100.000000,696620.0,1.162757
49,Wisconsin,393823,15587,35790.000000,2848560.0,1.256424
50,Wyoming,28407,281,3980.000000,269320.0,1.477796

In [17]:
COVIDTechWork.to_csv('TechWork_Jobs.csv')