In [23]:
import pandas as pd
import numpy as np

In [24]:
agi = pd.read_excel('17in02stateshares.xlsx')
agi

,"Table 2. Returns with Positive Adjusted Gross\nIncome (AGI): Number of Returns, Shares of AGI, \nand Sources of Income, by Selected Descending\nCumulative Percentiles of Returns Based on Income\nSize Using the Definition of AGI, by State, Tax Year 2017",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 117,Unnamed: 118,Unnamed: 119,Unnamed: 120,Unnamed: 121,Unnamed: 122,Unnamed: 123,Unnamed: 124,Unnamed: 125,Unnamed: 126
0,[money amounts in thousands of dollars],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,State,Number of returns [1],NaN,NaN,NaN,NaN,NaN,NaN,Adjusted gross income,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Total,Descending cumulative percentiles,NaN,NaN,NaN,NaN,NaN,Total,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Top 1\npercent,Top 5\npercent,Top 10\npercent,Top 25\npercent,Top 50\npercent,Top 75\npercent,NaN,Top 1\npercent,...,Top 5 percent,NaN,Top 10 percent,NaN,Top 25 percent,NaN,Top 50 percent,NaN,Top 75 percent,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Wisconsin,2613791,26138,130690,261379,653448,1306896,1960343,185948284,28215039,...,42226,10039683,59220,10512810,88821,10957821,116419,11191231,130743,11265707
57,Wyoming,249553,2496,12478,24955,62388,124777,187165,21692660,5985614,...,6381,1296957,9027,1376972,13653,1447006,18582,1481850,21345,1487879
58,[1] The number of returns with negative adjust...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NOTES: (a) The data in the table were compiled...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,"Source: IRS, Statistics of Income Division, Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
agi = agi.rename(columns = {'Table 2. Returns with Positive Adjusted Gross\nIncome (AGI): Number of Returns, Shares of AGI, \nand Sources of Income, by Selected Descending\nCumulative Percentiles of Returns Based on Income\nSize Using the Definition of AGI, by State, Tax Year 2017' :'State'})
agi

,State,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 117,Unnamed: 118,Unnamed: 119,Unnamed: 120,Unnamed: 121,Unnamed: 122,Unnamed: 123,Unnamed: 124,Unnamed: 125,Unnamed: 126
0,[money amounts in thousands of dollars],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,State,Number of returns [1],NaN,NaN,NaN,NaN,NaN,NaN,Adjusted gross income,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Total,Descending cumulative percentiles,NaN,NaN,NaN,NaN,NaN,Total,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Top 1\npercent,Top 5\npercent,Top 10\npercent,Top 25\npercent,Top 50\npercent,Top 75\npercent,NaN,Top 1\npercent,...,Top 5 percent,NaN,Top 10 percent,NaN,Top 25 percent,NaN,Top 50 percent,NaN,Top 75 percent,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Wisconsin,2613791,26138,130690,261379,653448,1306896,1960343,185948284,28215039,...,42226,10039683,59220,10512810,88821,10957821,116419,11191231,130743,11265707
57,Wyoming,249553,2496,12478,24955,62388,124777,187165,21692660,5985614,...,6381,1296957,9027,1376972,13653,1447006,18582,1481850,21345,1487879
58,[1] The number of returns with negative adjust...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NOTES: (a) The data in the table were compiled...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,"Source: IRS, Statistics of Income Division, Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
agi = agi[['State', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14']]

In [27]:
agi

,State,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,[money amounts in thousands of dollars],NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,State,Adjusted gross income,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Total,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Top 1\npercent,Top 5\npercent,Top 10\npercent,Top 25\npercent,Top 50\npercent,Top 75\npercent
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
56,Wisconsin,185948284,28215039,53841327,73692520,114778538,155869897,177843906
57,Wyoming,21692660,5985614,8544166,10478127,14560102,18730918,20896804
58,[1] The number of returns with negative adjust...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NOTES: (a) The data in the table were compiled...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,"Source: IRS, Statistics of Income Division, Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
agi.drop(range(0,7), inplace = True)

C:\Users\Nithin Reddy Malyala\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [29]:
agi

,State,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
7,Alabama,119662909,18553159,35924229,49537638,76667112,101687773,114405941
8,Alaska,23969001,2848087,6184956,8915998,14554105,20064361,22927860
9,Arizona,197753744,33609317,63073164,85351788,128616004,168531690,189378565
10,Arkansas,74634888,16319991,26475276,34256878,49689104,64088761,71584342
11,California,1549284943,356240355,600859502,772738760,1086299917,1360947743,1497300869
12,Colorado,212581123,37479649,69617571,93359185,138935934,181679584,204043171
13,Connecticut,175792834,47379889,74456114,92142733,125039874,155284852,170426876
14,Delaware,31403165,4412370,8899481,12464894,19652753,26529258,30056514
15,District of Columbia,34743188,7442186,13245281,17240750,24153683,30301657,33570901
16,Florida,750608252,213461301,325886670,401558825,540976844,663846145,726074247
17,Georgia,301921590,57388490,104804525,139242396,203999008,261742257,290481346
18,Hawaii,46035510,6481803,12912656,18065442,28514439,38613296,44050315
19,Idaho,46384513,7043329,13662436,18722793,28953730,38984622,44308028
20,Illinois,459437029,88047538,157346611,207726891,304850658,395935092,442093637
21,Indiana,186286142,27521323,53675233,74168484,116195909,157030083,178430564
22,Iowa,93417302,12488315,25114430,35149212,56092713,77294312,88854221
23,Kansas,86807929,13696092,26199853,35706441,54817452,73365708,83138128
24,Kentucky,108540518,15254352,30804516,42952236,67620702,91263425,103719767
25,Louisiana,116954746,18792763,36396221,49866733,76350641,100241514,112100922
26,Maine,38926722,5077172,10692933,15056768,23892336,32507652,37139488
27,Maryland,236559749,36136729,70837704,98181542,152060724,202499680,227839320
28,Massachusetts,328495225,77774616,127550850,162355164,227412810,286859265,317449124
29,Michigan,301269271,50208498,93844946,127515398,194799059,258433238,290078466
30,Minnesota,206705932,33783433,63611623,85939203,130489872,174387310,197857181
31,Mississippi,61807904,8290744,17304630,24548694,38932555,52006558,58837784
32,Missouri,173130847,28163355,53131079,72303155,110588585,147135646,166087991
33,Montana,30503637,4744200,9139061,12461177,19265746,25846198,29239933
34,Nebraska,58525931,8838903,16946908,23218983,36083323,48838557,55755143
35,Nevada,98309878,23874156,37333048,47218122,66504182,84573854,94348203
36,New Hampshire,54745645,8956761,16707828,22694489,34638683,46284032,52421534
37,New Jersey,396393676,77681603,140320265,185056320,269261777,345542637,382969778
38,New Mexico,49827470,6965833,14302259,20204838,31837093,42449792,47876784
39,New York,855923119,250365011,377131528,462031203,619086475,760926774,830808771
40,North Carolina,287924949,46091164,90608605,123830258,187648941,245963463,276087066
41,North Dakota,25255625,3604574,7073108,9733582,15307366,20973814,24038632
42,Ohio,340830550,50436504,99481171,136759826,211894064,285438258,325323706
43,Oklahoma,99128116,16211551,30719528,41653327,63444374,84095597,94931870
44,Oregon,133480354,20929016,40620618,55579971,85096784,113325285,127898239
45,Pennsylvania,428465752,72694735,136621454,184125609,277366419,366264333,412054991
46,Rhode Island,35997730,5705938,10891229,14920731,22953319,30559886,34510941
47,South Carolina,133226223,20541178,40519282,55763743,85745273,113230459,127499350
48,South Dakota,26937890,4572180,8316422,11093874,16817058,22572669,25713587
49,Tennessee,185509888,33032654,60793344,81219315,121020622,158200295,177768712
50,Texas,907906533,200671712,340091337,439367608,624949715,790758741,874823715
51,Utah,91266545,15955410,28644423,38145900,57498266,76877969,87217572
52,Vermont,20481722,2953450,5883104,8166850,12780719,17238224,19630470
53,Virginia,311563990,48947370,95294396,131722445,202082766,267111487,299491962
54,Washington,301047997,56161054,100723679,133493477,196827722,257340470,288919311
55,West Virginia,40224760,4482103,10077647,14708262,24382069,33721011,38437287
56,Wisconsin,185948284,28215039,53841327,73692520,114778538,155869897,177843906
57,Wyoming,21692660,5985614,8544166,10478127,14560102,18730918,20896804
58,[1] The number of returns with negative adjust...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NOTES: (a) The data in the table were compiled...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,"Source: IRS, Statistics of Income Division, Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
agi = agi.reset_index(drop = True)

In [31]:
agi

,State,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,Alabama,119662909,18553159,35924229,49537638,76667112,101687773,114405941
1,Alaska,23969001,2848087,6184956,8915998,14554105,20064361,22927860
2,Arizona,197753744,33609317,63073164,85351788,128616004,168531690,189378565
3,Arkansas,74634888,16319991,26475276,34256878,49689104,64088761,71584342
4,California,1549284943,356240355,600859502,772738760,1086299917,1360947743,1497300869
5,Colorado,212581123,37479649,69617571,93359185,138935934,181679584,204043171
6,Connecticut,175792834,47379889,74456114,92142733,125039874,155284852,170426876
7,Delaware,31403165,4412370,8899481,12464894,19652753,26529258,30056514
8,District of Columbia,34743188,7442186,13245281,17240750,24153683,30301657,33570901
9,Florida,750608252,213461301,325886670,401558825,540976844,663846145,726074247
10,Georgia,301921590,57388490,104804525,139242396,203999008,261742257,290481346
11,Hawaii,46035510,6481803,12912656,18065442,28514439,38613296,44050315
12,Idaho,46384513,7043329,13662436,18722793,28953730,38984622,44308028
13,Illinois,459437029,88047538,157346611,207726891,304850658,395935092,442093637
14,Indiana,186286142,27521323,53675233,74168484,116195909,157030083,178430564
15,Iowa,93417302,12488315,25114430,35149212,56092713,77294312,88854221
16,Kansas,86807929,13696092,26199853,35706441,54817452,73365708,83138128
17,Kentucky,108540518,15254352,30804516,42952236,67620702,91263425,103719767
18,Louisiana,116954746,18792763,36396221,49866733,76350641,100241514,112100922
19,Maine,38926722,5077172,10692933,15056768,23892336,32507652,37139488
20,Maryland,236559749,36136729,70837704,98181542,152060724,202499680,227839320
21,Massachusetts,328495225,77774616,127550850,162355164,227412810,286859265,317449124
22,Michigan,301269271,50208498,93844946,127515398,194799059,258433238,290078466
23,Minnesota,206705932,33783433,63611623,85939203,130489872,174387310,197857181
24,Mississippi,61807904,8290744,17304630,24548694,38932555,52006558,58837784
25,Missouri,173130847,28163355,53131079,72303155,110588585,147135646,166087991
26,Montana,30503637,4744200,9139061,12461177,19265746,25846198,29239933
27,Nebraska,58525931,8838903,16946908,23218983,36083323,48838557,55755143
28,Nevada,98309878,23874156,37333048,47218122,66504182,84573854,94348203
29,New Hampshire,54745645,8956761,16707828,22694489,34638683,46284032,52421534
30,New Jersey,396393676,77681603,140320265,185056320,269261777,345542637,382969778
31,New Mexico,49827470,6965833,14302259,20204838,31837093,42449792,47876784
32,New York,855923119,250365011,377131528,462031203,619086475,760926774,830808771
33,North Carolina,287924949,46091164,90608605,123830258,187648941,245963463,276087066
34,North Dakota,25255625,3604574,7073108,9733582,15307366,20973814,24038632
35,Ohio,340830550,50436504,99481171,136759826,211894064,285438258,325323706
36,Oklahoma,99128116,16211551,30719528,41653327,63444374,84095597,94931870
37,Oregon,133480354,20929016,40620618,55579971,85096784,113325285,127898239
38,Pennsylvania,428465752,72694735,136621454,184125609,277366419,366264333,412054991
39,Rhode Island,35997730,5705938,10891229,14920731,22953319,30559886,34510941
40,South Carolina,133226223,20541178,40519282,55763743,85745273,113230459,127499350
41,South Dakota,26937890,4572180,8316422,11093874,16817058,22572669,25713587
42,Tennessee,185509888,33032654,60793344,81219315,121020622,158200295,177768712
43,Texas,907906533,200671712,340091337,439367608,624949715,790758741,874823715
44,Utah,91266545,15955410,28644423,38145900,57498266,76877969,87217572
45,Vermont,20481722,2953450,5883104,8166850,12780719,17238224,19630470
46,Virginia,311563990,48947370,95294396,131722445,202082766,267111487,299491962
47,Washington,301047997,56161054,100723679,133493477,196827722,257340470,288919311
48,West Virginia,40224760,4482103,10077647,14708262,24382069,33721011,38437287
49,Wisconsin,185948284,28215039,53841327,73692520,114778538,155869897,177843906
50,Wyoming,21692660,5985614,8544166,10478127,14560102,18730918,20896804
51,[1] The number of returns with negative adjust...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NOTES: (a) The data in the table were compiled...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,"Source: IRS, Statistics of Income Division, Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
agi = agi.rename(columns = {'Unnamed: 8' : 'AGI Total',
                            'Unnamed: 9' : 'AGI Top 1 Percent',
                           'Unnamed: 10' :  'AGI Top 5 Percent',
                           'Unnamed: 11' : 'AGI Top 10 Percent',
                           'Unnamed: 12' : 'AGI Top 25 Percent',
                           'Unnamed: 13' : 'AGI Top 50 Percent',
                           'Unnamed: 14' : 'AGI Top 75 Percent'})

agi.head()

,State,AGI Total,AGI Top 1 Percent,AGI Top 5 Percent,AGI Top 10 Percent,AGI Top 25 Percent,AGI Top 50 Percent,AGI Top 75 Percent
0,Alabama,119662909,18553159,35924229,49537638,76667112,101687773,114405941
1,Alaska,23969001,2848087,6184956,8915998,14554105,20064361,22927860
2,Arizona,197753744,33609317,63073164,85351788,128616004,168531690,189378565
3,Arkansas,74634888,16319991,26475276,34256878,49689104,64088761,71584342
4,California,1549284943,356240355,600859502,772738760,1086299917,1360947743,1497300869

In [33]:
agi

,State,AGI Total,AGI Top 1 Percent,AGI Top 5 Percent,AGI Top 10 Percent,AGI Top 25 Percent,AGI Top 50 Percent,AGI Top 75 Percent
0,Alabama,119662909,18553159,35924229,49537638,76667112,101687773,114405941
1,Alaska,23969001,2848087,6184956,8915998,14554105,20064361,22927860
2,Arizona,197753744,33609317,63073164,85351788,128616004,168531690,189378565
3,Arkansas,74634888,16319991,26475276,34256878,49689104,64088761,71584342
4,California,1549284943,356240355,600859502,772738760,1086299917,1360947743,1497300869
5,Colorado,212581123,37479649,69617571,93359185,138935934,181679584,204043171
6,Connecticut,175792834,47379889,74456114,92142733,125039874,155284852,170426876
7,Delaware,31403165,4412370,8899481,12464894,19652753,26529258,30056514
8,District of Columbia,34743188,7442186,13245281,17240750,24153683,30301657,33570901
9,Florida,750608252,213461301,325886670,401558825,540976844,663846145,726074247
10,Georgia,301921590,57388490,104804525,139242396,203999008,261742257,290481346
11,Hawaii,46035510,6481803,12912656,18065442,28514439,38613296,44050315
12,Idaho,46384513,7043329,13662436,18722793,28953730,38984622,44308028
13,Illinois,459437029,88047538,157346611,207726891,304850658,395935092,442093637
14,Indiana,186286142,27521323,53675233,74168484,116195909,157030083,178430564
15,Iowa,93417302,12488315,25114430,35149212,56092713,77294312,88854221
16,Kansas,86807929,13696092,26199853,35706441,54817452,73365708,83138128
17,Kentucky,108540518,15254352,30804516,42952236,67620702,91263425,103719767
18,Louisiana,116954746,18792763,36396221,49866733,76350641,100241514,112100922
19,Maine,38926722,5077172,10692933,15056768,23892336,32507652,37139488
20,Maryland,236559749,36136729,70837704,98181542,152060724,202499680,227839320
21,Massachusetts,328495225,77774616,127550850,162355164,227412810,286859265,317449124
22,Michigan,301269271,50208498,93844946,127515398,194799059,258433238,290078466
23,Minnesota,206705932,33783433,63611623,85939203,130489872,174387310,197857181
24,Mississippi,61807904,8290744,17304630,24548694,38932555,52006558,58837784
25,Missouri,173130847,28163355,53131079,72303155,110588585,147135646,166087991
26,Montana,30503637,4744200,9139061,12461177,19265746,25846198,29239933
27,Nebraska,58525931,8838903,16946908,23218983,36083323,48838557,55755143
28,Nevada,98309878,23874156,37333048,47218122,66504182,84573854,94348203
29,New Hampshire,54745645,8956761,16707828,22694489,34638683,46284032,52421534
30,New Jersey,396393676,77681603,140320265,185056320,269261777,345542637,382969778
31,New Mexico,49827470,6965833,14302259,20204838,31837093,42449792,47876784
32,New York,855923119,250365011,377131528,462031203,619086475,760926774,830808771
33,North Carolina,287924949,46091164,90608605,123830258,187648941,245963463,276087066
34,North Dakota,25255625,3604574,7073108,9733582,15307366,20973814,24038632
35,Ohio,340830550,50436504,99481171,136759826,211894064,285438258,325323706
36,Oklahoma,99128116,16211551,30719528,41653327,63444374,84095597,94931870
37,Oregon,133480354,20929016,40620618,55579971,85096784,113325285,127898239
38,Pennsylvania,428465752,72694735,136621454,184125609,277366419,366264333,412054991
39,Rhode Island,35997730,5705938,10891229,14920731,22953319,30559886,34510941
40,South Carolina,133226223,20541178,40519282,55763743,85745273,113230459,127499350
41,South Dakota,26937890,4572180,8316422,11093874,16817058,22572669,25713587
42,Tennessee,185509888,33032654,60793344,81219315,121020622,158200295,177768712
43,Texas,907906533,200671712,340091337,439367608,624949715,790758741,874823715
44,Utah,91266545,15955410,28644423,38145900,57498266,76877969,87217572
45,Vermont,20481722,2953450,5883104,8166850,12780719,17238224,19630470
46,Virginia,311563990,48947370,95294396,131722445,202082766,267111487,299491962
47,Washington,301047997,56161054,100723679,133493477,196827722,257340470,288919311
48,West Virginia,40224760,4482103,10077647,14708262,24382069,33721011,38437287
49,Wisconsin,185948284,28215039,53841327,73692520,114778538,155869897,177843906
50,Wyoming,21692660,5985614,8544166,10478127,14560102,18730918,20896804
51,[1] The number of returns with negative adjust...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NOTES: (a) The data in the table were compiled...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,"Source: IRS, Statistics of Income Division, Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
agi.drop(range(51,54), inplace= True)
agi

,State,AGI Total,AGI Top 1 Percent,AGI Top 5 Percent,AGI Top 10 Percent,AGI Top 25 Percent,AGI Top 50 Percent,AGI Top 75 Percent
0,Alabama,119662909,18553159,35924229,49537638,76667112,101687773,114405941
1,Alaska,23969001,2848087,6184956,8915998,14554105,20064361,22927860
2,Arizona,197753744,33609317,63073164,85351788,128616004,168531690,189378565
3,Arkansas,74634888,16319991,26475276,34256878,49689104,64088761,71584342
4,California,1549284943,356240355,600859502,772738760,1086299917,1360947743,1497300869
5,Colorado,212581123,37479649,69617571,93359185,138935934,181679584,204043171
6,Connecticut,175792834,47379889,74456114,92142733,125039874,155284852,170426876
7,Delaware,31403165,4412370,8899481,12464894,19652753,26529258,30056514
8,District of Columbia,34743188,7442186,13245281,17240750,24153683,30301657,33570901
9,Florida,750608252,213461301,325886670,401558825,540976844,663846145,726074247
10,Georgia,301921590,57388490,104804525,139242396,203999008,261742257,290481346
11,Hawaii,46035510,6481803,12912656,18065442,28514439,38613296,44050315
12,Idaho,46384513,7043329,13662436,18722793,28953730,38984622,44308028
13,Illinois,459437029,88047538,157346611,207726891,304850658,395935092,442093637
14,Indiana,186286142,27521323,53675233,74168484,116195909,157030083,178430564
15,Iowa,93417302,12488315,25114430,35149212,56092713,77294312,88854221
16,Kansas,86807929,13696092,26199853,35706441,54817452,73365708,83138128
17,Kentucky,108540518,15254352,30804516,42952236,67620702,91263425,103719767
18,Louisiana,116954746,18792763,36396221,49866733,76350641,100241514,112100922
19,Maine,38926722,5077172,10692933,15056768,23892336,32507652,37139488
20,Maryland,236559749,36136729,70837704,98181542,152060724,202499680,227839320
21,Massachusetts,328495225,77774616,127550850,162355164,227412810,286859265,317449124
22,Michigan,301269271,50208498,93844946,127515398,194799059,258433238,290078466
23,Minnesota,206705932,33783433,63611623,85939203,130489872,174387310,197857181
24,Mississippi,61807904,8290744,17304630,24548694,38932555,52006558,58837784
25,Missouri,173130847,28163355,53131079,72303155,110588585,147135646,166087991
26,Montana,30503637,4744200,9139061,12461177,19265746,25846198,29239933
27,Nebraska,58525931,8838903,16946908,23218983,36083323,48838557,55755143
28,Nevada,98309878,23874156,37333048,47218122,66504182,84573854,94348203
29,New Hampshire,54745645,8956761,16707828,22694489,34638683,46284032,52421534
30,New Jersey,396393676,77681603,140320265,185056320,269261777,345542637,382969778
31,New Mexico,49827470,6965833,14302259,20204838,31837093,42449792,47876784
32,New York,855923119,250365011,377131528,462031203,619086475,760926774,830808771
33,North Carolina,287924949,46091164,90608605,123830258,187648941,245963463,276087066
34,North Dakota,25255625,3604574,7073108,9733582,15307366,20973814,24038632
35,Ohio,340830550,50436504,99481171,136759826,211894064,285438258,325323706
36,Oklahoma,99128116,16211551,30719528,41653327,63444374,84095597,94931870
37,Oregon,133480354,20929016,40620618,55579971,85096784,113325285,127898239
38,Pennsylvania,428465752,72694735,136621454,184125609,277366419,366264333,412054991
39,Rhode Island,35997730,5705938,10891229,14920731,22953319,30559886,34510941
40,South Carolina,133226223,20541178,40519282,55763743,85745273,113230459,127499350
41,South Dakota,26937890,4572180,8316422,11093874,16817058,22572669,25713587
42,Tennessee,185509888,33032654,60793344,81219315,121020622,158200295,177768712
43,Texas,907906533,200671712,340091337,439367608,624949715,790758741,874823715
44,Utah,91266545,15955410,28644423,38145900,57498266,76877969,87217572
45,Vermont,20481722,2953450,5883104,8166850,12780719,17238224,19630470
46,Virginia,311563990,48947370,95294396,131722445,202082766,267111487,299491962
47,Washington,301047997,56161054,100723679,133493477,196827722,257340470,288919311
48,West Virginia,40224760,4482103,10077647,14708262,24382069,33721011,38437287
49,Wisconsin,185948284,28215039,53841327,73692520,114778538,155869897,177843906
50,Wyoming,21692660,5985614,8544166,10478127,14560102,18730918,20896804

In [35]:
COVIDCases = pd.read_csv('us-states.csv')
COVIDCases

            date          state  fips  cases  deaths
0     2020-01-21     Washington    53      1       0
1     2020-01-22     Washington    53      1       0
2     2020-01-23     Washington    53      1       0
3     2020-01-24       Illinois    17      1       0
4     2020-01-24     Washington    53      1       0
...          ...            ...   ...    ...     ...
4574  2020-05-24       Virginia    51  36244    1171
4575  2020-05-24     Washington    53  20732    1069
4576  2020-05-24  West Virginia    54   1771      72
4577  2020-05-24      Wisconsin    55  15362     510
4578  2020-05-24        Wyoming    56    813      12

[4579 rows x 5 columns]

In [36]:
COVIDCases = COVIDCases.groupby(['state']).sum()
COVIDCases = COVIDCases.reset_index()
COVIDCases

                       state  fips     cases   deaths
0                    Alabama    73    387786    14345
1                     Alaska   148     18316      367
2                    Arizona   480    426614    18857
3                   Arkansas   375    161569     3301
4                 California   726   2664110   102387
5                   Colorado   648    766512    37828
6                Connecticut   702   1314995   104185
7                   Delaware   750    234327     7813
8       District of Columbia   869    229466    10822
9                    Florida  1020   1726811    63147
10                   Georgia  1092   1282091    54209
11                      Guam  4686     48340      311
12                    Hawaii  1200     31433      681
13                     Idaho  1168    103987     2828
14                  Illinois  2074   2843621   122000
15                   Indiana  1440    920434    53042
16                      Iowa  1482    396980     9203
17                    Kansas  1580    231885     6527
18                  Kentucky  1680    246480    11851
19                 Louisiana  1694   1443404    90609
20                     Maine  1702     61284     2451
21                  Maryland  1944   1173802    56126
22             Massachusetts  2850   2929874   167711
23                  Michigan  1976   2023047   171867
24                 Minnesota  2160    377850    18934
25               Mississippi  2100    358459    15047
26                  Missouri  2291    395952    17924
27                   Montana  2190     23875      676
28                  Nebraska  3038    259429     3535
29                    Nevada  2592    259808    11975
30             New Hampshire  2772    117245     4507
31                New Jersey  2788   5645458   332869
32                New Mexico  2625    177827     6867
33                  New York  3060  15041806  1081194
34            North Carolina  3071    568719    19258
35              North Dakota  2850     55932     1219
36  Northern Mariana Islands  4002       798      102
37                      Ohio  3003    908834    47879
38                  Oklahoma  3200    187462    10394
39                    Oregon  3567    134979     5067
40              Pennsylvania  3360   2320771   127278
41               Puerto Rico  5256     86159     4199
42              Rhode Island  3740    401931    14251
43            South Carolina  3600    313173    11859
44              South Dakota  3496    122292     1121
45                 Tennessee  3807    583792    10198
46                     Texas  4944   1553075    41267
47                      Utah  4410    245859     2472
48                   Vermont  3950     45230     2320
49            Virgin Islands  5616      3373      180
50                  Virginia  4029    866807    28754
51                Washington  6625    807848    42371
52             West Virginia  3726     56158     1950
53                 Wisconsin  6050    393823    15587
54                   Wyoming  4200     28407      281

In [37]:
COVIDCases.state

0                      Alabama
1                       Alaska
2                      Arizona
3                     Arkansas
4                   California
5                     Colorado
6                  Connecticut
7                     Delaware
8         District of Columbia
9                      Florida
10                     Georgia
11                        Guam
12                      Hawaii
13                       Idaho
14                    Illinois
15                     Indiana
16                        Iowa
17                      Kansas
18                    Kentucky
19                   Louisiana
20                       Maine
21                    Maryland
22               Massachusetts
23                    Michigan
24                   Minnesota
25                 Mississippi
26                    Missouri
27                     Montana
28                    Nebraska
29                      Nevada
30               New Hampshire
31                  New Jersey
32                  New Mexico
33                    New York
34              North Carolina
35                North Dakota
36    Northern Mariana Islands
37                        Ohio
38                    Oklahoma
39                      Oregon
40                Pennsylvania
41                 Puerto Rico
42                Rhode Island
43              South Carolina
44                South Dakota
45                   Tennessee
46                       Texas
47                        Utah
48                     Vermont
49              Virgin Islands
50                    Virginia
51                  Washington
52               West Virginia
53                   Wisconsin
54                     Wyoming
Name: state, dtype: object

In [38]:
COVIDCases.drop([11, 36, 41, 49], inplace = True)
COVIDCases = COVIDCases.reset_index(drop = True)
COVIDCases.state

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: state, dtype: object

In [39]:
COVIDCases = COVIDCases.rename(columns = {'state':'State'})

In [40]:
COVIDagi = pd.merge(COVIDCases, agi, how = 'left', on = 'State')
COVIDagi

,State,fips,cases,deaths,AGI Total,AGI Top 1 Percent,AGI Top 5 Percent,AGI Top 10 Percent,AGI Top 25 Percent,AGI Top 50 Percent,AGI Top 75 Percent
0,Alabama,73,387786,14345,119662909,18553159,35924229,49537638,76667112,101687773,114405941
1,Alaska,148,18316,367,23969001,2848087,6184956,8915998,14554105,20064361,22927860
2,Arizona,480,426614,18857,197753744,33609317,63073164,85351788,128616004,168531690,189378565
3,Arkansas,375,161569,3301,74634888,16319991,26475276,34256878,49689104,64088761,71584342
4,California,726,2664110,102387,1549284943,356240355,600859502,772738760,1086299917,1360947743,1497300869
5,Colorado,648,766512,37828,212581123,37479649,69617571,93359185,138935934,181679584,204043171
6,Connecticut,702,1314995,104185,175792834,47379889,74456114,92142733,125039874,155284852,170426876
7,Delaware,750,234327,7813,31403165,4412370,8899481,12464894,19652753,26529258,30056514
8,District of Columbia,869,229466,10822,34743188,7442186,13245281,17240750,24153683,30301657,33570901
9,Florida,1020,1726811,63147,750608252,213461301,325886670,401558825,540976844,663846145,726074247
10,Georgia,1092,1282091,54209,301921590,57388490,104804525,139242396,203999008,261742257,290481346
11,Hawaii,1200,31433,681,46035510,6481803,12912656,18065442,28514439,38613296,44050315
12,Idaho,1168,103987,2828,46384513,7043329,13662436,18722793,28953730,38984622,44308028
13,Illinois,2074,2843621,122000,459437029,88047538,157346611,207726891,304850658,395935092,442093637
14,Indiana,1440,920434,53042,186286142,27521323,53675233,74168484,116195909,157030083,178430564
15,Iowa,1482,396980,9203,93417302,12488315,25114430,35149212,56092713,77294312,88854221
16,Kansas,1580,231885,6527,86807929,13696092,26199853,35706441,54817452,73365708,83138128
17,Kentucky,1680,246480,11851,108540518,15254352,30804516,42952236,67620702,91263425,103719767
18,Louisiana,1694,1443404,90609,116954746,18792763,36396221,49866733,76350641,100241514,112100922
19,Maine,1702,61284,2451,38926722,5077172,10692933,15056768,23892336,32507652,37139488
20,Maryland,1944,1173802,56126,236559749,36136729,70837704,98181542,152060724,202499680,227839320
21,Massachusetts,2850,2929874,167711,328495225,77774616,127550850,162355164,227412810,286859265,317449124
22,Michigan,1976,2023047,171867,301269271,50208498,93844946,127515398,194799059,258433238,290078466
23,Minnesota,2160,377850,18934,206705932,33783433,63611623,85939203,130489872,174387310,197857181
24,Mississippi,2100,358459,15047,61807904,8290744,17304630,24548694,38932555,52006558,58837784
25,Missouri,2291,395952,17924,173130847,28163355,53131079,72303155,110588585,147135646,166087991
26,Montana,2190,23875,676,30503637,4744200,9139061,12461177,19265746,25846198,29239933
27,Nebraska,3038,259429,3535,58525931,8838903,16946908,23218983,36083323,48838557,55755143
28,Nevada,2592,259808,11975,98309878,23874156,37333048,47218122,66504182,84573854,94348203
29,New Hampshire,2772,117245,4507,54745645,8956761,16707828,22694489,34638683,46284032,52421534
30,New Jersey,2788,5645458,332869,396393676,77681603,140320265,185056320,269261777,345542637,382969778
31,New Mexico,2625,177827,6867,49827470,6965833,14302259,20204838,31837093,42449792,47876784
32,New York,3060,15041806,1081194,855923119,250365011,377131528,462031203,619086475,760926774,830808771
33,North Carolina,3071,568719,19258,287924949,46091164,90608605,123830258,187648941,245963463,276087066
34,North Dakota,2850,55932,1219,25255625,3604574,7073108,9733582,15307366,20973814,24038632
35,Ohio,3003,908834,47879,340830550,50436504,99481171,136759826,211894064,285438258,325323706
36,Oklahoma,3200,187462,10394,99128116,16211551,30719528,41653327,63444374,84095597,94931870
37,Oregon,3567,134979,5067,133480354,20929016,40620618,55579971,85096784,113325285,127898239
38,Pennsylvania,3360,2320771,127278,428465752,72694735,136621454,184125609,277366419,366264333,412054991
39,Rhode Island,3740,401931,14251,35997730,5705938,10891229,14920731,22953319,30559886,34510941
40,South Carolina,3600,313173,11859,133226223,20541178,40519282,55763743,85745273,113230459,127499350
41,South Dakota,3496,122292,1121,26937890,4572180,8316422,11093874,16817058,22572669,25713587
42,Tennessee,3807,583792,10198,185509888,33032654,60793344,81219315,121020622,158200295,177768712
43,Texas,4944,1553075,41267,907906533,200671712,340091337,439367608,624949715,790758741,874823715
44,Utah,4410,245859,2472,91266545,15955410,28644423,38145900,57498266,76877969,87217572
45,Vermont,3950,45230,2320,20481722,2953450,5883104,8166850,12780719,17238224,19630470
46,Virginia,4029,866807,28754,311563990,48947370,95294396,131722445,202082766,267111487,299491962
47,Washington,6625,807848,42371,301047997,56161054,100723679,133493477,196827722,257340470,288919311
48,West Virginia,3726,56158,1950,40224760,4482103,10077647,14708262,24382069,33721011,38437287
49,Wisconsin,6050,393823,15587,185948284,28215039,53841327,73692520,114778538,155869897,177843906
50,Wyoming,4200,28407,281,21692660,5985614,8544166,10478127,14560102,18730918,20896804

In [41]:
COVIDagi = COVIDagi.drop(['fips'], axis = 1)
COVIDagi

,State,cases,deaths,AGI Total,AGI Top 1 Percent,AGI Top 5 Percent,AGI Top 10 Percent,AGI Top 25 Percent,AGI Top 50 Percent,AGI Top 75 Percent
0,Alabama,387786,14345,119662909,18553159,35924229,49537638,76667112,101687773,114405941
1,Alaska,18316,367,23969001,2848087,6184956,8915998,14554105,20064361,22927860
2,Arizona,426614,18857,197753744,33609317,63073164,85351788,128616004,168531690,189378565
3,Arkansas,161569,3301,74634888,16319991,26475276,34256878,49689104,64088761,71584342
4,California,2664110,102387,1549284943,356240355,600859502,772738760,1086299917,1360947743,1497300869
5,Colorado,766512,37828,212581123,37479649,69617571,93359185,138935934,181679584,204043171
6,Connecticut,1314995,104185,175792834,47379889,74456114,92142733,125039874,155284852,170426876
7,Delaware,234327,7813,31403165,4412370,8899481,12464894,19652753,26529258,30056514
8,District of Columbia,229466,10822,34743188,7442186,13245281,17240750,24153683,30301657,33570901
9,Florida,1726811,63147,750608252,213461301,325886670,401558825,540976844,663846145,726074247
10,Georgia,1282091,54209,301921590,57388490,104804525,139242396,203999008,261742257,290481346
11,Hawaii,31433,681,46035510,6481803,12912656,18065442,28514439,38613296,44050315
12,Idaho,103987,2828,46384513,7043329,13662436,18722793,28953730,38984622,44308028
13,Illinois,2843621,122000,459437029,88047538,157346611,207726891,304850658,395935092,442093637
14,Indiana,920434,53042,186286142,27521323,53675233,74168484,116195909,157030083,178430564
15,Iowa,396980,9203,93417302,12488315,25114430,35149212,56092713,77294312,88854221
16,Kansas,231885,6527,86807929,13696092,26199853,35706441,54817452,73365708,83138128
17,Kentucky,246480,11851,108540518,15254352,30804516,42952236,67620702,91263425,103719767
18,Louisiana,1443404,90609,116954746,18792763,36396221,49866733,76350641,100241514,112100922
19,Maine,61284,2451,38926722,5077172,10692933,15056768,23892336,32507652,37139488
20,Maryland,1173802,56126,236559749,36136729,70837704,98181542,152060724,202499680,227839320
21,Massachusetts,2929874,167711,328495225,77774616,127550850,162355164,227412810,286859265,317449124
22,Michigan,2023047,171867,301269271,50208498,93844946,127515398,194799059,258433238,290078466
23,Minnesota,377850,18934,206705932,33783433,63611623,85939203,130489872,174387310,197857181
24,Mississippi,358459,15047,61807904,8290744,17304630,24548694,38932555,52006558,58837784
25,Missouri,395952,17924,173130847,28163355,53131079,72303155,110588585,147135646,166087991
26,Montana,23875,676,30503637,4744200,9139061,12461177,19265746,25846198,29239933
27,Nebraska,259429,3535,58525931,8838903,16946908,23218983,36083323,48838557,55755143
28,Nevada,259808,11975,98309878,23874156,37333048,47218122,66504182,84573854,94348203
29,New Hampshire,117245,4507,54745645,8956761,16707828,22694489,34638683,46284032,52421534
30,New Jersey,5645458,332869,396393676,77681603,140320265,185056320,269261777,345542637,382969778
31,New Mexico,177827,6867,49827470,6965833,14302259,20204838,31837093,42449792,47876784
32,New York,15041806,1081194,855923119,250365011,377131528,462031203,619086475,760926774,830808771
33,North Carolina,568719,19258,287924949,46091164,90608605,123830258,187648941,245963463,276087066
34,North Dakota,55932,1219,25255625,3604574,7073108,9733582,15307366,20973814,24038632
35,Ohio,908834,47879,340830550,50436504,99481171,136759826,211894064,285438258,325323706
36,Oklahoma,187462,10394,99128116,16211551,30719528,41653327,63444374,84095597,94931870
37,Oregon,134979,5067,133480354,20929016,40620618,55579971,85096784,113325285,127898239
38,Pennsylvania,2320771,127278,428465752,72694735,136621454,184125609,277366419,366264333,412054991
39,Rhode Island,401931,14251,35997730,5705938,10891229,14920731,22953319,30559886,34510941
40,South Carolina,313173,11859,133226223,20541178,40519282,55763743,85745273,113230459,127499350
41,South Dakota,122292,1121,26937890,4572180,8316422,11093874,16817058,22572669,25713587
42,Tennessee,583792,10198,185509888,33032654,60793344,81219315,121020622,158200295,177768712
43,Texas,1553075,41267,907906533,200671712,340091337,439367608,624949715,790758741,874823715
44,Utah,245859,2472,91266545,15955410,28644423,38145900,57498266,76877969,87217572
45,Vermont,45230,2320,20481722,2953450,5883104,8166850,12780719,17238224,19630470
46,Virginia,866807,28754,311563990,48947370,95294396,131722445,202082766,267111487,299491962
47,Washington,807848,42371,301047997,56161054,100723679,133493477,196827722,257340470,288919311
48,West Virginia,56158,1950,40224760,4482103,10077647,14708262,24382069,33721011,38437287
49,Wisconsin,393823,15587,185948284,28215039,53841327,73692520,114778538,155869897,177843906
50,Wyoming,28407,281,21692660,5985614,8544166,10478127,14560102,18730918,20896804

In [45]:
COVIDagi.to_csv('COVIDAGI.csv')